<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.tag.CmdbTagMapper">

    <select id="searchTagList" parameterType="neatlogic.framework.cmdb.dto.tag.TagVo"
            resultType="neatlogic.framework.cmdb.dto.tag.TagVo">
        SELECT id, name
        from cmdb_tag
        <where>
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%',#{keyword},'%')
            </if>
        </where>
        ORDER BY name
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="searchTagListCount" parameterType="neatlogic.framework.cmdb.dto.tag.TagVo"
            resultType="int">
        SELECT COUNT(id)
        from cmdb_tag
        <where>
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>

    <insert id="insertCmdbTag" parameterType="neatlogic.framework.cmdb.dto.tag.TagVo">
        INSERT IGNORE INTO cmdb_tag (id, name)
        VALUES (#{id}, #{name})
    </insert>
</mapper>
