<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2022 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.group.GroupMapper">
    <cache-ref namespace="neatlogic.module.cmdb.dao.mapper.ci.CiMapper"/>
    <select id="getActiveGroupByCiId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.group.GroupVo"
            useCache="true">
        SELECT a.id,
               a.description,
               a.name,
               a.type,
               a.is_active      as isActive,
               a.status,
               a.cientity_count as ciEntityCount,
               a.error          as error,
               a.fcd,
               a.fcu,
               a.lcd,
               a.lcu
        from cmdb_group a
                 join cmdb_ci_group b on a.id = b.group_id
        where b.ci_id = #{value}
          and a.is_active = 1
    </select>

    <select id="getCiIdByGroupIdList" resultType="java.lang.Long" useCache="true">
        SELECT
        `ci_id`
        FROM
        `cmdb_ci_group` a join cmdb_group b on a.group_id = b.id
        WHERE
        a.group_id IN
        <foreach collection="groupIdList" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND
        a.ci_id IN
        <foreach collection="ciIdList" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND
        b.type IN
        <foreach collection="typeList" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getCiEntityIdByGroupIdList" resultType="java.lang.Long" useCache="true">
        SELECT
        a.`cientity_id`
        FROM
        `cmdb_cientity_group` a join `cmdb_group` b on a.group_id = b.id
        WHERE
        a.group_id IN
        <foreach collection="groupIdList" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND
        a.cientity_id IN
        <foreach collection="ciEntityIdList" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND
        b.type IN
        <foreach collection="typeList" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getDoingGroupByServerId" parameterType="neatlogic.framework.cmdb.dto.group.GroupVo"
            resultType="neatlogic.framework.cmdb.dto.group.GroupVo" useCache="false">
        select a.id,
               a.is_active      as isActive,
               a.name,
               a.type,
               a.description,
               a.cientity_count AS ciEntityCount,
               a.status
        from cmdb_group a
        where server_id = #{serverId}
          and status = #{status}
    </select>

    <select id="getCiEntityCountByGroupId" parameterType="java.lang.Long" resultType="int" useCache="false">
        select count(1)
        from cmdb_cientity_group
        where group_id = #{value}
    </select>

    <sql id="searchGroupCondition">
        <where>
            <if test="idList != null and idList.size() > 0">
                and a.id in
                <foreach collection="idList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="isActive != null">
                and a.is_active = #{isActive}
            </if>
            <if test="keyword != null and keyword != ''">
                and (a.name LIKE CONCAT('%',#{keyword},'%') or a.description LIKE CONCAT('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <select id="searchGroup" parameterType="neatlogic.framework.cmdb.dto.group.GroupVo"
            resultType="neatlogic.framework.cmdb.dto.group.GroupVo" useCache="false">
        select a.id,
        a.is_active as isActive,
        a.name,
        a.type,
        a.description,
        a.cientity_count AS ciEntityCount,
        a.error,
        a.status
        from cmdb_group a
        <include refid="searchGroupCondition"></include>
        <if test="idList == null or idList.size() == 0">
            LIMIT #{startNum},#{pageSize}
        </if>
    </select>

    <select id="searchGroupCount" parameterType="neatlogic.framework.cmdb.dto.group.GroupVo" resultType="int"
            useCache="false">
        select count(1)
        from cmdb_group a
        <include refid="searchGroupCondition"></include>
    </select>

    <resultMap id="groupResultMap" type="neatlogic.framework.cmdb.dto.group.GroupVo">
        <id property="id" column="id"/>
        <result property="isActive" column="isActive"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="description" column="description"/>
        <result property="ciEntityCount" column="ciEntityCount"/>
        <result property="status" column="status"/>
        <result property="error" column="error"/>
        <collection property="ciGroupList" ofType="neatlogic.framework.cmdb.dto.group.CiGroupVo">
            <id property="id" column="ciGroupId"/>
            <result property="ciId" column="ciId"/>
            <result property="ruleStr" column="ruleStr"/>
        </collection>
        <collection property="groupAuthList" ofType="neatlogic.framework.cmdb.dto.group.GroupAuthVo">
            <result property="groupId" column="authGroupId"/>
            <result property="authType" column="authType"/>
            <result property="authUuid" column="authUuid"/>
        </collection>
    </resultMap>

    <select id="getGroupById" parameterType="java.lang.Long" resultMap="groupResultMap" useCache="true">
        select a.id,
               a.is_active      as isActive,
               a.name,
               a.type,
               a.description,
               a.cientity_count AS ciEntityCount,
               a.status         AS status,
               a.error          as error,
               b.id             as ciGroupId,
               b.ci_id          as ciId,
               b.rule           as ruleStr,
               c.group_id       as authGroupId,
               c.auth_type      as authType,
               c.auth_uuid      as authUuid
        from cmdb_group a
                 left join cmdb_ci_group b on a.id = b.group_id
                 left join cmdb_group_auth c on a.id = c.group_id
        where a.id = #{value}
    </select>

    <select id="getCiGroupByCiId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.group.CiGroupVo" useCache="true">
        select a.id,
               a.ci_id    AS ciId,
               a.group_id AS groupId,
               a.rule     AS ruleStr
        FROM cmdb_ci_group a
                 JOIN cmdb_group b ON a.group_id = b.id AND b.is_active = 1
        WHERE a.ci_id = #{value}
    </select>

    <select id="getGroupByUserUuid" resultMap="groupResultMap" useCache="true">
        select a.id,
        a.is_active as isActive,
        a.name,
        a.type,
        a.description,
        a.cientity_count AS ciEntityCount,
        a.status AS status,
        a.error as error,
        b.id as ciGroupId,
        b.ci_id as ciId,
        b.rule as ruleStr,
        c.group_id as authGroupId,
        c.auth_type as authType,
        c.auth_uuid as authUuid
        from cmdb_group a
        left join cmdb_ci_group b on a.id = b.group_id
        join cmdb_group_auth c on a.id = c.group_id and
        ((c.auth_type = 'common' AND c.auth_uuid = 'alluser')
        <if test="userUuid != null and userUuid != ''">
            OR (
            c.auth_type = 'user'
            AND
            c.auth_uuid = #{userUuid}
            )
        </if>
        <if test="teamUuidList != null and teamUuidList.size() > 0">
            OR (
            c.auth_type = 'team'
            AND
            c.auth_uuid IN
            <foreach collection="teamUuidList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="roleUuidList != null and roleUuidList.size() > 0">
            OR (
            c.auth_type = 'role'
            AND
            c.auth_uuid IN
            <foreach collection="roleUuidList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>)
        </if>
        )
    </select>

    <select id="getGroupIdByUserUuid" resultType="java.lang.Long" useCache="true">
        SELECT -1 AS group_id FROM `cmdb_group_auth` WHERE FALSE
        <if test="userUuid != null and userUuid != ''">
            UNION
            SELECT
            `group_id`
            FROM
            `cmdb_group_auth`
            WHERE
            auth_type = 'user'
            AND
            auth_uuid = #{userUuid}
        </if>
        <if test="teamUuidList != null and teamUuidList.size() > 0">
            UNION
            SELECT
            `group_id`
            FROM
            `cmdb_group_auth`
            WHERE
            auth_type = 'team'
            AND
            auth_uuid IN
            <foreach collection="teamUuidList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="roleUuidList != null and roleUuidList.size() > 0">
            UNION
            SELECT
            `group_id`
            FROM
            `cmdb_group_auth`
            WHERE
            auth_type = 'role'
            AND
            auth_uuid IN
            <foreach collection="roleUuidList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        UNION
        SELECT `group_id` FROM `cmdb_group_auth`
        WHERE
        auth_type = 'common' AND auth_uuid = 'alluser'
    </select>

    <update id="updateGroupCiEntityCount" parameterType="neatlogic.framework.cmdb.dto.group.GroupVo">
        update cmdb_group
        set cientity_count = #{ciEntityCount}
        where id = #{id}
    </update>

    <update id="updateGroupStatus" parameterType="neatlogic.framework.cmdb.dto.group.GroupVo">
        update cmdb_group
        set status    = #{status},
            server_id = #{serverId},
            error     = #{error}
        where id = #{id}
    </update>

    <update id="updateGroup" parameterType="neatlogic.framework.cmdb.dto.group.GroupVo">
        update cmdb_group
        set name        = #{name},
            type        = #{type},
            description = #{description},
            is_active   = #{isActive},
            lcd         = now(3),
            lcu         = #{lcu}
        where id = #{id}
    </update>

    <insert id="insertGroup" parameterType="neatlogic.framework.cmdb.dto.group.GroupVo">
        insert into cmdb_group (id,
                                name,
                                type,
                                description,
                                is_active,
                                cientity_count,
                                status,
                                fcd,
                                fcu)
        values (#{id},
                #{name},
                #{type},
                #{description},
                #{isActive},
                0,
                #{status},
                now(3),
                #{fcu})
    </insert>

    <insert id="insertCiGroup" parameterType="neatlogic.framework.cmdb.dto.group.CiGroupVo">
        insert into cmdb_ci_group (id, ci_id, group_id, rule)
        values (#{id}, #{ciId}, #{groupId}, #{ruleStr})
    </insert>

    <insert id="insertCiEntityGroup" parameterType="neatlogic.framework.cmdb.dto.group.CiEntityGroupVo">
        insert ignore into cmdb_cientity_group (cientity_id, group_id, ci_group_id)
        values (#{ciEntityId}, #{groupId}, #{ciGroupId})
    </insert>

    <insert id="insertGroupAuth" parameterType="neatlogic.framework.cmdb.dto.group.GroupAuthVo">
        insert ignore into cmdb_group_auth (group_id, auth_type, auth_uuid)
        values (#{groupId}, #{authType}, #{authUuid})
    </insert>

    <delete id="deleteGroupAuthByGroupId" parameterType="java.lang.Long">
        delete
        from cmdb_group_auth
        where group_id = #{value}
    </delete>

    <delete id="deleteGroupById" parameterType="java.lang.Long">
        delete a,b,c,d
        from cmdb_group a
                 left join cmdb_ci_group b on a.id = b.group_id
                 left join cmdb_cientity_group c on a.id = c.group_id
                 left join cmdb_group_auth d on a.id = d.group_id
        where a.id = #{value}
    </delete>

    <delete id="deleteCiEntityGroupByGroupId" parameterType="java.lang.Long">
        delete
        from cmdb_cientity_group
        where group_id = #{value}
    </delete>

    <delete id="deleteCiEntityGroupByCiEntityIdAndCiGroupId">
        delete
        from cmdb_cientity_group
        where cientity_id = #{ciEntityId}
          and ci_group_id = #{ciGroupId}
    </delete>

    <delete id="deleteCiGroupByGroupId" parameterType="java.lang.Long">
        delete
        from cmdb_ci_group
        where group_id = #{value}
    </delete>
</mapper>
