<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.prop.PropMapper">
    <cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="30000" size="100"></cache>

    <select id="checkPropIsInUsed" parameterType="codedriver.framework.cmdb.dto.prop.PropVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM (
                 SELECT id
                 FROM `cmdb_attr`
                 WHERE prop_id = #{value}
                 LIMIT 1
             ) t
    </select>

    <select id="checkPropNameIsExists" parameterType="codedriver.framework.cmdb.dto.prop.PropVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM (
                 SELECT id
                 FROM `cmdb_prop`
                 WHERE name = #{name}
                   AND id != #{id}
                 LIMIT 1
             ) t
    </select>

    <select id="checkPropLabelIsExists" parameterType="codedriver.framework.cmdb.dto.prop.PropVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM (
                 SELECT id
                 FROM `cmdb_prop`
                 WHERE label = #{label}
                   AND id != #{id}
                 LIMIT 1
             ) t
    </select>

    <select id="getPropByAttrId" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.prop.PropVo"
            useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`handler`,
               a.`config`
        FROM `cmdb_prop` a
                 JOIN cmdb_attr b ON a.id = b.prop_id
        WHERE b.id = #{value}
    </select>

    <select id="getPropById" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.prop.PropVo"
            useCache="true">
        SELECT `id`,
               `name`,
               `label`,
               `description`,
               `handler`,
               `config`
        FROM `cmdb_prop`
        WHERE id = #{value}
    </select>

    <sql id="searchPropCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                AND (name LIKE CONCAT('%',#{keyword},'%')
                OR label LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="handler != null and handler != ''">
                AND handler = #{handler}
            </if>
        </where>
    </sql>

    <select id="searchProp" parameterType="codedriver.framework.cmdb.dto.prop.PropVo"
            resultType="codedriver.framework.cmdb.dto.prop.PropVo" useCache="false">
        SELECT
        `id`,
        `name`,
        `label`,
        `description`,
        `handler`,
        (select count(1) FROM cmdb_attr ca WHERE ca.prop_id = a.id) AS invokeCount
        FROM
        `cmdb_prop` a
        <include refid="searchPropCondition"></include>
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="searchPropCount" parameterType="codedriver.framework.cmdb.dto.prop.PropVo" resultType="int"
            useCache="false">
        SELECT
        count(1)
        FROM
        `cmdb_prop`
        <include refid="searchPropCondition"></include>
    </select>

    <insert id="insertProp" parameterType="codedriver.framework.cmdb.dto.prop.PropVo">
        INSERT INTO `cmdb_prop` (`id`,
                                 `name`,
                                 `label`,
                                 `description`,
                                 `handler`,
                                 `config`)
        VALUES (#{id},
                #{name},
                #{label},
                #{description},
                #{handler},
                #{configStr})
    </insert>

    <update id="updateProp" parameterType="codedriver.framework.cmdb.dto.prop.PropVo">
        UPDATE
            `cmdb_prop`
        SET `label`       = #{label},
            `description` = #{description},
            `handler`     = #{handler},
            `config`      = #{configStr}
        WHERE `id` = #{id}
    </update>

    <delete id="deletePropById" parameterType="java.lang.Long">
        DELETE
        FROM `cmdb_prop`
        WHERE `id` = #{value}
    </delete>
</mapper>
