<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.matrix.dao.mapper.MatrixCiEntityMapper">

    <select id="searchCiEntityList" parameterType="neatlogic.module.cmdb.matrix.dto.MatrixCiEntitySearchVo"
            resultType="java.util.Map">
        SELECT
        <include refid="ciEntityColumnSql"/>
        <include refid="ciEntityDriverTableSql"/>
        <include refid="ciEntityJoinSql"/>
        <include refid="ciEntityConditionSql"/>
        GROUP BY `ci_base`.`id`
        LIMIT #{startNum},#{pageSize}
    </select>

    <select id="searchCiEntityCount" parameterType="neatlogic.module.cmdb.matrix.dto.MatrixCiEntitySearchVo"
            resultType="int">
        SELECT COUNT(1) FROM (
            SELECT
            <include refid="ciEntityColumnSql"/>
            <include refid="ciEntityDriverTableSql"/>
            <include refid="ciEntityJoinSql"/>
            <include refid="ciEntityConditionSql"/>
            GROUP BY `ci_base`.`id`
        ) t
    </select>

    <sql id="ciEntityColumnSql">
        <if test="distinct == true">
            DISTINCT
        </if>
        <trim suffixOverrides=",">
            <if test="showConstList != null and showConstList.size() > 0">
                <foreach collection="showConstList" item="item">
                    <choose>
                        <when test="item == 'const_id'">
                            `ci_base`.`id` AS const_id,
                        </when>
                        <when test="item == 'const_ciLabel'">
                            GROUP_CONCAT(DISTINCT `ci_base`.`ci_id`) AS const_ciLabel,
                        </when>
                        <when test="item == 'const_typeName'">
                            GROUP_CONCAT(DISTINCT `ci`.`type_id`) AS const_typeName,
                        </when>
                        <when test="item == 'const_inspectTime'">
                            <choose>
                                <when test="isVirtual == 1">
                                    NULL AS const_inspectTime,
                                </when>
                                <otherwise>
                                    MAX(`ci_base`.`inspect_time`) AS const_inspectTime,
                                </otherwise>
                            </choose>
                        </when>
                        <when test="item == 'const_inspectStatus'">
                            <choose>
                                <when test="isVirtual == 1">
                                    NULL AS const_inspectStatus,
                                </when>
                                <otherwise>
                                    GROUP_CONCAT(DISTINCT `ci_base`.`inspect_status`) AS const_inspectStatus,
                                </otherwise>
                            </choose>
                        </when>
                        <when test="item == 'const_monitorTime'">
                            <choose>
                                <when test="isVirtual == 1">
                                    NULL AS const_monitorTime,
                                </when>
                                <otherwise>
                                    MAX(`ci_base`.`monitor_time`) AS const_monitorTime,
                                </otherwise>
                            </choose>
                        </when>
                        <when test="item == 'const_monitorStatus'">
                            <choose>
                                <when test="isVirtual == 1">
                                    NULL AS `const_monitorStatus`,
                                </when>
                                <otherwise>
                                    GROUP_CONCAT(DISTINCT `ci_base`.`monitor_status`) AS const_monitorStatus,
                                </otherwise>
                            </choose>
                        </when>
                    </choose>
                </foreach>
            </if>

            <if test="showAttrList != null and showAttrList.size() > 0">
                <foreach collection="showAttrList" item="attr">
                    <choose>
                        <when test="attr.needTargetCi == false">
                            GROUP_CONCAT(DISTINCT ${attr.ciTableName}.`${attr.id}`) AS `attr_${attr.id}`,
                        </when>
                        <otherwise>
                            GROUP_CONCAT(DISTINCT `cmdb_attrentity_${attr.id}`.`to_cientity_id` ORDER BY `cmdb_attrentity_${attr.id}`.`to_cientity_id` ASC) AS `attr_${attr.id}`,
                        </otherwise>
                    </choose>
                </foreach>
            </if>
            <if test="showRelList != null and showRelList.size() > 0">
                <foreach collection="showRelList" item="rel">
                    <choose>
                        <when test="rel.direction=='from'">
                            GROUP_CONCAT(DISTINCT `cmdb_relentity_${rel.id}_${rel.direction}`.`to_cientity_id` ORDER BY `cmdb_relentity_${rel.id}_${rel.direction}`.`to_cientity_id` ASC) AS `rel${rel.direction}_${rel.id}`,
                        </when>
                        <when test="rel.direction=='to'">
                            GROUP_CONCAT(DISTINCT `cmdb_relentity_${rel.id}_${rel.direction}`.`from_cientity_id` ORDER BY `cmdb_relentity_${rel.id}_${rel.direction}`.`from_cientity_id` ASC) AS `rel${rel.direction}_${rel.id}`,
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="showGlobalAttrList != null and showGlobalAttrList.size() > 0">
                <foreach collection="showGlobalAttrList" item="globalAttr">
                    GROUP_CONCAT(DISTINCT `cmdb_cientity_globalattritem_${globalAttr.id}`.`item_id` ORDER BY `cmdb_cientity_globalattritem_${globalAttr.id}`.`item_id` ASC) AS `global_${globalAttr.id}`,
                </foreach>
            </if>
        </trim>
    </sql>

    <sql id="ciEntityDriverTableSql">
        <choose>
            <when test="fromCi.isVirtual == 1">
                <!--虚拟模型没有实体表，所以驱动表要换成对应的模型视图-->
                FROM ${fromCi.ciTableName} `ci_base`
                JOIN `cmdb_ci` `ci` ON `ci_base`.`ci_id` = `ci`.`id`
            </when>
            <otherwise>
                FROM `cmdb_cientity` `ci_base`
                JOIN `cmdb_ci` `ci` ON `ci_base`.`ci_id` = `ci`.`id`
                <choose>
                    <when test="fromCi.isAbstract == 1">
                        AND (`ci`.`lft` &gt;= #{fromCi.lft} AND `ci`.`rht` &lt;= #{fromCi.rht})
                    </when>
                    <otherwise>
                        AND `ci`.`id` = #{fromCi.id}
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </sql>

    <sql id="ciEntityJoinSql">
        <if test="joinCiList != null and joinCiList.size() > 0">
            <foreach collection="joinCiList" item="ci" index="index">
                LEFT JOIN ${ci.ciTableName} FORCE INDEX(PRIMARY) ON `ci_base`.`id` = ${ci.ciTableName}.`cientity_id`
            </foreach>
        </if>
        <if test="joinAttrList != null and joinAttrList.size() > 0">
            <foreach collection="joinAttrList" item="attr">
                LEFT JOIN `cmdb_attrentity` `cmdb_attrentity_${attr.id}` ON `ci_base`.`id` = `cmdb_attrentity_${attr.id}`.`from_cientity_id` AND `cmdb_attrentity_${attr.id}`.`attr_id` = #{attr.id}
            </foreach>
        </if>
        <if test="joinRelList != null and joinRelList.size() > 0">
            <foreach collection="joinRelList" item="rel">
                <choose>
                    <when test="rel.direction=='from'">
                        LEFT JOIN `cmdb_relentity` `cmdb_relentity_${rel.id}_${rel.direction}`
                        ON `ci_base`.`id` = `cmdb_relentity_${rel.id}_${rel.direction}`.`from_cientity_id`
                        AND `cmdb_relentity_${rel.id}_${rel.direction}`.`rel_id` = #{rel.id}
                    </when>
                    <when test="rel.direction=='to'">
                        LEFT JOIN `cmdb_relentity` `cmdb_relentity_${rel.id}_${rel.direction}`
                        ON `ci_base`.`id` = `cmdb_relentity_${rel.id}_${rel.direction}`.`to_cientity_id`
                        AND `cmdb_relentity_${rel.id}_${rel.direction}`.`rel_id` = #{rel.id}
                    </when>
                </choose>
            </foreach>
        </if>
        <if test="joinGlobalAttrList != null and joinGlobalAttrList.size() > 0">
            <foreach collection="joinGlobalAttrList" item="globalAttr">
                left join `cmdb_cientity_globalattritem` `cmdb_cientity_globalattritem_${globalAttr.id}`
                ON `cmdb_cientity_globalattritem_${globalAttr.id}`.`cientity_id` = `ci_base`.`id`
                AND `cmdb_cientity_globalattritem_${globalAttr.id}`.`attr_id` = #{globalAttr.id}
            </foreach>
        </if>
        <if test="isCheckExpiredTime == 1">
            LEFT JOIN `cmdb_cientity_expiredtime` xx ON xx.`cientity_id` = `ci_base`.`id`
        </if>
    </sql>

    <sql id="ciEntityConditionSql">
        <where>
            <!--过期配置项过滤开始-->
            <if test="isCheckExpiredTime == 1">
            (xx.`cientity_id` IS NULL OR xx.`expired_time` >= NOW())
            </if>
            <!--过期配置项过滤结束-->
            <if test="idList != null and idList.size() > 0">
                AND `ci_base`.`id` IN
                <foreach collection="idList" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="filterCiIdList != null and filterCiIdList.size() > 0">
                AND `ci_base`.`ci_id` IN
                <foreach collection="filterCiIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="globalAttrFilterList != null and globalAttrFilterList.size() > 0">
                AND
                <foreach collection="globalAttrFilterList" item="globalAttrFilter" open="(" close=")" separator=" and ">
                    <choose>
                        <when test="globalAttrFilter.expression == 'equal'">
                            EXISTS (SELECT 1 FROM `cmdb_cientity_globalattritem` a WHERE a.`cientity_id` = `ci_base`.id
                            AND a.`attr_id` = #{globalAttrFilter.attrId}
                            GROUP BY a.`cientity_id`
                            HAVING COUNT(a.`item_id`) = ${globalAttrFilter.valueList.size()}
                            AND GROUP_CONCAT(a.`item_id` ORDER BY a.`item_id` ASC) =
                            <foreach collection="globalAttrFilter.valueList" item="value" separator="," open="'" close="'">${value}</foreach>)
                        </when>
                        <when test="globalAttrFilter.expression == 'notequal'">
                            NOT EXISTS (SELECT 1 FROM `cmdb_cientity_globalattritem` a WHERE a.`cientity_id` = `ci_base`.id
                            AND a.`attr_id` = #{globalAttrFilter.attrId}
                            GROUP BY a.`cientity_id`
                            HAVING COUNT(a.`item_id`) = ${globalAttrFilter.valueList.size()}
                            AND GROUP_CONCAT(a.`item_id` ORDER BY a.`item_id` ASC) =
                            <foreach collection="globalAttrFilter.valueList" item="value" separator="," open="'" close="'">${value}</foreach>)
                        </when>
                        <when test="globalAttrFilter.expression == 'like'">
                            EXISTS (SELECT 1 FROM `cmdb_cientity_globalattritem` a WHERE a.`cientity_id` = `ci_base`.id
                            AND a.`attr_id` = #{globalAttrFilter.attrId}
                            AND a.item_id in
                            <foreach collection="globalAttrFilter.valueList" item="value" open="(" close=")"
                                     separator=",">
                                #{value}
                            </foreach>)
                        </when>
                        <when test="globalAttrFilter.expression == 'notlike'">
                            NOT EXISTS (SELECT 1 FROM `cmdb_cientity_globalattritem` a WHERE a.`cientity_id` = `ci_base`.id
                            AND a.`attr_id` = #{globalAttrFilter.attrId}
                            AND a.item_id in
                            <foreach collection="globalAttrFilter.valueList" item="value" open="(" close=")"
                                     separator=",">
                                #{value}
                            </foreach>)
                        </when>
                        <when test="globalAttrFilter.expression == 'is-null'">
                            NOT EXISTS (SELECT 1 FROM `cmdb_cientity_globalattritem` a WHERE a.`cientity_id` = `ci_base`.id
                            AND a.`attr_id` = #{globalAttrFilter.attrId})
                        </when>
                        <when test="globalAttrFilter.expression == 'is-not-null'">
                            EXISTS (SELECT 1 FROM `cmdb_cientity_globalattritem` a WHERE a.`cientity_id` = `ci_base`.id
                            AND a.`attr_id` = #{globalAttrFilter.attrId})
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="attrFilterList != null and attrFilterList.size() > 0">
                <foreach collection="attrFilterList" item="attrFilter">
                    <if test="(attrFilter.valueList != null and attrFilter.valueList.size() > 0) or attrFilter.expression == 'is-null' or attrFilter.expression == 'is-not-null'">
                        <choose>
                            <when test="attrFilter.needTargetCi == true">
                                AND
                                <choose>
                                    <when test="attrFilter.expression == 'like'">
                                        EXISTS (SELECT 1 FROM `cmdb_attrentity` a WHERE a.`from_cientity_id` = `ci_base`.`id`
                                        AND a.`attr_id` = #{attrFilter.attrId}
                                        AND a.`to_cientity_id` IN
                                        <foreach collection="attrFilter.valueList" item="value" open="(" close=")"
                                                 separator=",">
                                            #{value}
                                        </foreach>)
                                    </when>
                                    <when test="attrFilter.expression == 'equal'">
                                        EXISTS (SELECT 1 FROM `cmdb_attrentity` a WHERE a.`from_cientity_id` = `ci_base`.`id`
                                        AND a.`attr_id` = #{attrFilter.attrId}
                                        GROUP BY a.`from_cientity_id`
                                        HAVING COUNT(a.`to_cientity_id`) = ${attrFilter.valueList.size()}
                                        AND GROUP_CONCAT(a.`to_cientity_id` ORDER BY a.`to_cientity_id` ASC) =
                                        <foreach collection="attrFilter.valueList" item="value" separator="," open="'" close="'">${value}</foreach>)
                                    </when>
                                    <when test="attrFilter.expression == 'notlike'">
                                        NOT EXISTS (SELECT 1 FROM `cmdb_attrentity` a WHERE a.`from_cientity_id` = `ci_base`.`id`
                                        AND a.`attr_id` = #{attrFilter.attrId}
                                        AND a.`to_cientity_id` IN
                                        <foreach collection="attrFilter.valueList" item="value" open="(" close=")"
                                                 separator=",">
                                            #{value}
                                        </foreach>)
                                    </when>
                                    <when test="attrFilter.expression == 'notequal'">
                                        NOT EXISTS (SELECT 1 FROM `cmdb_attrentity` a WHERE a.`from_cientity_id` = `ci_base`.`id`
                                        AND a.`attr_id` = #{attrFilter.attrId}
                                        GROUP BY a.`from_cientity_id`
                                        HAVING COUNT(a.`to_cientity_id`) = ${attrFilter.valueList.size()}
                                        AND GROUP_CONCAT(a.`to_cientity_id` ORDER BY a.`to_cientity_id` ASC) =
                                        <foreach collection="attrFilter.valueList" item="value" separator="," open="'" close="'">${value}</foreach>)
                                    </when>
                                    <when test="attrFilter.expression == 'is-null'">
                                        NOT EXISTS (SELECT 1 FROM `cmdb_attrentity` a WHERE a.`from_cientity_id` = `ci_base`.`id`
                                        AND a.`attr_id` = #{attrFilter.attrId})
                                    </when>
                                    <when test="attrFilter.expression == 'is-not-null'">
                                        EXISTS (SELECT 1 FROM `cmdb_attrentity` a WHERE a.`from_cientity_id` = `ci_base`.`id`
                                        AND a.`attr_id` = #{attrFilter.attrId})
                                    </when>
                                </choose>
                            </when>
                            <otherwise>
                                <choose>
                                    <when test="attrFilter.expression == 'equal'">
                                        <choose>
                                            <when test="attrFilter.valueList.size > 1">
                                                <choose>
                                                    <when test="attrFilter.type != 'set'">
                                                        AND ${attrFilter.ciTableName}.`${attrFilter.attrId}_hash` in
                                                        <foreach collection="attrFilter.valueList" item="item" open="("
                                                                 close=")" separator=",">
                                                            #{item,typeHandler=Md5Handler}
                                                        </foreach>
                                                    </when>
                                                    <otherwise>
                                                        AND ${attrFilter.ciTableName}.`${attrFilter.attrId}` =
                                                        #{attrFilter.value}
                                                    </otherwise>
                                                </choose>
                                            </when>
                                            <otherwise>
                                                <choose>
                                                    <!--如果是空值需要兼容两种情况-->
                                                    <when test="attrFilter.value == ''">
                                                        AND (${attrFilter.ciTableName}.`${attrFilter.attrId}` = '' OR
                                                        ${attrFilter.ciTableName}.`${attrFilter.attrId}` is null)
                                                    </when>
                                                    <otherwise>
                                                        AND ${attrFilter.ciTableName}.`${attrFilter.attrId}` =
                                                        #{attrFilter.value}
                                                    </otherwise>
                                                </choose>
                                            </otherwise>
                                        </choose>
                                    </when>
                                    <when test="attrFilter.expression == 'notequal'">
                                        <choose>
                                            <when test="attrFilter.valueList.size > 1">
                                                AND ${attrFilter.ciTableName}.`${attrFilter.attrId}` !=
                                                #{attrFilter.value}
                                            </when>
                                            <otherwise>
                                                AND (${attrFilter.ciTableName}.`${attrFilter.attrId}_hash` !=
                                                #{attrFilter.value,typeHandler=Md5Handler} or
                                                ${attrFilter.ciTableName}.`${attrFilter.attrId}` is null
                                                )
                                            </otherwise>
                                        </choose>
                                    </when>
                                    <when test="attrFilter.expression == 'like'">
                                        <choose>
                                            <when test="attrFilter.type != 'set'">
                                                AND ${attrFilter.ciTableName}.`${attrFilter.attrId}` LIKE
                                                CONCAT('%', #{attrFilter.value}, '%')
                                            </when>
                                            <otherwise>
                                                AND (
                                                <foreach collection="attrFilter.valueList" item="v" separator=" and ">
                                                    FIND_IN_SET(#{v},${attrFilter.ciTableName}.`${attrFilter.attrId}`) >
                                                    0
                                                </foreach>
                                                )
                                            </otherwise>
                                        </choose>
                                    </when>
                                    <when test="attrFilter.expression == 'notlike'">
                                        <choose>
                                            <when test="attrFilter.type != 'set'">
                                                AND ${attrFilter.ciTableName}.`${attrFilter.attrId}` NOT LIKE
                                                CONCAT('%', #{attrFilter.value}, '%')
                                            </when>
                                            <otherwise>
                                                AND (
                                                <foreach collection="attrFilter.valueList" item="v" separator=" and ">
                                                    FIND_IN_SET(#{v},${attrFilter.ciTableName}.`${attrFilter.attrId}`) =
                                                    0
                                                </foreach>
                                                )
                                            </otherwise>
                                        </choose>
                                    </when>
                                    <when test="attrFilter.expression == 'is-null'">
                                        AND (${attrFilter.ciTableName}.`${attrFilter.attrId}` IS NULL)
                                    </when>
                                    <when test="attrFilter.expression == 'is-not-null'">
                                        AND (${attrFilter.ciTableName}.`${attrFilter.attrId}` IS NOT NULL)
                                    </when>
                                    <when test="attrFilter.expression == 'between' and (@neatlogic.framework.cmdb.dao.ognl.Between@parse(attrFilter.type, attrFilter.value)[0] != null or @neatlogic.framework.cmdb.dao.ognl.Between@parse(attrFilter.type, attrFilter.value)[1] != null)">
                                        AND
                                        <if test="@neatlogic.framework.cmdb.dao.ognl.Between@parse(attrFilter.type, attrFilter.value)[0] != null">
                                            ${attrFilter.ciTableName}.`${attrFilter.attrId}` &gt;=
                                            ${@neatlogic.framework.cmdb.dao.ognl.Between@parse(attrFilter.type, attrFilter.value)[0]}
                                        </if>
                                        <if test="@neatlogic.framework.cmdb.dao.ognl.Between@parse(attrFilter.type, attrFilter.value)[0] != null and @neatlogic.framework.cmdb.dao.ognl.Between@parse(attrFilter.type, attrFilter.value)[1] != null">
                                            and
                                        </if>
                                        <if test="@neatlogic.framework.cmdb.dao.ognl.Between@parse(attrFilter.type, attrFilter.value)[1] != null">
                                            ${attrFilter.ciTableName}.`${attrFilter.attrId}` &lt;=
                                            ${@neatlogic.framework.cmdb.dao.ognl.Between@parse(attrFilter.type, attrFilter.value)[1]}
                                        </if>
                                    </when>
                                </choose>
                            </otherwise>
                        </choose>
                    </if>
                </foreach>
            </if>
            <if test="relFilterList != null and relFilterList.size() > 0">
                <foreach collection="relFilterList" item="relFilter">
                    <if test="(relFilter.valueList != null and relFilter.valueList.size() > 0) or relFilter.expression == 'is-null' or relFilter.expression == 'is-not-null'">
                        AND
                        <choose>
                            <when test="relFilter.expression == 'equal'">
                                <choose>
                                    <when test="relFilter.direction=='from'">
                                        EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`from_cientity_id` = `ci_base`.id AND a.`rel_id` = #{relFilter.relId}
                                        GROUP BY a.`from_cientity_id`
                                        HAVING COUNT(a.`to_cientity_id`) = ${relFilter.valueList.size()}
                                        AND GROUP_CONCAT(a.`to_cientity_id` ORDER BY a.`to_cientity_id` ASC) =
                                        <foreach collection="relFilter.valueList" item="value" separator="," open="'" close="'">${value}</foreach>)
                                    </when>
                                    <otherwise>
                                        EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`to_cientity_id` = `ci_base`.id AND a.`rel_id` = #{relFilter.relId}
                                        GROUP BY a.`to_cientity_id`
                                        HAVING COUNT(a.`from_cientity_id`) = ${relFilter.valueList.size()}
                                        AND GROUP_CONCAT(a.`from_cientity_id` ORDER BY a.`from_cientity_id` ASC) =
                                        <foreach collection="relFilter.valueList" item="value" separator="," open="'" close="'">${value}</foreach>)
                                    </otherwise>
                                </choose>
                            </when>
                            <when test="relFilter.expression == 'notequal'">
                                <choose>
                                    <when test="relFilter.direction=='from'">
                                        NOT EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`from_cientity_id` = `ci_base`.id AND a.`rel_id` = #{relFilter.relId}
                                        GROUP BY a.`from_cientity_id`
                                        HAVING COUNT(a.`to_cientity_id`) = ${relFilter.valueList.size()}
                                        AND GROUP_CONCAT(a.`to_cientity_id` ORDER BY a.`to_cientity_id` ASC) =
                                        <foreach collection="relFilter.valueList" item="value" separator="," open="'" close="'">${value}</foreach>)
                                    </when>
                                    <otherwise>
                                        NOT EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`to_cientity_id` = `ci_base`.id AND a.`rel_id` = #{relFilter.relId}
                                        GROUP BY a.`to_cientity_id`
                                        HAVING COUNT(a.`from_cientity_id`) = ${relFilter.valueList.size()}
                                        AND GROUP_CONCAT(a.`from_cientity_id` ORDER BY a.`from_cientity_id` ASC) =
                                        <foreach collection="relFilter.valueList" item="value" separator="," open="'" close="'">${value}</foreach>)
                                    </otherwise>
                                </choose>
                            </when>
                            <when test="relFilter.expression == 'like'">
                                <choose>
                                    <when test="relFilter.direction=='from'">
                                        EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`from_cientity_id` = `ci_base`.id AND a.`rel_id` = #{relFilter.relId}
                                        AND a.`to_cientity_id` IN
                                        <foreach collection="relFilter.valueList" item="value" separator="," open="(" close=")">
                                            #{value}
                                        </foreach>)
                                    </when>
                                    <otherwise>
                                        EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`to_cientity_id` = `ci_base`.id
                                        AND a.`rel_id` = #{relFilter.relId}
                                        AND a.`from_cientity_id` IN
                                        <foreach collection="relFilter.valueList" item="value" separator="," open="("
                                                 close=")">
                                            #{value}
                                        </foreach>)
                                    </otherwise>
                                </choose>
                            </when>
                            <when test="relFilter.expression == 'notlike'">
                                <choose>
                                    <when test="relFilter.direction=='from'">
                                        NOT EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`from_cientity_id` = `ci_base`.id AND a.`rel_id` = #{relFilter.relId}
                                        AND a.`to_cientity_id` IN
                                        <foreach collection="relFilter.valueList" item="value" separator="," open="(" close=")">
                                            #{value}
                                        </foreach>)
                                    </when>
                                    <otherwise>
                                        NOT EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`to_cientity_id` = `ci_base`.id
                                        AND a.`rel_id` = #{relFilter.relId}
                                        AND a.`from_cientity_id` IN
                                        <foreach collection="relFilter.valueList" item="value" separator="," open="("
                                                 close=")">
                                            #{value}
                                        </foreach>)
                                    </otherwise>
                                </choose>
                            </when>
                            <when test="relFilter.expression == 'is-null'">
                                <choose>
                                    <when test="relFilter.direction=='from'">
                                        NOT EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`from_cientity_id` = `ci_base`.id
                                        AND a.`rel_id` = #{relFilter.relId})
                                    </when>
                                    <otherwise>
                                        NOT EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`to_cientity_id` = `ci_base`.id
                                        AND a.`rel_id` = #{relFilter.relId})
                                    </otherwise>
                                </choose>
                            </when>
                            <when test="relFilter.expression == 'is-not-null'">
                                <choose>
                                    <when test="relFilter.direction=='from'">
                                        EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`from_cientity_id` = `ci_base`.id
                                        AND a.`rel_id` = #{relFilter.relId})
                                    </when>
                                    <otherwise>
                                        EXISTS (SELECT 1 FROM `cmdb_relentity` a WHERE a.`to_cientity_id` = `ci_base`.id
                                        AND a.`rel_id` = #{relFilter.relId})
                                    </otherwise>
                                </choose>
                            </when>
                        </choose>
                    </if>
                </foreach>
            </if>
        </where>
    </sql>
</mapper>
