<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.sync.SyncAuditMapper">

    <sql id="searchSyncAuditCondition">
        <where>
            <if test="idList != null and idList.size() > 0">
                and a.id in
                <foreach collection="idList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="ciCollectionId != null">
                and a.ci_collection_id= #{ciCollectionId}
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
            <if test="inputFrom != null and inputFrom != ''">
                and a.input_from = #{inputFrom}
            </if>
            <choose>
                <when test="hasError == true">
                    and a.error is not null
                </when>
                <when test="hasError == false">
                    and a.error is null
                </when>
            </choose>
            <if test="startTimeRange != null">
                <if test="startTimeRange.size() > 0">
                    AND a.start_time &gt;= STR_TO_DATE(#{startTimeRange[0]},'%Y-%m-%d')
                </if>
                <if test="startTimeRange.size() > 1">
                    AND a.start_time &lt;= STR_TO_DATE(#{startTimeRange[1]},'%Y-%m-%d')
                </if>
            </if>
            <if test="endTimeRange != null">
                <if test="endTimeRange.size() > 0">
                    AND a.end_time &gt;= STR_TO_DATE(#{endTimeRange[0]},'%Y-%m-%d')
                </if>
                <if test="endTimeRange.size() > 1">
                    AND a.end_time &lt;= STR_TO_DATE(#{endTimeRange[1]},'%Y-%m-%d')
                </if>
            </if>
        </where>
    </sql>

    <sql id="searchSyncDataAuditSql">
        <where>
            <if test="collectionName != null and collectionName != ''">
                AND collection_name = #{collectionName}
            </if>
            <if test="ciCollectionId != null">
                AND ci_collection_id = #{ciCollectionId}
            </if>
        </where>
    </sql>

    <select id="getSyncAuditById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo">
        select id,
               status,
               data_count           as dataCount,
               current_data_id      as currentDataId,
               ci_collection_id     as ciCollectionId,
               transaction_group_id as transactionGroupId,
               config               as configStr
        from cmdb_sync_audit
        where id = #{value}
    </select>

    <select id="getSyncAuditStatusById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo">
        select id, status
        from cmdb_sync_audit
        where id = #{value}
    </select>

    <select id="searchSyncDataAuditCount" parameterType="neatlogic.framework.cmdb.dto.sync.SyncDataAuditVo"
            resultType="int">
        select count(1)
        from cmdb_sync_data_audit
        <include refid="searchSyncDataAuditSql"></include>
    </select>

    <select id="searchSyncDataAudit" parameterType="neatlogic.framework.cmdb.dto.sync.SyncDataAuditVo"
            resultType="neatlogic.framework.cmdb.dto.sync.SyncDataAuditVo">
        select id,
        ci_collection_id as ciCollectionId,
        data_id as dataId,
        collection_name as collectionName,
        error as errorListStr
        from cmdb_sync_data_audit
        <include refid="searchSyncDataAuditSql"></include>
        limit #{startNum},#{pageSize}
    </select>

    <select id="searchSyncAuditCount" parameterType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo" resultType="int">
        select count(a.id)
        from cmdb_sync_audit a
        join cmdb_sync_ci_collection b on
        a.ci_collection_id = b.id
        <include refid="searchSyncAuditCondition"></include>
    </select>

    <select id="searchSyncAudit" parameterType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo"
            resultType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo">
        select a.id,
        a.ci_collection_id AS ciCollectionId,
        b.collection_name AS ciCollectionName,
        a.start_time AS startTime,
        a.end_time AS endTime,
        (UNIX_TIMESTAMP(IFNULL(end_time, NOW(3)))*1000 - UNIX_TIMESTAMP(start_time)*1000) AS timeCost,
        a.input_from AS inputFrom,
        a.status,
        a.transaction_group_id AS transactionGroupId,
        a.server_id AS serverId,
        (select count(1) from cmdb_sync_data_audit x where x.audit_id = a.id) as errorDataCount,
        a.data_count AS dataCount,
        a.error AS error
        from cmdb_sync_audit a
        join cmdb_sync_ci_collection b on
        a.ci_collection_id = b.id
        <include refid="searchSyncAuditCondition"></include>
        order by id desc
        <if test="idList == null or idList.size() == 0">
            limit #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getDoingSyncByServerId" parameterType="java.lang.Integer"
            resultType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo">
        select a.id,
               a.ci_collection_id     AS ciCollectionId,
               a.start_time           AS startTime,
               a.end_time             AS endTime,
               a.input_from           AS inputFrom,
               a.status,
               a.transaction_group_id AS transactionGroupId,
               a.server_id            AS serverId,
               a.error                AS error
        from cmdb_sync_audit a
        where a.server_id = #{value}
          and (a.status = 'doing' or a.status = 'pausing')
    </select>

    <select id="getDoingSyncByCiId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo">
        select a.id,
               a.ci_collection_id     AS ciCollectionId,
               a.start_time           AS startTime,
               a.end_time             AS endTime,
               a.input_from           AS inputFrom,
               a.status,
               a.transaction_group_id AS transactionGroupId,
               a.server_id            AS serverId,
               a.error                AS error
        from cmdb_sync_audit a
                 join cmdb_sync_ci_collection b on
            a.ci_collection_id = b.id
        where b.ci_id = #{value}
          and (a.status = 'doing' or a.status = 'pausing')
    </select>

    <select id="getSyncDataHashById"
            resultType="neatlogic.framework.cmdb.dto.sync.SyncDataHashVo">
        select data_id         as dataId,
               data_hash       as dataHash,
               update_time     as updateTime,
               collection_name as collectionName
        from cmdb_sync_data_hash
        where data_id = #{dataId}
          and collection_name = #{collectionName}
    </select>

    <update id="updateSyncAuditDataCount" parameterType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo">
        UPDATE
            cmdb_sync_audit
        SET data_count      = #{dataCount},
            current_data_id = #{currentDataId}
        WHERE id = #{id}
    </update>

    <update id="updateSyncAuditToStart" parameterType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo">
        UPDATE
            cmdb_sync_audit
        SET status = #{status}
        where id = #{id}
    </update>

    <update id="updateSyncAuditToEnd" parameterType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo">
        UPDATE
        cmdb_sync_audit
        SET
        end_time = NOW(3),
        status = #{status}
        <if test="dataCount != null">
            ,data_count = #{dataCount}
        </if>
        <if test="error != null and error != ''">
            ,error = #{error,typeHandler=CompressHandler}
        </if>
        WHERE id = #{id}
    </update>

    <insert id="insertSyncAudit" parameterType="neatlogic.framework.cmdb.dto.sync.SyncAuditVo">
        INSERT INTO cmdb_sync_audit (id,
                                     ci_collection_id,
                                     start_time,
                                     input_from,
                                     status,
                                     transaction_group_id,
                                     server_id,
                                     config)
        VALUES (#{id},
                #{ciCollectionId},
                NOW(3),
                #{inputFrom},
                #{status},
                #{transactionGroupId},
                #{serverId},
                #{configStr, typeHandler=CompressHandler})
    </insert>

    <insert id="insertSyncDataAudit" parameterType="neatlogic.framework.cmdb.dto.sync.SyncDataAuditVo">
        insert into cmdb_sync_data_audit
        (id,
         ci_collection_id,
         collection_name,
         data_id,
         audit_id,
         error)
        values (#{id},
                #{ciCollectionId},
                #{collectionName},
                #{dataId},
                #{auditId},
                #{errorListStr, typeHandler=CompressHandler})
        ON DUPLICATE KEY UPDATE audit_id = #{auditId},
                                error    = #{errorListStr, typeHandler=CompressHandler}
    </insert>

    <insert id="saveSyncDataHash" parameterType="neatlogic.framework.cmdb.dto.sync.SyncDataHashVo">
        insert into cmdb_sync_data_hash
        (data_id,
         data_hash,
         update_time,
         collection_name)
        values (#{dataId},
                #{dataHash},
                now(),
                #{collectionName})
        on duplicate key update data_hash   = #{dataHash},
                                update_time = now()
    </insert>

    <delete id="deleteSyncAuditById" parameterType="java.lang.Long">
        delete
        from cmdb_sync_audit
        where id = #{value}
    </delete>

    <delete id="deleteAuditByDayBefore" parameterType="int">
        delete a,b
        from cmdb_sync_audit a
                 left join cmdb_sync_data_audit b on a.id = b.audit_id
        where (a.status = 'done' or a.status = 'paused')
          and a.end_time &lt; DATE_SUB(CURRENT_DATE, INTERVAL #{value} DAY)
    </delete>

    <delete id="deleteDataHashByDayBefore" parameterType="int">
        delete
        from cmdb_sync_data_hash
        where update_time &lt; DATE_SUB(CURRENT_DATE, INTERVAL #{value} DAY)
    </delete>

    <delete id="deleteSyncDataAuditByDataIdAndCollectionId">
        delete
        from cmdb_sync_data_audit
        where data_id = #{dataId}
          and ci_collection_id = #{ciCollectionId}
    </delete>

    <delete id="deleteSyncDataHashById">
        delete
        from cmdb_sync_data_hash
        where data_id = #{dataId}
          and collection_name = #{collectionName}
    </delete>
</mapper>
