<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.ci.RelMapper">
    <cache-ref namespace="neatlogic.module.cmdb.dao.mapper.ci.CiMapper"/>

    <select id="searchRel" parameterType="neatlogic.framework.cmdb.dto.ci.RelVo"
            resultType="neatlogic.framework.cmdb.dto.ci.RelVo">
        select rel.id,
        rel.type_id as typeId,
        rel.from_ci_id as fromCiId,
        rel.from_name as fromName,
        rel.from_label as fromLabel,
        rel.to_ci_id as toCiId,
        rel.to_name as toName,
        rel.to_label as toLabel,
        fromci.name as fromCiName,
        fromci.label as fromCiLabel,
        toci.name as toCiName,
        toci.label as toCiLabel
        from cmdb_rel rel
        left join cmdb_ci fromci on rel.from_ci_id = fromci.id
        left join cmdb_ci toci on rel.to_ci_id = toci.id
        <where>
            <if test="keyword != null and keyword != ''">
                rel.from_name like concat ('%',#{keyword},'%')
                or
                rel.to_name like concat ('%',#{keyword},'%')
                or
                rel.from_label like concat ('%',#{keyword},'%')
                or
                rel.to_label like concat ('%',#{keyword},'%')
                or
                fromci.name like concat ('%',#{keyword},'%')
                or
                fromci.label like concat ('%',#{keyword},'%')
                or
                toci.name like concat ('%',#{keyword},'%')
                or
                toci.label like concat ('%',#{keyword},'%')
            </if>
        </where>
        limit #{startNum}, #{pageSize}
    </select>

    <select id="getRelByCiIdAndRelName" resultType="neatlogic.framework.cmdb.dto.ci.RelVo" useCache="true">
        SELECT a.`id`,
               a.`type_id`                                                       AS typeId,
               (SELECT name FROM cmdb_reltype cr WHERE cr.id = a.`type_id`)      AS typeText,
               a.`input_type`                                                    AS inputType,
               if(f.id = #{ciId}, 0, 1)                                          AS isExtended,
               f.id                                                              AS fromCiId,
               f.icon                                                            AS fromCiIcon,
               f.name                                                            AS fromCiName,
               f.label                                                           AS fromCiLabel,
               f.is_virtual                                                      AS fromIsVirtual,
               a.`from_name`                                                     AS fromName,
               a.`from_label`                                                    AS fromLabel,
               a.`from_rule`                                                     AS fromRule,
               a.`from_group_id`                                                 AS fromGroupId,
               a.`from_is_unique`                                                AS fromIsUnique,
               a.`from_is_required`                                              AS fromIsRequired,
               a.`from_is_cascade_delete`                                        AS fromIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`from_group_id`) AS fromGroupName,
               t.id                                                              AS toCiId,
               t.icon                                                            AS toCiIcon,
               t.name                                                            AS toCiName,
               t.label                                                           AS toCiLabel,
               t.is_virtual                                                      AS toIsVirtual,
               a.`to_name`                                                       AS toName,
               a.`to_label`                                                      AS toLabel,
               a.`to_rule`                                                       AS toRule,
               a.`to_group_id`                                                   AS toGroupId,
               a.`to_is_unique`                                                  AS toIsUnique,
               a.`to_is_required`                                                AS toIsRequired,
               a.`to_is_cascade_delete`                                          AS toIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`to_group_id`)   AS toGroupName,
               'from'                                                            AS direction
        FROM `cmdb_rel` a
                 JOIN cmdb_ci f ON a.from_ci_id = f.id
                 JOIN cmdb_ci t ON a.to_ci_id = t.id
        WHERE f.lft &lt;= (select lft from cmdb_ci where id = #{ciId})
          AND f.rht &gt;= (select rht from cmdb_ci where id = #{ciId})
          AND a.to_name = #{relName}
        UNION
        SELECT a.`id`,
               a.`type_id`                                                       AS typeId,
               (SELECT name FROM cmdb_reltype cr WHERE cr.id = a.`type_id`)      AS typeText,
               a.`input_type`                                                    AS inputType,
               if(t.id = #{ciId}, 0, 1)                                          AS isExtended,
               f.id                                                              AS fromCiId,
               f.icon                                                            AS fromCiIcon,
               f.name                                                            AS fromCiName,
               f.label                                                           AS fromCiLabel,
               f.is_virtual                                                      AS fromIsVirtual,
               a.`from_name`                                                     AS fromName,
               a.`from_label`                                                    AS fromLabel,
               a.`from_rule`                                                     AS fromRule,
               a.`from_group_id`                                                 AS fromGroupId,
               a.`from_is_unique`                                                AS fromIsUnique,
               a.`from_is_required`                                              AS fromIsRequired,
               a.`from_is_cascade_delete`                                        AS fromIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`from_group_id`) AS fromGroupName,
               t.id                                                              AS toCiId,
               t.icon                                                            AS toCiIcon,
               t.name                                                            AS toCiName,
               t.label                                                           AS toCiLabel,
               t.is_virtual                                                      AS toVirtual,
               a.`to_name`                                                       AS toName,
               a.`to_label`                                                      AS toLabel,
               a.`to_rule`                                                       AS toRule,
               a.`to_group_id`                                                   AS toGroupId,
               a.`to_is_unique`                                                  AS toIsUnique,
               a.`to_is_required`                                                AS toIsRequired,
               a.`to_is_cascade_delete`                                          AS toIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`to_group_id`)   AS toGroupName,
               'to'                                                              AS direction
        FROM `cmdb_rel` a
                 JOIN cmdb_ci f ON a.from_ci_id = f.id
                 JOIN cmdb_ci t ON a.to_ci_id = t.id
        WHERE t.lft &lt;= (select lft from cmdb_ci where id = #{ciId})
          and t.rht &gt;= (select rht from cmdb_ci where id = #{ciId})
          and a.from_name = #{relName}
        limit 1
    </select>

    <select id="getRelTypeByRelId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.ci.RelTypeVo" useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`is_showintopo` AS isShowInTopo
        FROM `cmdb_reltype` a
                 JOIN `cmdb_rel` b ON a.id = b.type_id
        WHERE b.id = #{value}
    </select>

    <select id="getRelativeRelByRelId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.ci.RelativeRelVo" useCache="false">
        SELECT rel_id          AS relId,
               from_path       AS fromPath,
               to_path         AS toPath,
               relative_rel_id AS relativeRelId,
               path_hash       AS hash
        from cmdb_relativerel
        WHERE rel_id = #{value}
    </select>

    <select id="getAllRelList" resultType="neatlogic.framework.cmdb.dto.ci.RelVo" useCache="true">
        SELECT rel.`id`,
               rel.`type_id`                                                  AS typeId,
               (SELECT name FROM cmdb_reltype cr WHERE cr.id = rel.`type_id`) AS typeText,
               rel.`input_type`                                               AS inputType,
               rel.`from_ci_id`                                               AS fromCiId,
               rel.`from_name`                                                AS fromName,
               rel.`from_label`                                               AS fromLabel,
               rel.`from_rule`                                                AS fromRule,
               rel.`from_group_id`                                            AS fromGroupId,
               rel.`from_is_unique`                                           AS fromIsUnique,
               rel.`from_is_required`                                         AS fromIsRequired,
               rel.`from_is_cascade_delete`                                   AS fromIsCascadeDelete,
               rel.`to_ci_id`                                                 AS toCiId,
               rel.`to_name`                                                  AS toName,
               rel.`to_label`                                                 AS toLabel,
               rel.`to_rule`                                                  AS toRule,
               rel.`to_group_id`                                              AS toGroupId,
               rel.`to_is_unique`                                             AS toIsUnique,
               rel.`to_is_required`                                           AS toIsRequired,
               rel.`to_is_cascade_delete`                                     AS toIsCascadeDelete,
               from_ci.`name`                                                 AS fromCiName,
               from_ci.`label`                                                AS fromCiLabel,
               to_ci.`name`                                                   AS toCiName,
               to_ci.`label`                                                  AS toCiLabel,
               reltype.`is_showintopo`                                        AS isShowInTopo
        FROM `cmdb_rel` rel
                 JOIN `cmdb_ci` from_ci ON rel.`from_ci_id` = from_ci.`id`
                 JOIN `cmdb_ci` to_ci ON rel.`to_ci_id` = to_ci.`id`
                 JOIN `cmdb_reltype` reltype ON rel.type_id = reltype.id
    </select>

    <select id="checkRelGroupNameIsExists" parameterType="neatlogic.framework.cmdb.dto.ci.RelGroupVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM `cmdb_relgroup`
        WHERE ci_id = #{ciId}
          AND name = #{name}
    </select>

    <select id="getRelGroupByCiId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.ci.RelGroupVo"
            useCache="false">
        SELECT `id`,
               `ci_id` AS ciId,
               `name`
        FROM `cmdb_relgroup`
        WHERE ci_id = #{value}
        ORDER BY id
    </select>

    <select id="getRelGroupById" parameterType="java.lang.Long" resultType="neatlogic.framework.cmdb.dto.ci.RelGroupVo"
            useCache="false">
        SELECT `id`,
               `ci_id` AS ciId,
               `name`
        FROM `cmdb_relgroup`
        WHERE id = #{value}
    </select>

    <select id="checkRelByFromToName" parameterType="neatlogic.framework.cmdb.dto.ci.RelVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM cmdb_rel
        WHERE from_name = #{fromName}
          AND to_name = #{toName}
          AND id != #{id}
    </select>

    <select id="checkRelByFromToLabel" parameterType="neatlogic.framework.cmdb.dto.ci.RelVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM cmdb_rel
        WHERE from_label = #{fromLabel}
          AND to_label = #{toLabel}
          AND id != #{id}
    </select>


    <select id="getRelByIdList" resultType="neatlogic.framework.cmdb.dto.ci.RelVo" useCache="true">
        SELECT a.`id`,
        a.`type_id` AS typeId,
        (SELECT name FROM cmdb_reltype cr WHERE cr.id = a.`type_id`) AS typeText,
        a.`input_type` AS inputType,
        a.`from_ci_id` AS fromCiId,
        f.icon AS fromCiIcon,
        f.name AS fromCiName,
        f.label AS fromCiLabel,
        a.`from_name` AS fromName,
        a.`from_label` AS fromLabel,
        a.`from_rule` AS fromRule,
        a.`from_group_id` AS fromGroupId,
        a.`from_is_unique` AS fromIsUnique,
        a.`from_is_required` AS fromIsRequired,
        a.`from_is_cascade_delete` AS fromIsCascadeDelete,
        (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`from_group_id`) AS fromGroupName,
        a.`to_ci_id` AS toCiId,
        t.icon AS toCiIcon,
        t.name AS toCiName,
        t.label AS toCiLabel,
        a.`to_name` AS toName,
        a.`to_label` AS toLabel,
        a.`to_rule` AS toRule,
        a.`to_group_id` AS toGroupId,
        a.`to_is_unique` AS toIsUnique,
        a.`to_is_required` AS toIsRequired,
        a.`to_is_cascade_delete` AS toIsCascadeDelete,
        (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`to_group_id`) AS toGroupName
        FROM `cmdb_rel` a
        JOIN cmdb_ci f ON a.from_ci_id = f.id
        JOIN cmdb_ci t ON a.to_ci_id = t.id
        WHERE a.id in
        <foreach collection="relIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </select>

    <resultMap id="relDetailMap" type="neatlogic.framework.cmdb.dto.ci.RelVo">
        <id property="id" column="id"/>
        <id property="direction" column="direction"/><!--自己引用自己时需要使用方向作为key-->
        <result property="typeId" column="typeId"/>
        <result property="typeText" column="typeText"/>
        <result property="inputType" column="inputType"/>
        <result property="isExtended" column="isExtended"/>
        <result property="fromCiId" column="fromCiId"/>
        <result property="fromCiIcon" column="fromCiIcon"/>
        <result property="fromCiName" column="fromCiName"/>
        <result property="fromCiLabel" column="fromCiLabel"/>
        <result property="fromName" column="fromName"/>
        <result property="fromLabel" column="fromLabel"/>
        <result property="fromRule" column="fromRule"/>
        <result property="fromGroupId" column="fromGroupId"/>
        <result property="fromIsUnique" column="fromIsUnique"/>
        <result property="fromIsRequired" column="fromIsRequired"/>
        <result property="fromIsCascadeDelete" column="fromIsCascadeDelete"/>
        <result property="fromGroupName" column="fromGroupName"/>
        <result property="fromIsVirtual" column="fromIsVirtual"/>
        <result property="toCiId" column="toCiId"/>
        <result property="toCiIcon" column="toCiIcon"/>
        <result property="toCiName" column="toCiName"/>
        <result property="toCiLabel" column="toCiLabel"/>
        <result property="toName" column="toName"/>
        <result property="toLabel" column="toLabel"/>
        <result property="toRule" column="toRule"/>
        <result property="toGroupId" column="toGroupId"/>
        <result property="toIsUnique" column="toIsUnique"/>
        <result property="toIsRequired" column="toIsRequired"/>
        <result property="toIsCascadeDelete" column="toIsCascadeDelete"/>
        <result property="toGroupName" column="toGroupName"/>
        <result property="toIsVirtual" column="toIsVirtual"/>
        <result property="allowEdit" column="allowEdit"/>
        <collection property="relativeRelList" ofType="neatlogic.framework.cmdb.dto.ci.RelativeRelVo">
            <id property="relativeRelId" column="relativeRelId"/>
            <result property="fromPath" column="relativeFromPath"/>
            <result property="toPath" column="relativeToPath"/>
        </collection>
    </resultMap>

    <select id="getRelById" parameterType="java.lang.Long" resultMap="relDetailMap"
            useCache="true">
        SELECT a.`id`,
               a.`type_id`                                                       AS typeId,
               (SELECT name FROM cmdb_reltype cr WHERE cr.id = a.`type_id`)      AS typeText,
               a.`input_type`                                                    AS inputType,
               a.`from_ci_id`                                                    AS fromCiId,
               f.icon                                                            AS fromCiIcon,
               f.name                                                            AS fromCiName,
               f.label                                                           AS fromCiLabel,
               f.is_virtual                                                      AS fromIsVirtual,
               a.`from_name`                                                     AS fromName,
               a.`from_label`                                                    AS fromLabel,
               a.`from_rule`                                                     AS fromRule,
               a.`from_group_id`                                                 AS fromGroupId,
               a.`from_is_unique`                                                AS fromIsUnique,
               a.`from_is_required`                                              AS fromIsRequired,
               a.`from_is_cascade_delete`                                        AS fromIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`from_group_id`) AS fromGroupName,
               a.`to_ci_id`                                                      AS toCiId,
               t.icon                                                            AS toCiIcon,
               t.name                                                            AS toCiName,
               t.label                                                           AS toCiLabel,
               t.is_virtual                                                      AS toIsVirtual,
               a.`to_name`                                                       AS toName,
               a.`to_label`                                                      AS toLabel,
               a.`to_rule`                                                       AS toRule,
               a.`to_group_id`                                                   AS toGroupId,
               a.`to_is_unique`                                                  AS toIsUnique,
               a.`to_is_required`                                                AS toIsRequired,
               a.`to_is_cascade_delete`                                          AS toIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`to_group_id`)   AS toGroupName,
               relativerel.relative_rel_id                                       AS relativeRelId,
               relativerel.from_path                                             AS relativeFromPath,
               relativerel.to_path                                               AS relativeToPath
        FROM `cmdb_rel` a
                 JOIN cmdb_ci f ON a.from_ci_id = f.id
                 JOIN cmdb_ci t ON a.to_ci_id = t.id
                 LEFT JOIN `cmdb_relativerel` relativerel ON a.id = relativerel.rel_id
        WHERE a.id = #{value}
    </select>

    <select id="getRelByCiId" parameterType="java.lang.Long" resultMap="relDetailMap"
            useCache="true">
        SELECT a.`id`,
               a.`type_id`                                                       AS typeId,
               (SELECT name FROM cmdb_reltype cr WHERE cr.id = a.`type_id`)      AS typeText,
               a.`input_type`                                                    AS inputType,
               if(f.id = #{value}, 0, 1)                                         AS isExtended,
               f.id                                                              AS fromCiId,
               f.icon                                                            AS fromCiIcon,
               f.name                                                            AS fromCiName,
               f.label                                                           AS fromCiLabel,
               f.is_virtual                                                      AS fromIsVirtual,
               a.`from_name`                                                     AS fromName,
               a.`from_label`                                                    AS fromLabel,
               a.`from_rule`                                                     AS fromRule,
               a.`from_group_id`                                                 AS fromGroupId,
               a.`from_is_unique`                                                AS fromIsUnique,
               a.`from_is_required`                                              AS fromIsRequired,
               a.`from_is_cascade_delete`                                        AS fromIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`from_group_id`) AS fromGroupName,
               t.id                                                              AS toCiId,
               t.icon                                                            AS toCiIcon,
               t.name                                                            AS toCiName,
               t.label                                                           AS toCiLabel,
               t.is_virtual                                                      AS toIsVirtual,
               a.`to_name`                                                       AS toName,
               a.`to_label`                                                      AS toLabel,
               a.`to_rule`                                                       AS toRule,
               a.`to_group_id`                                                   AS toGroupId,
               a.`to_is_unique`                                                  AS toIsUnique,
               a.`to_is_required`                                                AS toIsRequired,
               a.`to_is_cascade_delete`                                          AS toIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`to_group_id`)   AS toGroupName,
               'from'                                                            AS direction,
               cview.sort                                                        AS sort,
               cview.allow_edit                                                  AS allowEdit,
               relativerel.relative_rel_id                                       AS relativeRelId,
               relativerel.from_path                                             AS relativeFromPath,
               relativerel.to_path                                               AS relativeToPath
        FROM `cmdb_rel` a
                 JOIN cmdb_ci f ON a.from_ci_id = f.id
                 JOIN cmdb_ci t ON a.to_ci_id = t.id
                 LEFT JOIN cmdb_view cview
                           ON cview.item_id = a.id AND cview.ci_id = #{value} AND cview.`type` = 'relfrom'
                 LEFT JOIN cmdb_relativerel relativerel ON a.id = relativerel.rel_id
        WHERE f.lft &lt;= (select lft from cmdb_ci where id = #{value})
          AND f.rht &gt;= (select rht from cmdb_ci where id = #{value})
        UNION
        SELECT a.`id`,
               a.`type_id`                                                       AS typeId,
               (SELECT name FROM cmdb_reltype cr WHERE cr.id = a.`type_id`)      AS typeText,
               a.`input_type`                                                    AS inputType,
               if(t.id = #{value}, 0, 1)                                         AS isExtended,
               f.id                                                              AS fromCiId,
               f.icon                                                            AS fromCiIcon,
               f.name                                                            AS fromCiName,
               f.label                                                           AS fromCiLabel,
               f.is_virtual                                                      AS fromIsVirtual,
               a.`from_name`                                                     AS fromName,
               a.`from_label`                                                    AS fromLabel,
               a.`from_rule`                                                     AS fromRule,
               a.`from_group_id`                                                 AS fromGroupId,
               a.`from_is_unique`                                                AS fromIsUnique,
               a.`from_is_required`                                              AS fromIsRequired,
               a.`from_is_cascade_delete`                                        AS fromIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`from_group_id`) AS fromGroupName,
               t.id                                                              AS toCiId,
               t.icon                                                            AS toCiIcon,
               t.name                                                            AS toCiName,
               t.label                                                           AS toCiLabel,
               t.is_virtual                                                      AS toVirtual,
               a.`to_name`                                                       AS toName,
               a.`to_label`                                                      AS toLabel,
               a.`to_rule`                                                       AS toRule,
               a.`to_group_id`                                                   AS toGroupId,
               a.`to_is_unique`                                                  AS toIsUnique,
               a.`to_is_required`                                                AS toIsRequired,
               a.`to_is_cascade_delete`                                          AS toIsCascadeDelete,
               (SELECT name FROM cmdb_relgroup g WHERE g.id = a.`to_group_id`)   AS toGroupName,
               'to'                                                              AS direction,
               cview.sort                                                        AS sort,
               cview.allow_edit                                                  AS allowEdit,
               relativerel.relative_rel_id                                       AS relativeRelId,
               relativerel.from_path                                             AS relativeFromPath,
               relativerel.to_path                                               AS relativeToPath
        FROM `cmdb_rel` a
                 JOIN cmdb_ci f ON a.from_ci_id = f.id
                 JOIN cmdb_ci t ON a.to_ci_id = t.id
                 LEFT JOIN cmdb_view cview ON cview.item_id = a.id AND cview.ci_id = #{value} AND cview.`type` = 'relto'
                 LEFT JOIN cmdb_relativerel relativerel ON a.id = relativerel.rel_id
        WHERE t.lft &lt;= (select lft from cmdb_ci where id = #{value})
          and t.rht &gt;= (select rht from cmdb_ci where id = #{value})
        ORDER BY sort, id
    </select>

    <select id="getRelBaseInfoByCiId" parameterType="java.lang.Long" resultMap="relDetailMap"
            useCache="true">
        SELECT `id`,
               `type_id`                AS typeId,
               `input_type`             AS inputType,
               `from_ci_id`             AS fromCiId,
               `from_name`              AS fromName,
               `from_label`             AS fromLabel,
               `from_rule`              AS fromRule,
               `from_group_id`          AS fromGroupId,
               `from_is_unique`         AS fromIsUnique,
               `from_is_cascade_delete` AS fromIsCascadeDelete,
               `from_is_required`       AS fromIsRequired,
               `to_ci_id`               AS toCiId,
               `to_name`                AS toName,
               `to_label`               AS toLabel,
               `to_rule`                AS toRule,
               `to_group_id`            AS toGroupId,
               `to_is_unique`           AS toIsUnique,
               `to_is_cascade_delete`   AS toIsCascadeDelete,
               `to_is_required`         AS toIsRequired
        FROM `cmdb_rel`
        WHERE `from_ci_id` = #{value}
           OR `to_ci_id` = #{value}
    </select>

    <update id="updateRel" parameterType="neatlogic.framework.cmdb.dto.ci.RelVo">
        UPDATE
            `cmdb_rel`
        SET `type_id`                = #{typeId},
            `input_type`             = #{inputType},
            `from_ci_id`             = #{fromCiId},
            `from_name`              = #{fromName},
            `from_label`             = #{fromLabel},
            `from_rule`              = #{fromRule},
            `from_group_id`          = #{fromGroupId},
            `from_is_unique`         = #{fromIsUnique},
            `from_is_required`       = #{fromIsRequired},
            `from_is_cascade_delete` = #{fromIsCascadeDelete},
            `to_ci_id`               = #{toCiId},
            `to_name`                = #{toName},
            `to_label`               = #{toLabel},
            `to_rule`                = #{toRule},
            `to_group_id`            = #{toGroupId},
            `to_is_unique`           = #{toIsUnique},
            `to_is_required`         = #{toIsRequired},
            `to_is_cascade_delete`   = #{toIsCascadeDelete}
        WHERE `id` = #{id}
    </update>

    <update id="updateRelGroup" parameterType="neatlogic.framework.cmdb.dto.ci.RelGroupVo">
        UPDATE
            `cmdb_relgroup`
        SET `name` = #{name}
        WHERE `id` = #{id}
    </update>

    <insert id="insertRelGroup" parameterType="neatlogic.framework.cmdb.dto.ci.RelGroupVo">
        INSERT INTO `cmdb_relgroup` (`id`, `ci_id`, `name`)
        VALUES (#{id}, #{ciId}, #{name})
    </insert>

    <insert id="insertRel" parameterType="neatlogic.framework.cmdb.dto.ci.RelVo">
        INSERT INTO `cmdb_rel` (`id`,
                                `type_id`,
                                `input_type`,
                                `from_ci_id`,
                                `from_name`,
                                `from_label`,
                                `from_rule`,
                                `from_group_id`,
                                `from_is_unique`,
                                `from_is_required`,
                                `from_is_cascade_delete`,
                                `to_ci_id`,
                                `to_name`,
                                `to_label`,
                                `to_rule`,
                                `to_group_id`,
                                `to_is_unique`,
                                `to_is_required`,
                                `to_is_cascade_delete`)
        VALUES (#{id},
                #{typeId},
                #{inputType},
                #{fromCiId},
                #{fromName},
                #{fromLabel},
                #{fromRule},
                #{fromGroupId},
                #{fromIsUnique},
                #{fromIsRequired},
                #{fromIsCascadeDelete},
                #{toCiId},
                #{toName},
                #{toLabel},
                #{toRule},
                #{toGroupId},
                #{toIsUnique},
                #{toIsRequired},
                #{toIsCascadeDelete})
    </insert>

    <insert id="insertRelativeRel" parameterType="neatlogic.framework.cmdb.dto.ci.RelativeRelVo">
        insert ignore into cmdb_relativerel (rel_id, relative_rel_id, from_path, to_path, path_hash)
        values (#{relId}, #{relativeRelId}, #{fromPath}, #{toPath}, #{hash})
    </insert>

    <delete id="deleteRelById" parameterType="java.lang.Long">
        DELETE a,b
        FROM `cmdb_rel` a
                 LEFT JOIN `cmdb_relativerel` b ON a.id = b.rel_id
        WHERE `id` = #{value}
    </delete>

    <delete id="deleteRelativeRelByRelId" parameterType="java.lang.Long">
        DELETE
        from cmdb_relativerel
        WHERE rel_id = #{value}
    </delete>

    <delete id="deleteRelGroupByCiId" parameterType="java.lang.Long">
        DELETE
        from `cmdb_relgroup`
        WHERE `ci_id` = #{value}
    </delete>

</mapper>
