<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.cientity.AlertLevelMapper">
    <select id="checkAlertLevelIsExists" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo"
            resultType="int">
        select count(1)
        from cmdb_cientity_alertlevel
        where id != #{id}
          and level = #{level}
    </select>

    <select id="checkAlertNameTypeIsExists" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo"
            resultType="int">
        select count(1)
        from cmdb_cientity_alertlevel
        where id != #{id}
          and name = #{name}
          and type = #{type}
    </select>

    <select id="getAlertLevelByType" parameterType="java.lang.String"
            resultType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        select id, level, name, label, type, color
        from cmdb_cientity_alertlevel
        where type = #{type}
    </select>

    <select id="getAlertLevelByNameAndType" resultType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        select id, level, name, label, type, color
        from cmdb_cientity_alertlevel
        where name = #{name}
          and type = #{type}
    </select>

    <select id="getAlertLevelById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        select id, level, name, label, type, color
        from cmdb_cientity_alertlevel
        where id = #{id}
    </select>

    <select id="getAlertLevelByLevel" parameterType="java.lang.Integer"
            resultType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        select id, level, name, label, type, color
        from cmdb_cientity_alertlevel
        where level = #{value}
    </select>

    <select id="searchAlertLevel" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo"
            resultType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        select id,
               level,
               name,
               label,
               type,
               color
        from cmdb_cientity_alertlevel
        order by level
    </select>

    <select id="searchAlertLevelCount" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo"
            resultType="int">
        select count(1)
        from cmdb_cientity_alertlevel
        <include refid="searchAlertLevel"></include>
    </select>

    <sql id="searchAlertLevel">
        <where>
            <if test="keyword != null and keyword != ''">
                (name like concat('%',#{keyword},'%')
                or label like concat('%', #{keyword}, '%')
                )
            </if>
        </where>
    </sql>

    <insert id="saveAlertLevel" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        insert into cmdb_cientity_alertlevel
            (id, level, name, color, label, type)
        values (#{id}, #{level}, #{name}, #{color}, #{label}, #{type})
        ON DUPLICATE KEY UPDATE label = #{label},
                                color = #{color},
                                level = #{level},
                                name  = #{name},
                                type  =#{type}
    </insert>

    <delete id="deleteAlertLevelById" parameterType="java.lang.Long">
        delete
        from cmdb_cientity_alertlevel
        where id = #{id}
    </delete>
</mapper>
