<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.cientity.AlertLevelMapper">
    <select id="getAlertLevel" parameterType="java.lang.Integer"
            resultType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        select level, name, color
        from cmdb_cientity_alertlevel
        where level = #{value}
    </select>

    <select id="searchAlertLevel" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo"
            resultType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        select level, name, color
        from cmdb_cientity_alertlevel
        order by level
    </select>

    <select id="searchAlertLevelCount" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo"
            resultType="int">
        select count(1)
        from cmdb_cientity_alertlevel
        <include refid="searchAlertLevel"></include>
    </select>

    <sql id="searchAlertLevel">
        <where>
            <if test="keyword != null">
                name like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>

    <insert id="saveAlertLevel" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        insert into cmdb_cientity_alertlevel
            (level, name, color)
        values (#{level}, #{name}, #{color})
        ON DUPLICATE KEY UPDATE name  = #{name},
                                color = #{color}
    </insert>

    <delete id="deleteAlertLevel" parameterType="java.lang.Integer">
        delete
        from cmdb_cientity_alertlevel
        where level = #{value}
    </delete>
</mapper>
