<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.cientity.AlertLevelMapper">
    <select id="getAlertLevel" parameterType="java.lang.Integer"
            resultType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        select level, name, color
        from cmdb_cientity_alertlevel
        where level = #{value}
    </select>

    <select id="searchAlertLevel" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo"
            resultType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        select level, name, color
        from cmdb_cientity_alertlevel
        order by level
    </select>

    <select id="searchAlertLevelCount" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo"
            resultType="int">
        select count(1)
        from cmdb_cientity_alertlevel
        <include refid="searchAlertLevel"></include>
    </select>

    <sql id="searchAlertLevel">
        <where>
            <if test="keyword != null">
                name like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>

    <insert id="saveAlertLevel" parameterType="neatlogic.framework.cmdb.dto.cientity.AlertLevelVo">
        insert into cmdb_cientity_alertlevel
            (level, name, color)
        values (#{level}, #{name}, #{color})
        ON DUPLICATE KEY UPDATE name  = #{name},
                                color = #{color}
    </insert>

    <delete id="deleteAlertLevel" parameterType="java.lang.Integer">
        delete
        from cmdb_cientity_alertlevel
        where level = #{value}
    </delete>
</mapper>
