<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright(c) $today.year NeatLogic Co., Ltd. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.cientity.AttrEntityMapper">
    <select id="getAttrEntityByFromCiIdAndAttrId" parameterType="neatlogic.framework.cmdb.dto.cientity.AttrEntityVo"
            resultType="neatlogic.framework.cmdb.dto.cientity.AttrEntityVo">
        SELECT distinct attr_id          AS attrId,
                        from_cientity_id AS fromCiEntityId
        FROM cmdb_attrentity
        WHERE attr_id = #{attrId}
          AND from_ci_id = #{fromCiId}
        LIMIT #{startNum},#{pageSize}
    </select>

    <select id="getAttrEntityByFromCiEntityIdAndAttrId"
            resultType="neatlogic.framework.cmdb.dto.cientity.AttrEntityVo">
        SELECT a.`id`,
        a.`attr_id` AS attrId,
        a.`from_cientity_id` AS fromCiEntityId,
        a.`to_cientity_id` AS toCiEntityId
        FROM `cmdb_attrentity` a
        WHERE a.from_cientity_id = #{fromCiEntityId}
        AND a.attr_id = #{attrId}
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <update id="updateAttrEntityFromIndex" parameterType="neatlogic.framework.cmdb.dto.cientity.AttrEntityVo">
        update cmdb_attrentity
        set `from_index` = #{fromIndex}
        where id = #{id}
    </update>

    <update id="clearAttrEntityFromIndex">
        update cmdb_attrentity
        set from_index = null
        where attr_id = #{attrId}
          and from_cientity_id = #{ciEntityId}
          and from_index is not null
    </update>
</mapper>
