<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.cientity.AttrExpressionRebuildAuditMapper">

    <select id="getAttrExpressionRebuildAuditByServerId" parameterType="java.lang.Integer"
            resultType="neatlogic.framework.cmdb.dto.attrexpression.RebuildAuditVo">
        SELECT id,
               ci_id             AS ciId,
               cientity_id       AS ciEntityId,
               attr_id           AS attrId,
               cientity_id_start AS ciEntityIdStart,
               type              AS `type`
        FROM cmdb_attrexpression_rebuild_audit
        WHERE server_id = #{value}
    </select>

    <update id="updateAttrExpressionRebuildAuditCiEntityIdStartById"
            parameterType="neatlogic.framework.cmdb.dto.attrexpression.RebuildAuditVo">
        UPDATE `cmdb_attrexpression_rebuild_audit`
        SET `cientity_id_start` = #{ciEntityIdStart}
        WHERE `id` = #{id}
    </update>

    <insert id="insertAttrExpressionRebuildAudit"
            parameterType="neatlogic.framework.cmdb.dto.attrexpression.RebuildAuditVo">
        INSERT IGNORE INTO cmdb_attrexpression_rebuild_audit
        (id,
         ci_id,
         cientity_id,
         attr_id,
         cientity_id_start,
         type,
         server_id)
        VALUES (#{id},
                #{ciId},
                #{ciEntityId},
                #{attrIds},
                #{ciEntityIdStart},
                #{type},
                #{serverId})
    </insert>

    <delete id="deleteAttrExpressionRebuildAuditById" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_attrexpression_rebuild_audit
        WHERE id = #{value}
    </delete>

</mapper>
