<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.cientity.CiEntityAttrInvokeMapper">

    <select id="getCiEntityIdListByAttrId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT DISTINCT
               cientity_id
        FROM `cmdb_attr_invoke`
        WHERE attr_id = #{value}
    </select>

    <select id="getAttrInvokeListByCiEntityIdAndAttrId" resultType="neatlogic.framework.cmdb.dto.cientity.AttrInvokeVo">
        SELECT id,
               cientity_id AS ciEntityId,
               attr_id AS attrId,
               type,
               invoke_id AS invokeId
        FROM `cmdb_attr_invoke`
        WHERE cientity_id = #{ciEntityId}
          AND attr_id = #{attrId}
    </select>

    <insert id="insertAttrInvokeList">
        INSERT INTO cmdb_attr_invoke (id, cientity_id, attr_id, type, invoke_id)
        VALUES
        <foreach collection="attrInvokeList" item="attrInvoke" separator=",">
            (#{attrInvoke.id}, #{attrInvoke.ciEntityId}, #{attrInvoke.attrId}, #{attrInvoke.type}, #{attrInvoke.invokeId})
        </foreach>
    </insert>

    <delete id="deleteAttrInvokeByCiEntityIdAndAttrId">
        DELETE FROM `cmdb_attr_invoke`
        WHERE cientity_id = #{ciEntityId}
          AND attr_id = #{attrId}
    </delete>

    <delete id="deleteAttrInvokeByAttrId">
        DELETE FROM `cmdb_attr_invoke`
        WHERE attr_id = #{value}
    </delete>
</mapper>
