<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.cientity.CiEntityAttrMetricMapper">
    <insert id="insertCiEntityAttrMetricList">
        INSERT INTO `cmdb_cientity_attr_metric` (
        `id`,
        `cientity_id`,
        `attr_id`,
        `metric_time`,
        `value`
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.ciEntityId},
            #{item.attrId},
            #{item.metricTime},
            #{item.value}
            )
        </foreach>
    </insert>

    <delete id="deleteCiEntityAttrMetricByCiEntityId">
        DELETE FROM `cmdb_cientity_attr_metric`
        WHERE `cientity_id` = #{value}
    </delete>
</mapper>
