<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.cientity.CiEntitySnapshotMapper">
    <select id="getSnapshotContentByHash" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT content
        FROM cmdb_cientity_snapshot
        WHERE hash = #{value}
    </select>

    <insert id="replaceSnapshotContent">
        INSERT IGNORE INTO `cmdb_cientity_snapshot` (`hash`, `content`)
        VALUES (#{hash}, #{content});
    </insert>
</mapper>
