<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.cientity.AttrEntityMapper">
    <select id="getAttrEntityByFromCiIdAndAttrId" parameterType="codedriver.framework.cmdb.dto.cientity.AttrEntityVo"
            resultType="codedriver.framework.cmdb.dto.cientity.AttrEntityVo">
        SELECT distinct attr_id          AS attrId,
                        from_cientity_id AS fromCiEntityId
        FROM cmdb_attrentity
        WHERE attr_id = #{attrId}
          AND from_ci_id = #{fromCiId}
        LIMIT #{startNum},#{pageSize}
    </select>

    <select id="getAttrEntityByFromCiEntityIdAndAttrId"
            resultType="codedriver.framework.cmdb.dto.cientity.AttrEntityVo">
        SELECT a.`id`,
        a.`attr_id` AS attrId,
        a.`from_cientity_id` AS fromCiEntityId,
        a.`to_cientity_id` AS toCiEntityId
        FROM `cmdb_attrentity` a
        WHERE a.from_cientity_id = #{fromCiEntityId}
        AND a.attr_id = #{attrId}
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <update id="updateAttrEntityFromIndex" parameterType="codedriver.framework.cmdb.dto.cientity.AttrEntityVo">
        update cmdb_attrentity
        set `from_index` = #{fromIndex}
        where id = #{id}
    </update>

    <update id="clearAttrEntityFromIndex">
        update cmdb_attrentity
        set from_index = null
        where attr_id = #{attrId}
          and from_cientity_id = #{ciEntityId}
          and from_index is not null
    </update>
</mapper>
