<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.cientity.RelEntityMapper">

    <select id="getRelEntityByFromCiIdAndRelId" resultType="codedriver.module.cmdb.dto.cientity.RelEntityVo">
        SELECT rel_id           AS relId,
               b.ci_id          AS fromCiId,
               c.ci_id          AS toCiId,
               from_cientity_id AS fromCiEntityId,
               to_cientity_id   AS toCiEntityId,
               b.name           AS fromCiEntityName,
               c.name           AS toCiEntityName
        FROM cmdb_relentity a
                 JOIN cmdb_cientity b ON a.from_cientity_id = b.id
                 JOIN cmdb_cientity c ON a.to_cientity_id = c.id
        WHERE rel_id = #{relId}
          AND b.ci_id = #{fromCiId}
    </select>

    <select id="getRelEntityByToCiIdAndRelId" resultType="codedriver.module.cmdb.dto.cientity.RelEntityVo">
        SELECT rel_id           AS relId,
               b.ci_id          AS fromCiId,
               c.ci_id          AS toCiId,
               from_cientity_id AS fromCiEntityId,
               to_cientity_id   AS toCiEntityId,
               b.name           AS fromCiEntityName,
               c.name           AS toCiEntityName
        FROM cmdb_relentity a
                 JOIN cmdb_cientity b ON a.from_cientity_id = b.id
                 JOIN cmdb_cientity c ON a.to_cientity_id = c.id
        WHERE rel_id = #{relId}
          AND c.ci_id = #{toCiId}
    </select>

    <select id="getRelEntityByRelId" parameterType="java.lang.Long"
            resultType="codedriver.module.cmdb.dto.cientity.RelEntityVo">
        SELECT rel_id           AS relId,
               b.ci_id          AS fromCiId,
               c.ci_id          AS toCiId,
               from_cientity_id AS fromCiEntityId,
               to_cientity_id   AS toCiEntityId,
               b.name           AS fromCiEntityName,
               c.name           AS toCiEntityName
        FROM cmdb_relentity a
                 JOIN cmdb_cientity b ON a.from_cientity_id = b.id
                 JOIN cmdb_cientity c ON a.to_cientity_id = c.id
        WHERE rel_id = #{value}
    </select>


    <select id="checkRelEntityIsExists" parameterType="codedriver.module.cmdb.dto.cientity.RelEntityVo"
            resultType="int">
        SELECT COUNT(1)
        FROM `cmdb_relentity`
        WHERE from_cientity_id = #{fromCiEntityId}
          AND to_cientity_id = #{toCiEntityId}
          AND rel_id = #{relId}
    </select>

    <select id="getRelEntityByToCiEntityIdAndRelId" resultType="codedriver.module.cmdb.dto.cientity.RelEntityVo">
        SELECT `id`,
               `rel_id`           AS relId,
               `from_cientity_id` AS fromCiEntityId,
               `to_cientity_id`   AS toCiEntityId,
               `transaction_id`   AS transactionId
        FROM `cmdb_relentity`
        WHERE to_cientity_id = #{toCiEntityId}
          AND rel_id = #{relId}
    </select>

    <select id="getRelEntityByFromCiEntityIdAndRelId" resultType="codedriver.module.cmdb.dto.cientity.RelEntityVo">
        SELECT `id`,
               `rel_id`           AS relId,
               `from_cientity_id` AS fromCiEntityId,
               `to_cientity_id`   AS toCiEntityId,
               `transaction_id`   AS transactionId
        FROM `cmdb_relentity`
        WHERE from_cientity_id = #{fromCiEntityId}
          AND rel_id = #{relId}
    </select>

    <select id="getRelEntityByCiEntityId" parameterType="java.lang.Long"
            resultType="codedriver.module.cmdb.dto.cientity.RelEntityVo">
        SELECT a.`id`,
               a.`rel_id`           AS relId,
               a.`transaction_id`   AS transactionId,
               a.`from_cientity_id` AS fromCiEntityId,
               a.`to_cientity_id`   AS toCiEntityId,
               b.`name`             AS fromCiEntityName,
               c.`name`             AS toCiEntityName,
               d.`from_ci_id`       AS fromCiId,
               d.`to_ci_id`         AS toCiId,
               d.`type_id`          AS relTypeId,
               e.`name`             AS relTypeName,
               d.`to_name`          AS relName,
               d.`to_label`         AS relLabel,
               'from'               AS direction
        FROM `cmdb_relentity` a
                 JOIN `cmdb_cientity` b ON a.`from_cientity_id` = b.`id`
                 JOIN `cmdb_cientity` c ON a.`to_cientity_id` = c.`id`
                 JOIN `cmdb_rel` d ON a.rel_id = d.id
                 JOIN `cmdb_reltype` e ON d.type_id = e.id
        WHERE a.from_cientity_id = #{value}
        UNION
        SELECT a.`id`,
               a.`rel_id`           AS relId,
               a.`transaction_id`   AS transactionId,
               a.`from_cientity_id` AS fromCiEntityId,
               a.`to_cientity_id`   AS toCiEntityId,
               b.`name`             AS fromCiEntityName,
               c.`name`             AS toCiEntityName,
               d.`from_ci_id`       AS fromCiId,
               d.`to_ci_id`         AS toCiId,
               d.`type_id`          AS relTypeId,
               e.`name`             AS relTypeName,
               d.`from_name`        AS relName,
               d.`from_label`       AS relLabel,
               'to'                 AS direction
        FROM `cmdb_relentity` a
                 JOIN
             `cmdb_cientity` b ON a.`from_cientity_id` = b.`id`
                 JOIN `cmdb_cientity` c ON a.`to_cientity_id` = c.`id`
                 JOIN `cmdb_rel` d ON a.rel_id = d.id
                 JOIN `cmdb_reltype` e ON d.type_id = e.id
        WHERE a.to_cientity_id = #{value}
        ORDER BY id
    </select>

    <select id="getFromToCiEntityIdByCiEntityIdList" resultType="java.lang.Long">
        SELECT
        a.`to_cientity_id`
        FROM
        `cmdb_relentity` a
        WHERE a.from_cientity_id IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        UNION
        SELECT
        a.`from_cientity_id`
        FROM
        `cmdb_relentity` a
        WHERE a.to_cientity_id IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFromToCiEntityIdByCiEntityId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT a.`to_cientity_id`
        FROM `cmdb_relentity` a
        WHERE a.from_cientity_id = #{value}
        UNION
        SELECT a.`from_cientity_id`
        FROM `cmdb_relentity` a
        WHERE a.to_cientity_id = #{value}
    </select>

    <select id="searchRelEntityByCiEntityIdList" resultType="codedriver.module.cmdb.dto.cientity.RelEntityVo">
        SELECT
        a.`id`,
        a.`rel_id` AS relId,
        a.`from_cientity_id` AS fromCiEntityId,
        a.`to_cientity_id` AS toCiEntityId,
        a.`transaction_id` AS transactionId,
        b.`name` AS fromCiEntityName,
        c.`name` AS toCiEntityName,
        d.`from_ci_id` AS fromCiId,
        d.`to_ci_id` AS toCiId,
        d.`type_id` AS relTypeId,
        e.`name` AS relTypeName,
        'from' AS direction
        FROM
        `cmdb_relentity` a
        JOIN `cmdb_cientity` b ON a.`from_cientity_id` = b.`id`
        JOIN `cmdb_cientity` c ON a.`to_cientity_id` = c.`id`
        JOIN `cmdb_rel` d ON a.rel_id = d.id
        JOIN `cmdb_reltype` e ON d.type_id = e.id
        WHERE a.from_cientity_id IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="relIdList != null and relIdList.size() > 0">
            AND a.rel_id IN
            <foreach collection="relIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        UNION
        SELECT
        a.`id`,
        a.`rel_id` AS relId,
        a.`from_cientity_id` AS fromCiEntityId,
        a.`to_cientity_id` AS toCiEntityId,
        a.`transaction_id` AS transactionId,
        b.`name` AS fromCiEntityName,
        c.`name` AS toCiEntityName,
        d.`from_ci_id` AS fromCiId,
        d.`to_ci_id` AS toCiId,
        d.`type_id` AS relTypeId,
        e.`name` AS relTypeName,
        'to' AS direction
        FROM
        `cmdb_relentity` a
        JOIN `cmdb_cientity` b ON a.`from_cientity_id` = b.`id`
        JOIN `cmdb_cientity` c ON a.`to_cientity_id` = c.`id`
        JOIN `cmdb_rel` d ON a.rel_id = d.id
        JOIN `cmdb_reltype` e ON d.type_id = e.id
        WHERE a.to_cientity_id IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="relIdList != null and relIdList.size() > 0">
            AND a.rel_id IN
            <foreach collection="relIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="insertRelEntity" parameterType="codedriver.module.cmdb.dto.cientity.RelEntityVo">
        INSERT INTO `cmdb_relentity` (`id`,
                                      `rel_id`,
                                      `from_cientity_id`,
                                      `to_cientity_id`,
                                      `transaction_id`)
        VALUES (#{id},
                #{relId},
                #{fromCiEntityId},
                #{toCiEntityId},
                #{transactionId})
    </insert>


    <delete id="deleteRelEntityByFromCiEntityIdAndRelId">
        DELETE
        FROM `cmdb_relentity`
        WHERE from_cientity_id = #{fromCiEntityId}
          AND rel_id = #{relId}
    </delete>

    <delete id="deleteRelEntityByToCiEntityIdAndRelId">
        DELETE
        FROM `cmdb_relentity`
        WHERE to_cientity_id = #{toCiEntityId}
          AND rel_id = #{relId}
    </delete>

    <delete id="deleteRelEntityByRelIdFromCiEntityIdToCiEntityId">
        DELETE
        FROM `cmdb_relentity`
        WHERE rel_id = #{relId}
          AND from_cientity_id = #{fromCiEntityId}
          AND to_cientity_id = #{toCiEntityId}
    </delete>
</mapper>
