<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.customview.CustomViewMapper">

    <select id="getCustomViewAttrByUuid" parameterType="java.lang.String"
            resultType="codedriver.framework.cmdb.dto.customview.CustomViewAttrVo">
        SELECT customview_id      AS customViewId,
               customview_ci_uuid AS customViewCiUuid,
               uuid,
               attr_id            AS attrId,
               alias,
               sort,
               is_hidden          AS isHidden,
               `condition`        AS conditionStr
        FROM `cmdb_customview_attr`
        WHERE uuid = #{value}
    </select>

    <resultMap id="customViewMap" type="codedriver.framework.cmdb.dto.customview.CustomViewVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="isPrivate" column="isPrivate"/>
        <result property="isActive" column="isActive"/>
        <result property="fcu" column="fcu"/>
        <result property="fcd" column="fcd"/>
        <result property="lcu" column="lcu"/>
        <result property="lcd" column="lcd"/>
        <result property="icon" column="icon"/>
        <result property="description" column="description"/>
        <result property="configStr" column="configStr" typeHandler="CompressHandler"/>
        <collection property="authList" ofType="codedriver.framework.cmdb.dto.customview.CustomViewAuthVo">
            <id property="authUuid" column="authUuid"/>
            <result property="authType" column="authType"/>
        </collection>
        <collection property="tagList" ofType="codedriver.framework.cmdb.dto.tag.TagVo">
            <id property="id" column="tagId"/>
            <result property="name" column="tagName"/>
        </collection>
    </resultMap>

    <resultMap id="customViewAttrMap" type="codedriver.framework.cmdb.dto.customview.CustomViewAttrVo">
        <id property="uuid" column="uuid"/>
        <result property="customViewCiUuid" column="customViewCiUuid"/>
        <result property="customViewId" column="customViewId"/>
        <result property="attrId" column="attrId"/>
        <result property="alias" column="alias"/>
        <result property="sort" column="sort"/>
        <result property="isHidden" column="isHidden"/>
        <result property="conditionStr" column="conditionStr"/>
        <association property="attrVo" javaType="codedriver.framework.cmdb.dto.ci.AttrVo">
            <id property="id" column="attrId"/>
            <result property="name" column="attrName"/>
            <result property="label" column="attrLabel"/>
            <result property="type" column="attrType"/>
            <result property="targetCiId" column="targetCiId"/>
            <result property="configStr" column="configStr"/>
        </association>
    </resultMap>

    <select id="getCustomViewAttrByCustomViewId"
            parameterType="codedriver.framework.cmdb.dto.customview.CustomViewAttrVo" resultMap="customViewAttrMap">
        SELECT
        a.customview_id AS customViewId,
        a.customview_ci_uuid AS customViewCiUuid,
        a.uuid,
        a.attr_id AS attrId,
        a.alias,
        a.sort,
        a.is_hidden AS isHidden,
        a.`condition` AS conditionStr,
        b.`name` AS attrName,
        b.`label` AS attrLabel,
        b.`ci_id` AS ciId,
        b.`type` AS attrType,
        b.`target_ci_id` AS targetCiId,
        b.`config` AS configStr
        FROM `cmdb_customview_attr` a
        JOIN `cmdb_attr` b ON a.attr_id = b.id
        WHERE a.customview_id = #{customViewId}
        <if test="isHidden != null">
            AND a.is_hidden = #{isHidden}
        </if>
        ORDER BY a.sort
    </select>

    <select id="getCustomViewById" parameterType="java.lang.Long" resultMap="customViewMap">
        SELECT a.id,
               a.name,
               a.is_private  AS isPrivate,
               a.is_active   AS isActive,
               a.fcu,
               a.fcd,
               a.lcu,
               a.lcd,
               a.icon        AS icon,
               a.description AS description,
               a.config      AS configStr,
               b.auth_type   AS authType,
               b.auth_uuid   AS authUuid,
               d.id          AS tagId,
               d.name        AS tagName
        FROM cmdb_customview a
                 LEFT JOIN cmdb_customview_auth b ON a.id = b.customview_id
                 LEFT JOIN cmdb_customview_tag c ON a.id = c.customview_id
                 LEFT JOIN cmdb_tag d ON c.tag_id = d.id
        WHERE a.id = #{value}
    </select>

    <resultMap id="customViewCiMap" type="codedriver.framework.cmdb.dto.customview.CustomViewCiVo">
        <id property="uuid" column="uuid"/>
        <result property="customViewId" column="customViewId"/>
        <result property="sort" column="sort"/>
        <result property="ciId" column="ciId"/>
        <result property="isHidden" column="isHidden"/>
        <result property="isStart" column="isStart"/>
        <result property="alias" column="alias"/>
        <collection property="attrList" ofType="codedriver.framework.cmdb.dto.customview.CustomViewAttrVo">
            <id property="uuid" column="attrUuid"/>
            <result property="alias" column="attrAlias"/>
            <result property="attrId" column="attrId"/>
            <result property="conditionStr" column="conditionStr"/>
            <result property="customViewCiUuid" column="attrCustomViewCiUuid"/>
            <result property="customViewId" column="attrCustomViewId"/>
            <result property="sort" column="attrSort"/>
        </collection>
        <collection property="relList" ofType="codedriver.framework.cmdb.dto.customview.CustomViewRelVo">
            <id property="uuid" column="relUuid"/>
            <result property="relId" column="relId"/>
            <result property="customViewCiUuid" column="relCustomViewCiUuid"/>
            <result property="customViewId" column="relCustomViewId"/>
        </collection>
    </resultMap>

    <select id="getCustomViewCiByCustomViewId" parameterType="java.lang.Long"
            resultMap="customViewCiMap">
        SELECT a.customview_id      AS customViewId,
               a.`uuid`,
               a.ci_id              AS ciId,
               a.`sort`,
               a.is_hidden          AS isHidden,
               a.is_start           AS isStart,
               a.alias              AS alias,
               b.alias              AS attrAlias,
               b.attr_id            AS attrId,
               b.`condition`        AS conditionStr,
               b.customview_ci_uuid AS attrCustomViewCiUuid,
               b.customview_id      AS attrCustomViewId,
               b.is_hidden          AS attrIsHidden,
               b.sort               AS attrSort,
               b.uuid               AS attrUuid,
               c.rel_id             AS relId,
               c.uuid               AS relUuid,
               c.customview_id      AS relCustomViewId,
               c.customview_ci_uuid AS relCustomViewCiUuid
        FROM cmdb_customview_ci a
                 LEFT JOIN cmdb_customview_attr b ON a.uuid = b.customview_ci_uuid
                 LEFT JOIN cmdb_customview_rel c ON a.uuid = c.customview_ci_uuid
        WHERE a.customview_id = #{value}
    </select>


    <sql id="searchCustomViewSql">
        <where>
            <if test="keyword != null and keyword != ''">
                AND cc.name LIKE CONCAT('%',#{keyword},'%')
            </if>
            <if test="tagId != null">
                AND cct.tag_id = #{tagId}
            </if>
            <choose>
                <when test="isPrivate == 0">
                    AND cc.is_private = 0
                </when>
                <otherwise>
                    <choose>
                        <when test="isAdmin == true">
                            AND (cc.is_private = 0 OR (cc.is_private = 1 AND cc.fcu = #{fcu}))
                        </when>
                        <otherwise>
                            AND cc.is_private = 1 AND cc.fcu = #{fcu}
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>
        </where>
    </sql>

    <select id="searchCustomView" parameterType="codedriver.framework.cmdb.dto.customview.CustomViewVo"
            resultMap="customViewMap">
        SELECT
        a.id,
        a.name,
        a.is_private AS isPrivate,
        a.is_active AS isActive,
        a.fcu,
        a.fcd,
        a.lcu,
        a.lcd,
        a.icon AS icon,
        a.description AS description,
        a.config AS configStr,
        b.auth_type AS authType,
        b.auth_uuid AS authUuid,
        d.id AS tagId,
        d.name AS tagName
        FROM (
        SELECT
        DISTINCT cc.*
        FROM cmdb_customview cc LEFT JOIN cmdb_customview_tag cct ON cc.id = cct.customview_id
        <include refid="searchCustomViewSql"></include>
        ORDER BY id desc
        LIMIT #{startNum},#{pageSize}
        ) a
        LEFT JOIN cmdb_customview_auth b ON a.id = b.customview_id
        LEFT JOIN cmdb_customview_tag c ON a.id = c.customview_id
        LEFT JOIN cmdb_tag d ON c.tag_id = d.id
        ORDER BY a.id desc
    </select>

    <select id="searchCustomViewCount" parameterType="codedriver.framework.cmdb.dto.customview.CustomViewVo"
            resultType="int">
        SELECT
        COUNT(DISTINCT cc.id)
        FROM cmdb_customview cc LEFT JOIN cmdb_customview_tag cct ON cc.id = cct.customview_id
        <include refid="searchCustomViewSql"></include>
    </select>

    <select id="getCustomViewLinkByCustomViewId" parameterType="java.lang.Long"
            resultType="codedriver.framework.cmdb.dto.customview.CustomViewLinkVo">
        SELECT `customview_id` AS customViewId,
               `name`,
               `uuid`,
               `from_uuid`     AS fromUuid,
               `to_uuid`       AS toUuid,
               `from_type`     AS fromType,
               `to_type`       AS toType,
               `join_type`     AS joinType,
               `from_ci_uuid`  AS fromCustomViewCiUuid,
               `to_ci_uuid`    AS toCustomViewCiUuid
        FROM cmdb_customview_link
        WHERE customview_id = #{value}
    </select>

    <update id="updateCustomView" parameterType="codedriver.framework.cmdb.dto.customview.CustomViewVo">
        UPDATE cmdb_customview
        SET name          = #{name},
            is_active     = #{isActive},
            icon          = #{icon},
            `description` = #{description},
            config        = #{configStr,typeHandler=CompressHandler},
            lcd           = NOW(),
            lcu           = #{lcu}
        WHERE id = #{id}
    </update>

    <update id="updateCustomViewActive" parameterType="codedriver.framework.cmdb.dto.customview.CustomViewVo">
        UPDATE cmdb_customview
        SET is_active = #{isActive}
        WHERE id = #{id}
    </update>

    <insert id="insertCustomViewRel" parameterType="codedriver.framework.cmdb.dto.customview.CustomViewRelVo">
        INSERT cmdb_customview_rel (`customview_id`,
                                    `customview_ci_uuid`,
                                    `uuid`,
                                    `rel_id`)
        VALUES (#{customViewId},
                #{customViewCiUuid},
                #{uuid},
                #{relId})
    </insert>

    <insert id="insertCustomView" parameterType="codedriver.framework.cmdb.dto.customview.CustomViewVo">
        INSERT INTO cmdb_customview (id,
                                     `name`,
                                     is_private,
                                     `icon`,
                                     `description`,
                                     is_active,
                                     fcu,
                                     fcd,
                                     config)
        VALUES (#{id},
                #{name},
                #{isPrivate},
                #{icon},
                #{description},
                #{isActive},
                #{fcu},
                now(),
                #{configStr,typeHandler=CompressHandler})
    </insert>

    <insert id="insertCustomViewCi" parameterType="codedriver.framework.cmdb.dto.customview.CustomViewCiVo">
        INSERT INTO cmdb_customview_ci (customview_id, uuid, ci_id, sort, is_hidden, is_start, alias)
        VALUES (#{customViewId}, #{uuid}, #{ciId}, #{sort}, #{isHidden}, #{isStart}, #{alias})
    </insert>

    <insert id="insertCustomViewAttr" parameterType="codedriver.framework.cmdb.dto.customview.CustomViewAttrVo">
        INSERT INTO cmdb_customview_attr
        (customview_id,
         customview_ci_uuid,
         uuid,
         attr_id,
         alias,
         sort,
         is_hidden,
         `condition`)
        VALUES (#{customViewId},
                #{customViewCiUuid},
                #{uuid},
                #{attrId},
                #{alias},
                #{sort},
                #{isHidden},
                #{conditionStr})
    </insert>

    <insert id="insertCustomViewLink" parameterType="codedriver.framework.cmdb.dto.customview.CustomViewLinkVo">
        INSERT
        INTO cmdb_customview_link (customview_id,
                                   `name`,
                                   uuid,
                                   from_uuid,
                                   to_uuid,
                                   from_type,
                                   to_type,
                                   join_type,
                                   from_ci_uuid,
                                   to_ci_uuid)
        VALUES (#{customViewId},
                #{name},
                #{uuid},
                #{fromUuid},
                #{toUuid},
                #{fromType},
                #{toType},
                #{joinType},
                #{fromCustomViewCiUuid},
                #{toCustomViewCiUuid})
    </insert>


    <insert id="buildCustomView" parameterType="java.lang.String">
        ${value}
    </insert>

    <insert id="insertCustomViewTag">
        INSERT INTO cmdb_customview_tag (customview_id, tag_id)
        VALUES (#{customViewId}, #{tagId})
    </insert>

    <delete id="deleteCustomViewRelByCustomViewId" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_customview_rel
        WHERE customview_id = #{value}
    </delete>

    <delete id="deleteCustomViewTagByCustomViewId" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_customview_tag
        WHERE customview_id = #{value}
    </delete>

    <delete id="deleteCustomViewCiByCustomViewId" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_customview_ci
        WHERE customview_id = #{value}
    </delete>

    <delete id="deleteCustomViewAttrByCustomViewId" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_customview_attr
        WHERE customview_id = #{value}
    </delete>

    <delete id="deleteCustomViewLinkByCustomViewId" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_customview_link
        WHERE customview_id = #{value}
    </delete>

    <delete id="deleteCustomViewById" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_customview
        WHERE id = #{value}
    </delete>

    <delete id="dropCustomView" parameterType="java.lang.String">
        DROP VIEW IF EXISTS ${value}
    </delete>
</mapper>
