<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.discovery.DiscoveryMapper">
    <select id="getDiscoveryConfCombopByConfId"
            parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.discovery.DiscoverConfCombopVo">
        select conf_id AS confId, combop_id AS combopId
        from discovery_conf_combop
        where conf_id = #{value}
    </select>

    <insert id="insertDiscoveryConfCombop" parameterType="neatlogic.framework.cmdb.dto.discovery.DiscoverConfCombopVo">
        insert into discovery_conf_combop (conf_id, combop_id)
        values (#{confId}, #{combopId})
    </insert>

    <delete id="deleteDiscoveryConfCombopByConfId" parameterType="java.lang.Long">
        delete
        from discovery_conf_combop
        where conf_id = #{value}
    </delete>
</mapper>
