<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.ci.AttrMapper">
	<cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="30000" size="100"></cache>


	<select id="getAttrById" parameterType="java.lang.Long" resultType="codedriver.module.cmdb.dto.ci.AttrVo" useCache="true">
		SELECT
		`id`,
		`ci_id` AS ciId,
		`type`,
		`expression`,
		`prop_id` AS propId,
		`name`,
		`label`,
		`description`,
		`validator_id` AS validatorId,
		(SELECT name FROM cmdb_validator x WHERE x.id = validator_id) AS validatorName,
		`is_required` AS isRequired,
		`is_unique` AS isUnique,
		`input_type` AS inputType,
		`group_name` AS groupName,
		`is_private` AS isPrivate
		FROM
		`cmdb_attr`
		WHERE
		id = #{value}
	</select>

	<select id="getAttrGroupByCiId" parameterType="java.lang.Long" resultType="java.lang.String" useCache="true">
		SELECT DISTINCT group_name FROM cmdb_attr WHERE ci_id = #{value} AND group_name is not null
	</select>

	<select id="getAttrByCiId" parameterType="java.lang.Long" resultType="codedriver.module.cmdb.dto.ci.AttrVo" useCache="false"><!-- 引用了prop数据，所以不能用cache -->
		SELECT
		attr.`id`,
		attr.`ci_id` AS ciId,
		attr.`type`,
		attr.`prop_id` AS propId,
		cp.`config` AS propConfig,
		cp.`handler` AS propHandler,
		attr.`expression`,
		attr.`name`,
		attr.`label`,
		attr.`description`,
		attr.`validator_id` AS validatorId ,
		cv.`name` AS validatorName,
		cv.`config` AS validConfig,
		attr.`is_required` AS isRequired,
		attr.`is_unique` AS isUnique,
		attr.`input_type` AS inputType,
		attr.`group_name` AS groupName,
		attr.`is_private` AS isPrivate,
		cview.sort
		FROM
		`cmdb_attr` attr
		LEFT JOIN cmdb_validator cv ON
		attr.`validator_id` = cv.id
		LEFT JOIN cmdb_prop cp ON
		attr.prop_id = cp.id
		LEFT JOIN cmdb_view cview ON
		attr.id = cview.item_id
		and cview.type = 'attr'
		WHERE
		attr.ci_id = #{value}
		ORDER BY
		sort ASC,
		attr.id ASC<!-- 按照视图设置的排序 -->
	</select>

	<select id="getAttrByCiIdAndShowType" resultType="codedriver.module.cmdb.dto.ci.AttrVo" useCache="false"><!-- 引用了prop数据，所以不能用cache -->
		SELECT
		attr.`id`,
		attr.`ci_id` AS ciId,
		attr.`type`,
		attr.`prop_id` AS propId,
		cp.`config` AS propConfig,
		cp.`handler` AS propHandler,
		attr.`expression`,
		attr.`name`,
		attr.`label`,
		attr.`description`,
		attr.`validator`,
		cv.`name` AS validatorName,
		cv.`config` AS validConfig,
		attr.`is_required` AS isRequired,
		attr.`is_unique` AS isUnique,
		attr.`input_type` AS inputType,
		attr.`group_name` AS groupName,
		attr.`is_private` AS isPrivate,
		cview.sort
		FROM
		`cmdb_attr` attr
		LEFT JOIN cmdb_validator cv ON
		attr.`validator` = cv.id
		LEFT JOIN cmdb_prop cp ON
		attr.prop_id = cp.id
		LEFT JOIN cmdb_view cview ON
		attr.id = cview.item_id
		and cview.type = 'attr'
		WHERE
		attr.ci_id = #{ciId}
		and cview.show_type in
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
		ORDER BY
		sort ASC,
		attr.id ASC<!-- 按照视图设置的排序 -->
	</select>

	<select id="getAttrByCiIdList" resultType="codedriver.module.cmdb.dto.ci.AttrVo" useCache="false"><!-- 引用了prop数据，所以不能用cache -->
		SELECT
		attr.`id`,
		attr.`ci_id` AS ciId,
		attr.`type`,
		attr.`prop_id` AS propId,
		cp.`config` AS propConfig,
		cp.`handler` AS propHandler,
		attr.`expression`,
		attr.`name`,
		attr.`label`,
		attr.`description`,
		attr.`validator_id` AS validatorId,
		cv.`name` AS validatorName,
		cv.`config` AS validConfig,
		attr.`is_required` AS isRequired,
		attr.`is_unique` AS isUnique,
		attr.`input_type` AS inputType,
		attr.`group_name` AS groupName,
		attr.`is_private` AS isPrivate,
		cview.sort
		FROM
		`cmdb_attr` attr
		LEFT JOIN cmdb_validator cv ON
		attr.`validator_id` = cv.id
		LEFT JOIN cmdb_prop cp ON
		attr.prop_id = cp.id
		LEFT JOIN cmdb_view cview ON
		attr.id = cview.item_id
		and cview.type = 'attr'
		WHERE
		attr.ci_id IN
		<foreach collection="ciIdList" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		ORDER BY
		sort ASC,
		attr.id ASC<!-- 现按照视图设置的排序 -->
	</select>

	<select id="checkAttrNameIsRepeat" parameterType="codedriver.module.cmdb.dto.ci.AttrVo" resultType="int">
		SELECT COUNT(1) FROM `cmdb_attr` WHERE `name` = #{name} AND `ci_id` = #{ciId} AND `id` != #{id}
	</select>

	<update id="updateAttr" parameterType="codedriver.module.cmdb.dto.ci.AttrVo">
		UPDATE
		`cmdb_attr`
		SET
		`type` = #{type},
		`prop_id` = #{propId},
		`expression` = #{expression},
		`name` = #{name},
		`label` = #{label},
		`description` = #{description},
		`validator_id` = #{validatorId},
		`is_required` = #{isRequired},
		`is_unique` = #{isUnique},
		`input_type` = #{inputType},
		`group_name` = #{groupName}
		WHERE
		id = #{id}
	</update>

	<insert id="insertAttr" parameterType="codedriver.module.cmdb.dto.ci.AttrVo">
		INSERT INTO `cmdb_attr` (
		`id`,
		`ci_id`,
		`type`,
		`prop_id`,
		`expression`,
		`name`,
		`label`,
		`description`,
		`validator_id`,
		`is_required`,
		`is_unique`,
		`input_type`,
		`group_name`,
		`is_private`
		)
		VALUES
		(
		#{id},
		#{ciId},
		#{type},
		#{propId},
		#{expression},
		#{name},
		#{label},
		#{description},
		#{validatorId},
		#{isRequired},
		#{isUnique},
		#{inputType},
		#{groupName},
		#{isPrivate}
		)
	</insert>

	<delete id="deleteAttrById" parameterType="java.lang.Long">
		DELETE FROM `cmdb_attr`
		WHERE id = #{value}
	</delete>

	<delete id="deleteAttrByCiId" parameterType="java.lang.Long">
		DELETE
		FROM
		`cmdb_attr`
		WHERE ci_id = #{value}
	</delete>

</mapper>
