<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.ci.AttrMapper">
    <!--<cache-ref namespace="codedriver.module.cmdb.dao.mapper.ci.CiMapper"/>
    <cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="30000" size="100"></cache>-->

    <select id="getExpressionCiIdByValueCiId" parameterType="java.lang.Long"
            resultType="java.lang.Long">
        SELECT DISTINCT expression_ci_id
        FROM cmdb_attrexpression_rel
        WHERE value_ci_id = #{value}
    </select>

    <select id="getExpressionAttrByValueAttrId" parameterType="java.lang.Long"
            resultType="codedriver.framework.cmdb.dto.ci.AttrVo">
        SELECT a.`id`,
               a.`ci_id`                                                       AS ciId,
               a.`type`,
               a.`target_ci_id`                                                AS targetCiId,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`validator_id`                                                AS validatorId,
               (SELECT name FROM cmdb_validator x WHERE x.id = a.validator_id) AS validatorName,
               a.`is_required`                                                 AS isRequired,
               a.`is_unique`                                                   AS isUnique,
               a.`input_type`                                                  AS inputType,
               a.`group_name`                                                  AS groupName,
               a.`is_private`                                                  AS isPrivate,
               a.`config`                                                      AS configStr
        FROM `cmdb_attr` a
                 JOIN cmdb_attrexpression_rel b ON a.id = b.expression_attr_id
        WHERE b.value_attr_id = #{value}
    </select>

    <select id="getExpressionAttrByValueAttrIdList" parameterType="java.lang.Long"
            resultType="codedriver.framework.cmdb.dto.attrexpression.AttrExpressionRelVo" useCache="true">
        SELECT DISTINCT
        a.expression_ci_id AS expressionCiId,
        a.expression_attr_id AS expressAttrId,
        a.value_ci_id AS valueCiId,
        a.value_attr_id AS valueAttrId
        FROM
        cmdb_attrexpression_rel a
        WHERE
        a.value_ci_id = #{valueCiId} AND
        a.value_attr_id in
        <foreach collection="valueAttrIdList" item="attrId" open="(" close=")" separator=",">
            #{attrId}
        </foreach>
    </select>

    <select id="getAttrById" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.AttrVo"
            useCache="true">
        SELECT `id`,
               `ci_id`                                                       AS ciId,
               `type`,
               `target_ci_id`                                                AS targetCiId,
               `name`,
               `label`,
               `description`,
               `validator_id`                                                AS validatorId,
               (SELECT name FROM cmdb_validator x WHERE x.id = validator_id) AS validatorName,
               `is_required`                                                 AS isRequired,
               `is_unique`                                                   AS isUnique,
               `input_type`                                                  AS inputType,
               `group_name`                                                  AS groupName,
               `is_private`                                                  AS isPrivate,
               `config`                                                      AS configStr
        FROM `cmdb_attr`
        WHERE id = #{value}
    </select>

    <select id="getAttrByIdList" resultType="codedriver.framework.cmdb.dto.ci.AttrVo"
            useCache="true">
        SELECT `id`,
        `ci_id` AS ciId,
        `type`,
        `target_ci_id` AS targetCiId,
        `name`,
        `label`,
        `description`,
        `validator_id` AS validatorId,
        (SELECT name FROM cmdb_validator x WHERE x.id = validator_id) AS validatorName,
        `is_required` AS isRequired,
        `is_unique` AS isUnique,
        `input_type` AS inputType,
        `group_name` AS groupName,
        `is_private` AS isPrivate,
        `config` AS configStr
        FROM `cmdb_attr`
        WHERE id IN
        <foreach collection="attrIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </select>

    <select id="getAttrGroupByCiId" parameterType="java.lang.Long" resultType="java.lang.String" useCache="true">
        SELECT DISTINCT group_name
        FROM cmdb_attr
        WHERE ci_id = #{value}
          AND group_name is not null
    </select>

    <select id="getAttrByCiId" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.AttrVo"
            useCache="true">
        SELECT
        ci.`id` AS ciId,
        ci.`name` AS ciName,
        ci.`label` AS ciLabel,
        attr.`id`,
        attr.`type`,
        attr.`config` AS configStr,
        attr.`name`,
        attr.`label`,
        attr.`description`,
        attr.`validator_id` AS validatorId,
        cv.`name` AS validatorName,
        cv.`handler` AS validatorHandler,
        attr.`target_ci_id` AS targetCiId,
        attr.`is_required` AS isRequired,
        attr.`is_unique` AS isUnique,
        attr.`input_type` AS inputType,
        attr.`group_name` AS groupName,
        attr.`is_private` AS isPrivate,
        if(ci.id = #{value}, 0, 1) AS `isExtended`,
        IFNULL(cview.sort, 999999) AS `sort`
        FROM
        `cmdb_ci` ci
        JOIN `cmdb_attr` attr ON ci.id = attr.ci_id
        LEFT JOIN cmdb_validator cv ON attr.`validator_id` = cv.id
        LEFT JOIN cmdb_view cview ON attr.id = cview.item_id
        AND cview.type = 'attr' AND cview.ci_id = #{value}
        WHERE
        ci.lft &lt;= ( SELECT lft FROM `cmdb_ci` WHERE id = #{value} )
        AND ci.rht &gt;= ( SELECT rht FROM `cmdb_ci` WHERE id = #{value} )
        ORDER BY
        sort,
        id<!-- 按照视图设置的排序 -->
    </select>

    <select id="checkAttrNameIsRepeat" parameterType="codedriver.framework.cmdb.dto.ci.AttrVo" resultType="int">
        SELECT COUNT(1)
        FROM `cmdb_attr`
        WHERE `name` = #{name}
          AND `ci_id` = #{ciId}
          AND `id` != #{id}
    </select>


    <update id="updateAttr" parameterType="codedriver.framework.cmdb.dto.ci.AttrVo">
        UPDATE
            `cmdb_attr`
        SET `type`         = #{type},
            `expression`   = #{expression},
            `target_ci_id` = #{targetCiId},
            `name`         = #{name},
            `label`        = #{label},
            `description`  = #{description},
            `validator_id` = #{validatorId},
            `is_required`  = #{isRequired},
            `is_unique`    = #{isUnique},
            `input_type`   = #{inputType},
            `group_name`   = #{groupName},
            `config`       = #{configStr,typeHandler=compressHandler}
        WHERE id = #{id}
    </update>

    <insert id="insertAttrExpressionRel">
        INSERT IGNORE INTO cmdb_attrexpression_rel (expression_ci_id,
                                                    expression_attr_id,
                                                    value_attr_id,
                                                    value_ci_id)
        VALUES (#{expressionCiId},
                #{expressionAttrId},
                #{valueAttrId},
                #{valueCiId})
    </insert>

    <insert id="insertAttr" parameterType="codedriver.framework.cmdb.dto.ci.AttrVo">
        INSERT INTO `cmdb_attr` (`id`,
                                 `ci_id`,
                                 `type`,
                                 `target_ci_id`,
                                 `config`,
                                 `name`,
                                 `label`,
                                 `description`,
                                 `validator_id`,
                                 `is_required`,
                                 `is_unique`,
                                 `input_type`,
                                 `group_name`,
                                 `is_private`)
        VALUES (#{id},
                #{ciId},
                #{type},
                #{targetCiId},
                #{configStr,typeHandler=compressHandler},
                #{name},
                #{label},
                #{description},
                #{validatorId},
                #{isRequired},
                #{isUnique},
                #{inputType},
                #{groupName},
                #{isPrivate})
    </insert>

    <delete id="deleteAttrExpressionRelByExpressionAttrId" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_attrexpression_rel
        WHERE expression_attr_id = #{value}
    </delete>

    <delete id="deleteAttrExpressionRelByValueAttrId" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_attrexpression_rel
        WHERE value_attr_id = #{value}
    </delete>

    <delete id="deleteAttrById" parameterType="java.lang.Long">
        DELETE a,b,c
        FROM `cmdb_attr` a
                 LEFT JOIN `cmdb_ci_unique` b ON a.id = b.attr_id
                 LEFT JOIN `cmdb_ci_nameexpression` c ON a.id = c.attr_id
        WHERE a.id = #{value}
    </delete>


</mapper>
