<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.ci.CiMapper">
    <cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="30000"
           size="100"></cache>

    <select id="getCiBaseInfoByCiEntityIdList" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="false">
        SELECT
        DISTINCT
        a.`id`,
        a.`name`,
        a.`label`,
        a.`description`,
        a.`icon`,
        a.`type_id` AS typeId,
        a.`is_private` AS isPrivate,
        a.`is_menu` AS isMenu,
        a.`parent_ci_id` AS parentCiId,
        a.`is_abstract` AS isAbstract,
        a.`is_virtual` AS isVirtual,
        a.`file_id` AS fileId
        FROM cmdb_cientity b JOIN cmdb_ci a ON b.ci_id = a.id
        WHERE b.id IN
        <foreach collection="ciEntityIdList" item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
    </select>

    <select id="getDownwardCiListByLR" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`parent_ci_id` AS parentCiId,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`file_id`      AS fileId,
               a.`lft`          AS lft,
               a.`rht`          AS rht
        FROM `cmdb_ci` a
        WHERE a.lft &gt;= #{lft}
          AND a.rht &lt;= #{rht}
        ORDER BY lft
    </select>

    <select id="getUpwardCiListByLR" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`parent_ci_id` AS parentCiId,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`file_id`      AS fileId,
               a.`lft`          AS lft,
               a.`rht`          AS rht
        FROM `cmdb_ci` a
        WHERE a.lft &lt;= #{lft}
          AND a.rht &gt;= #{rht}
        ORDER BY lft
    </select>

    <!--<select id="getCiNameExpressionCiIdByAttrId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT ci_id
        FROM cmdb_ci_nameexpression
        WHERE attr_id = #{value}
    </select>-->

    <select id="getAllCi" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="true">
        SELECT a.`id`,
        a.`name`,
        a.`label`,
        a.`description`,
        a.`icon`,
        a.`parent_ci_id` AS parentCiId,
        a.`type_id` AS typeId,
        a.`is_private` AS isPrivate,
        a.`is_menu` AS isMenu,
        a.`is_abstract` AS isAbstract,
        a.`is_virtual` AS isVirtual,
        a.`file_id` AS fileId,
        a.`lft` AS lft,
        a.`rht` AS rht
        FROM `cmdb_ci` a
        <where>
            <if test="idList != null and idList.size() > 0">
                a.id IN
                <foreach collection="idList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY `name`
    </select>

    <select id="getCiByTargetCiId" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.CiVo"
            useCache="false">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`file_id`      AS fileId
        FROM `cmdb_ci` a
                 JOIN `cmdb_attr` b ON a.id = b.ci_id
        WHERE b.target_ci_id = #{value}
          and a.id != #{value}
    </select>

    <select id="getCiByFromCiId" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.CiVo"
            useCache="false">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`file_id`      AS fileId
        FROM `cmdb_ci` a
                 JOIN `cmdb_rel` b ON a.id = b.to_ci_id
        WHERE b.from_ci_id = #{value}
          and a.id != #{value}
    </select>

    <select id="getCiByToCiId" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.CiVo"
            useCache="false">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`file_id`      AS fileId
        FROM `cmdb_ci` a
                 JOIN `cmdb_rel` b ON a.id = b.from_ci_id
        WHERE b.to_ci_id = #{value}
          and a.id != #{value}
    </select>

    <select id="checkCiNameIsExists" parameterType="codedriver.framework.cmdb.dto.ci.CiVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM cmdb_ci
        WHERE name = #{name}
          AND id != #{id}
    </select>

    <select id="checkCiLabelIsExists" parameterType="codedriver.framework.cmdb.dto.ci.CiVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM cmdb_ci
        WHERE label = #{label}
          AND id != #{id}
    </select>

    <resultMap id="ciTypeMap" type="codedriver.framework.cmdb.dto.ci.CiTypeVo">
        <id column="ciTypeId" property="id"/>
        <result column="ciTypeName" property="name"/>
        <result column="ciTypeIsMenu" property="isMenu"/>
        <result column="ciTypeIsShowInTopo" property="isShowInTopo"/>
        <collection property="ciList" ofType="codedriver.framework.cmdb.dto.ci.CiVo">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="label" property="label"/>
            <result column="description" property="description"/>
            <result column="icon" property="icon"/>
            <result column="ciIsMenu" property="isMenu"/>
            <result column="typeId" property="typeId"/>
            <result column="parentCiId" property="parentCiId"/>
            <result column="isAbstract" property="isAbstract"/>
            <result column="isVirtual" property="isVirtual"/>
            <result column="fileId" property="fileId"/>
            <collection property="authList" ofType="codedriver.framework.cmdb.dto.ci.CiAuthVo">
                <result column="authCiId" property="ciId"/>
                <result column="authType" property="authType"/>
                <result column="authAction" property="action"/>
                <result column="authUuid" property="authUuid"/>
            </collection>
        </collection>
    </resultMap>

    <select id="searchCiTypeCi" parameterType="codedriver.framework.cmdb.dto.ci.CiVo" resultMap="ciTypeMap"
            useCache="false">
        SELECT
        b.`id`,
        b.`name`,
        b.`label`,
        b.`description`,
        b.`icon`,
        b.`is_private` AS isPrivate,
        b.`is_menu` AS ciIsMenu,
        b.`type_id` AS typeId,
        b.`parent_ci_id` AS parentCiId,
        b.`is_abstract` AS isAbstract,
        b.`is_virtual` AS isVirtual,
        b.`file_id` AS fileId,
        a.`id` AS ciTypeId,
        a.`name` AS ciTypeName,
        a.`is_menu` AS ciTypeIsMenu,
        a.`is_showintopo` AS ciTypeIsShowInTopo,
        c.ci_id AS authCiId,
        c.auth_type AS authType,
        c.action AS authAction,
        c.auth_uuid AS authUuid
        FROM
        `cmdb_citype` a LEFT JOIN `cmdb_ci` b ON a.id = b.type_id LEFT JOIN `cmdb_ci_auth` c ON b.id = c.ci_id
        <where>
            <if test="isTypeShowInTopo != null">
                AND a.is_showintopo = #{isTypeShowInTopo}
            </if>
            <if test="keyword != null and keyword !=''">
                AND (b.name LIKE CONCAT('%', #{keyword}, '%') OR b.label LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="typeId != null">
                AND a.id = #{typeId}
            </if>
        </where>
        ORDER BY a.sort,b.lft
    </select>

    <select id="getCiByIdList" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="true">
        SELECT
        `id`,
        `name`,
        `label`,
        `description`,
        `icon`,
        `type_id` AS typeId,
        `is_private` AS isPrivate,
        `is_menu` AS isMenu,
        `is_abstract` AS isAbstract,
        `is_virtual` AS isVirtual,
        `file_id` AS fileId
        FROM
        `cmdb_ci`
        WHERE id IN
        <foreach collection="ciIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <resultMap id="ciResultMap" type="codedriver.framework.cmdb.dto.ci.CiVo">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="label" property="label"></result>
        <result column="description" property="description"></result>
        <result column="icon" property="icon"></result>
        <result column="typeId" property="typeId"></result>
        <result column="isPrivate" property="isPrivate"></result>
        <result column="isMenu" property="isMenu"></result>
        <result column="parentCiId" property="parentCiId"></result>
        <result column="isAbstract" property="isAbstract"></result>
        <result column="isVirtual" property="isVirtual"></result>
        <result column="fileId" property="fileId"></result>
        <result column="nameAttrId" property="nameAttrId"></result>
        <result column="lft" property="lft"></result>
        <result column="rht" property="rht"></result>
        <collection property="uniqueAttrIdList" ofType="java.lang.Long">
            <id column="uniqueAttrId"></id>
        </collection>
    </resultMap>

    <select id="getCiById" parameterType="java.lang.Long" resultMap="ciResultMap"
            useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`file_id`      AS fileId,
               a.`name_attr_id` AS nameAttrId,
               a.`lft`          AS lft,
               a.`rht`          AS rht,
               b.`attr_id`      AS uniqueAttrId
        FROM `cmdb_ci` a
                 LEFT JOIN `cmdb_ci_unique` b ON a.id = b.ci_id
        WHERE id = #{value}
    </select>

    <select id="getCiByName" parameterType="java.lang.String" resultMap="ciResultMap"
            useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`file_id`      AS fileId,
               a.`name_attr_id` AS nameAttrId,
               a.`lft`          AS lft,
               a.`rht`          AS rht,
               b.`attr_id`      AS uniqueAttrId
        FROM `cmdb_ci` a
                 LEFT JOIN `cmdb_ci_unique` b ON a.id = b.ci_id
        WHERE name = #{value}
    </select>

    <!-- <update id="updateCiNameExpression">
         UPDATE
             `cmdb_ci`
         SET `name_expression` = #{nameExpression}
         WHERE id = #{ciId}
     </update>-->

    <update id="updateCiNameAttrId" parameterType="codedriver.framework.cmdb.dto.ci.CiVo">
        UPDATE
            `cmdb_ci`
        SET name_attr_id = #{nameAttrId}
        WHERE id = #{id}
    </update>

    <update id="updateCi" parameterType="codedriver.framework.cmdb.dto.ci.CiVo">
        UPDATE
            `cmdb_ci`
        SET `name`         = #{name},
            `label`        = #{label},
            `description`  = #{description},
            `icon`         = #{icon},
            `type_id`      = #{typeId},
            `is_private`   = #{isPrivate},
            `is_menu`      = #{isMenu},
            `parent_ci_id` = #{parentCiId},
            `is_abstract`  = #{isAbstract},
            `is_virtual`   = #{isVirtual},
            `file_id`      = #{fileId}
        WHERE `id` = #{id}
    </update>

    <insert id="insertCi" parameterType="codedriver.framework.cmdb.dto.ci.CiVo">
        INSERT INTO `cmdb_ci` (`id`,
                               `name`,
                               `label`,
                               `description`,
                               `icon`,
                               `type_id`,
                               `is_private`,
                               `is_menu`,
                               `is_abstract`,
                               `is_virtual`,
                               `parent_ci_id`,
                               `name_attr_id`,
                               `file_id`,
                               `lft`,
                               `rht`)
        VALUES (#{id},
                #{name},
                #{label},
                #{description},
                #{icon},
                #{typeId},
                #{isPrivate},
                #{isMenu},
                #{isAbstract},
                #{isVirtual},
                #{parentCiId},
                #{nameAttrId},
                #{fileId},
                #{lft},
                #{rht})
    </insert>

    <insert id="insertCiUnique">
        INSERT cmdb_ci_unique (ci_id, attr_id)
        VALUES (#{ciId}, #{attrId})
    </insert>

    <!--<insert id="insertCiNameExpression">
        INSERT INTO cmdb_ci_nameexpression (ci_id, attr_id)
        VALUES (#{ciId}, #{attrId})
    </insert>-->


    <!-- <delete id="deleteCiNameExpressionByCiId" parameterType="java.lang.Long">
         DELETE
         FROM cmdb_ci_nameexpression
         WHERE ci_id = #{value}
     </delete>-->

    <delete id="deleteCiById" parameterType="java.lang.Long">
        DELETE a,b,c,d,e,f,g,h
        FROM
            `cmdb_ci` a
            LEFT JOIN `cmdb_attr` b
        ON a.`id` = b.`ci_id`
            LEFT JOIN `cmdb_rel` c ON a.`id` = c.`from_ci_id`
            LEFT JOIN `cmdb_rel` d ON a.`id` = d.`to_ci_id`
            LEFT JOIN `cmdb_ci_auth` e ON a.id = e.`ci_id`
            LEFT JOIN `cmdb_relgroup` f ON a.id = f.`ci_id`
            LEFT JOIN `cmdb_view` g ON a.id = g.`ci_id`
            LEFT JOIN `cmdb_ci_unique` h ON a.id = h.`ci_id`
        WHERE a.id = #{value}
    </delete>

    <delete id="deleteCiUniqueByCiId" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_ci_unique
        WHERE ci_id = #{value}
    </delete>


</mapper>
