<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2022 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.ci.CiMapper">
    <cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="30000" size="500"></cache>
    <select id="getCiViewXmlById" parameterType="java.lang.Long" resultType="java.lang.String" useCache="false">
        select xml
        from cmdb_ci
        where id = #{value}
    </select>

    <select id="getAttrCountByCiId" parameterType="java.lang.Long" resultType="int" useCache="false">
        select count(1)
        from cmdb_attr
        where ci_id = #{value}
    </select>

    <select id="getRelCountByCiId" parameterType="java.lang.Long" resultType="int" useCache="false">
        select count(1)
        from cmdb_rel
        where from_ci_id = #{value}
           or to_ci_id = #{value}
    </select>

    <select id="getCustomViewByCiId" parameterType="java.lang.Long"
            resultType="codedriver.framework.cmdb.dto.customview.CustomViewVo" useCache="false">
        select a.id,
               a.name,
               a.is_active as isActive
        from cmdb_customview a
                 join cmdb_customview_ci b on a.id = b.customview_id
        where b.ci_id = #{value}
    </select>

    <select id="getCiBaseInfoByCiEntityIdList" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="false">
        SELECT
        DISTINCT
        a.`id`,
        a.`name`,
        a.`label`,
        a.`description`,
        a.`icon`,
        a.`type_id` AS typeId,
        a.`is_private` AS isPrivate,
        a.`is_menu` AS isMenu,
        a.`parent_ci_id` AS parentCiId,
        a.`is_abstract` AS isAbstract,
        a.`is_virtual` AS isVirtual,
        a.`lft`,
        a.`rht`
        FROM cmdb_cientity b JOIN cmdb_ci a ON b.ci_id = a.id
        WHERE b.id IN
        <foreach collection="ciEntityIdList" item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
    </select>

    <select id="getDownwardCiListByLR" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`parent_ci_id` AS parentCiId,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`lft`          AS lft,
               a.`rht`          AS rht
        FROM `cmdb_ci` a
        WHERE a.lft &gt;= #{lft}
          AND a.rht &lt;= #{rht}
        ORDER BY lft
    </select>

    <select id="getUpwardCiListByLR" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`parent_ci_id` AS parentCiId,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`lft`          AS lft,
               a.`rht`          AS rht
        FROM `cmdb_ci` a
        WHERE a.lft &lt;= #{lft}
          AND a.rht &gt;= #{rht}
        ORDER BY lft
    </select>


    <select id="getAllCi" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="true">
        SELECT a.`id`,
        a.`name`,
        a.`label`,
        a.`description`,
        a.`icon`,
        a.`parent_ci_id` AS parentCiId,
        a.`type_id` AS typeId,
        a.`is_private` AS isPrivate,
        a.`is_menu` AS isMenu,
        a.`is_abstract` AS isAbstract,
        a.`is_virtual` AS isVirtual,
        a.`lft` AS lft,
        a.`rht` AS rht
        FROM `cmdb_ci` a
        <where>
            <if test="idList != null and idList.size() > 0">
                a.id IN
                <foreach collection="idList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY `name`
    </select>

    <select id="getCiListByNameList" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="true">
        SELECT a.`id`,
        a.`name`,
        a.`label`,
        a.`description`,
        a.`icon`,
        a.`parent_ci_id` AS parentCiId,
        a.`type_id` AS typeId,
        a.`is_private` AS isPrivate,
        a.`is_menu` AS isMenu,
        a.`is_abstract` AS isAbstract,
        a.`is_virtual` AS isVirtual,
        a.`lft` AS lft,
        a.`rht` AS rht
        FROM `cmdb_ci` a
        WHERE a.`name` IN
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        ORDER BY `name`
    </select>

    <select id="getCiByTargetCiId" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.CiVo"
            useCache="false">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual
        FROM `cmdb_ci` a
                 JOIN `cmdb_attr` b ON a.id = b.ci_id
        WHERE b.target_ci_id = #{value}
          and a.id != #{value}
    </select>

    <select id="getCiByFromCiId" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.CiVo"
            useCache="false">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual
        FROM `cmdb_ci` a
                 JOIN `cmdb_rel` b ON a.id = b.to_ci_id
        WHERE b.from_ci_id = #{value}
          and a.id != #{value}
    </select>

    <select id="getCiByToCiId" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.CiVo"
            useCache="false">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual
        FROM `cmdb_ci` a
                 JOIN `cmdb_rel` b ON a.id = b.from_ci_id
        WHERE b.to_ci_id = #{value}
          and a.id != #{value}
    </select>

    <select id="checkCiNameIsExists" parameterType="codedriver.framework.cmdb.dto.ci.CiVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM cmdb_ci
        WHERE name = #{name}
          AND id != #{id}
    </select>

    <select id="checkCiLabelIsExists" parameterType="codedriver.framework.cmdb.dto.ci.CiVo" resultType="int"
            useCache="false">
        SELECT COUNT(1)
        FROM cmdb_ci
        WHERE label = #{label}
          AND id != #{id}
    </select>

    <resultMap id="ciTypeMap" type="codedriver.framework.cmdb.dto.ci.CiTypeVo">
        <id column="ciTypeId" property="id"/>
        <result column="ciTypeName" property="name"/>
        <result column="ciTypeIsMenu" property="isMenu"/>
        <result column="ciTypeIsShowInTopo" property="isShowInTopo"/>
        <collection property="ciList" ofType="codedriver.framework.cmdb.dto.ci.CiVo">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="label" property="label"/>
            <result column="description" property="description"/>
            <result column="icon" property="icon"/>
            <result column="ciIsMenu" property="isMenu"/>
            <result column="typeId" property="typeId"/>
            <result column="parentCiId" property="parentCiId"/>
            <result column="parentCiIcon" property="parentCiIcon"/>
            <result column="parentCiName" property="parentCiName"/>
            <result column="parentCiLabel" property="parentCiLabel"/>
            <result column="isAbstract" property="isAbstract"/>
            <result column="isVirtual" property="isVirtual"/>
            <result column="fileId" property="fileId"/>
            <result column="syncPolicyCount" property="syncPolicyCount"/>
            <collection property="authList" ofType="codedriver.framework.cmdb.dto.ci.CiAuthVo">
                <result column="authCiId" property="ciId"/>
                <result column="authType" property="authType"/>
                <result column="authAction" property="action"/>
                <result column="authUuid" property="authUuid"/>
            </collection>
        </collection>
    </resultMap>

    <select id="searchCiTypeCi" parameterType="codedriver.framework.cmdb.dto.ci.CiVo" resultMap="ciTypeMap"
            useCache="true">
        SELECT
        b.`id`,
        b.`name`,
        b.`label`,
        b.`description`,
        b.`icon`,
        b.`is_private` AS isPrivate,
        b.`is_menu` AS ciIsMenu,
        b.`type_id` AS typeId,
        b.`parent_ci_id` AS parentCiId,
        d.`name` AS parentCiName,
        d.`icon` AS parentCiIcon,
        d.`label` AS parentCiLabel,
        b.`is_abstract` AS isAbstract,
        b.`is_virtual` AS isVirtual,
        a.`id` AS ciTypeId,
        a.`name` AS ciTypeName,
        a.`is_menu` AS ciTypeIsMenu,
        a.`is_showintopo` AS ciTypeIsShowInTopo,
        c.ci_id AS authCiId,
        c.auth_type AS authType,
        c.action AS authAction,
        c.auth_uuid AS authUuid,
        (select count(1) FROM `cmdb_sync_policy` csp WHERE csp.ci_id = b.id) AS syncPolicyCount
        FROM
        `cmdb_citype` a
        LEFT JOIN `cmdb_ci` b ON a.id = b.type_id
        LEFT JOIN `cmdb_ci_auth` c ON b.id = c.ci_id
        LEFT JOIN `cmdb_ci` d ON b.`parent_ci_id` = d.`id`
        <where>
            <if test="isTypeShowInTopo != null">
                AND a.is_showintopo = #{isTypeShowInTopo}
            </if>
            <if test="keyword != null and keyword !=''">
                AND (b.name LIKE CONCAT('%', #{keyword}, '%') OR b.label LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="typeIdList != null and typeIdList.size() > 0">
                AND a.id IN
                <foreach collection="typeIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="typeId != null">
                AND a.id = #{typeId}
            </if>
            <if test="isVirtual != null">
                AND b.`is_virtual` = #{isVirtual}
            </if>
            <if test="isAbstract != null">
                AND b.`is_abstract` = #{isAbstract}
            </if>
        </where>
        ORDER BY a.sort,b.lft
    </select>

    <select id="searchCi" parameterType="codedriver.framework.cmdb.dto.ci.CiVo"
            resultType="codedriver.framework.cmdb.dto.ci.CiVo">
        select
        `id`,
        `name`,
        `label`,
        `description`,
        `icon`,
        `is_private` AS isPrivate,
        `is_menu` AS ciIsMenu,
        `type_id` AS typeId,
        `parent_ci_id` AS parentCiId,
        `is_abstract` AS isAbstract,
        `is_virtual` AS isVirtual
        from cmdb_ci
        <where>
            <if test="keyword != null and keyword != ''">
                AND (name LIKE concat('%',#{keyword},'%') or label LIKE concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

    <select id="getCiByIdList" resultType="codedriver.framework.cmdb.dto.ci.CiVo" useCache="true">
        SELECT
        `id`,
        `name`,
        `label`,
        `description`,
        `icon`,
        `type_id` AS typeId,
        `is_private` AS isPrivate,
        `is_menu` AS isMenu,
        `is_abstract` AS isAbstract,
        `is_virtual` AS isVirtual
        FROM
        `cmdb_ci`
        WHERE id IN
        <foreach collection="ciIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <resultMap id="ciResultMap" type="codedriver.framework.cmdb.dto.ci.CiVo">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="label" property="label"></result>
        <result column="description" property="description"></result>
        <result column="icon" property="icon"></result>
        <result column="typeId" property="typeId"></result>
        <result column="typeName" property="typeName"/>
        <result column="isPrivate" property="isPrivate"></result>
        <result column="isMenu" property="isMenu"></result>
        <result column="parentCiId" property="parentCiId"></result>
        <result column="parentCiName" property="parentCiName"></result>
        <result column="parentCiLabel" property="parentCiLabel"></result>
        <result column="isAbstract" property="isAbstract"></result>
        <result column="isVirtual" property="isVirtual"></result>
        <result column="fileId" property="fileId"></result>
        <result column="nameAttrId" property="nameAttrId"></result>
        <result column="lft" property="lft"></result>
        <result column="rht" property="rht"></result>
        <collection property="uniqueAttrIdList" ofType="java.lang.Long">
            <id column="uniqueAttrId"></id>
        </collection>
    </resultMap>

    <select id="getCiById" parameterType="java.lang.Long" resultMap="ciResultMap"
            useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               d.`name`         AS typeName,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               c.label          AS parentCiLabel,
               c.name           AS parentCiName,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`name_attr_id` AS nameAttrId,
               a.`lft`          AS lft,
               a.`rht`          AS rht,
               a.`file_id`      AS fileId,
               b.`attr_id`      AS uniqueAttrId
        FROM `cmdb_ci` a
                 LEFT JOIN `cmdb_ci_unique` b ON a.id = b.ci_id
                 LEFT JOIN `cmdb_ci` c ON a.`parent_ci_id` = c.id
                 LEFT JOIN `cmdb_citype` d ON a.`type_id` = d.id
        WHERE a.id = #{value}
    </select>

    <select id="getCiByName" parameterType="java.lang.String" resultMap="ciResultMap"
            useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               d.`name`         AS typeName,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               c.label          AS parentCiLabel,
               c.name           AS parentCiName,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`name_attr_id` AS nameAttrId,
               a.`lft`          AS lft,
               a.`rht`          AS rht,
               b.`attr_id`      AS uniqueAttrId
        FROM `cmdb_ci` a
                 LEFT JOIN `cmdb_ci_unique` b ON a.id = b.ci_id
                 LEFT JOIN `cmdb_ci` c ON a.`parent_ci_id` = c.id
                 LEFT JOIN `cmdb_citype` d ON a.`type_id` = d.id
        WHERE a.name = #{value}
    </select>

    <select id="getCiByLabel" parameterType="java.lang.String" resultMap="ciResultMap"
            useCache="true">
        SELECT a.`id`,
               a.`name`,
               a.`label`,
               a.`description`,
               a.`icon`,
               a.`type_id`      AS typeId,
               d.`name`         AS typeName,
               a.`is_private`   AS isPrivate,
               a.`is_menu`      AS isMenu,
               a.`parent_ci_id` AS parentCiId,
               c.label          AS parentCiLabel,
               c.name           AS parentCiName,
               a.`is_abstract`  AS isAbstract,
               a.`is_virtual`   AS isVirtual,
               a.`name_attr_id` AS nameAttrId,
               a.`lft`          AS lft,
               a.`rht`          AS rht,
               b.`attr_id`      AS uniqueAttrId
        FROM `cmdb_ci` a
                 LEFT JOIN `cmdb_ci_unique` b ON a.id = b.ci_id
                 LEFT JOIN `cmdb_ci` c ON a.`parent_ci_id` = c.id
                 LEFT JOIN `cmdb_citype` d ON a.`type_id` = d.id
        WHERE a.label = #{value}
    </select>

    <update id="updateCiNameAttrId" parameterType="codedriver.framework.cmdb.dto.ci.CiVo">
        UPDATE
            `cmdb_ci`
        SET name_attr_id = #{nameAttrId}
        WHERE id = #{id}
    </update>

    <update id="updateCi" parameterType="codedriver.framework.cmdb.dto.ci.CiVo">
        UPDATE
            `cmdb_ci`
        SET `name`         = #{name},
            `label`        = #{label},
            `description`  = #{description},
            `icon`         = #{icon},
            `type_id`      = #{typeId},
            `is_private`   = #{isPrivate},
            `is_menu`      = #{isMenu},
            `parent_ci_id` = #{parentCiId},
            `is_abstract`  = #{isAbstract},
            `is_virtual`   = #{isVirtual},
            `xml`          = #{viewXml, typeHandler=CompressHandler}
        WHERE `id` = #{id}
    </update>

    <insert id="insertCi" parameterType="codedriver.framework.cmdb.dto.ci.CiVo">
        INSERT INTO `cmdb_ci` (`id`,
                               `name`,
                               `label`,
                               `description`,
                               `icon`,
                               `type_id`,
                               `is_private`,
                               `is_menu`,
                               `is_abstract`,
                               `is_virtual`,
                               `parent_ci_id`,
                               `name_attr_id`,
                               `lft`,
                               `rht`,
                               `file_id`,
                               `xml`)
        VALUES (#{id},
                #{name},
                #{label},
                #{description},
                #{icon},
                #{typeId},
                #{isPrivate},
                #{isMenu},
                #{isAbstract},
                #{isVirtual},
                #{parentCiId},
                #{nameAttrId},
                #{lft},
                #{rht},
                #{fileId},
                #{viewXml,typeHandler=CompressHandler})
    </insert>

    <insert id="insertCiUnique">
        INSERT cmdb_ci_unique (ci_id, attr_id)
        VALUES (#{ciId}, #{attrId})
    </insert>


    <delete id="deleteCiById" parameterType="java.lang.Long">
        DELETE a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s
        FROM
            `cmdb_ci` a
            LEFT JOIN `cmdb_attr` b
        ON a.`id` = b.`ci_id`
            LEFT JOIN `cmdb_rel` c ON a.`id` = c.`from_ci_id`
            LEFT JOIN `cmdb_rel` d ON a.`id` = d.`to_ci_id`
            LEFT JOIN `cmdb_ci_auth` e ON a.id = e.`ci_id`
            LEFT JOIN `cmdb_relgroup` f ON a.id = f.`ci_id`
            LEFT JOIN `cmdb_view` g ON a.id = g.`ci_id`
            LEFT JOIN `cmdb_ci_unique` h ON a.id = h.`ci_id`
            LEFT JOIN `cmdb_legalvalid` i ON a.id = i.`ci_id`
            LEFT JOIN `cmdb_sync_ci_collection` j ON a.id = j.`ci_id`
            LEFT JOIN `cmdb_sync_audit` k ON j.id = k.`ci_collection_id`
            LEFT JOIN `cmdb_sync_mapping` l ON j.id = l.`ci_collection_id`
            LEFT JOIN `cmdb_sync_policy` m ON j.id = m.`ci_collection_id`
            LEFT JOIN `cmdb_sync_schedule` n ON m.id = n.`policy_id`
            LEFT JOIN `cmdb_attrexpression_rebuild_audit` o ON a.id = o.`ci_id`
            LEFT JOIN `cmdb_ci_group` p ON a.id = p.`ci_id`
            LEFT JOIN `cmdb_import_audit` q ON a.id = q.`ci_id`
            LEFT JOIN `cmdb_relativerel` r ON c.`id` = r.`rel_id`
            LEFT JOIN `cmdb_relativerel` s ON d.`id` = s.`rel_id`
        WHERE a.id = #{value}
    </delete>

    <delete id="deleteCiUniqueByCiId" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_ci_unique
        WHERE ci_id = #{value}
    </delete>


</mapper>
