<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.ci.CiTypeMapper">

    <select id="getMaxSort" resultType="java.lang.Integer">
        SELECT max(sort)
        FROM cmdb_citype
    </select>

    <select id="checkCiTypeNameIsExists" parameterType="codedriver.framework.cmdb.dto.ci.CiTypeVo" resultType="int">
        SELECT count(1)
        FROM cmdb_citype
        WHERE name = #{name}
          AND id != #{id}
    </select>

    <select id="searchCiType" parameterType="codedriver.framework.cmdb.dto.ci.CiTypeVo"
            resultType="codedriver.framework.cmdb.dto.ci.CiTypeVo">
        SELECT
        `id`,
        `name`,
        `sort`,
        `is_menu` AS isMenu,
        `is_showintopo` AS isShowInTopo,
        `icon`,
        (SELECT
        COUNT(1)
        FROM
        cmdb_ci ci WHERE ci.type_id = a.id) AS ciCount
        FROM
        `cmdb_citype` a
        <where>
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY sort
    </select>

    <select id="getCiTypeById" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.CiTypeVo">
        SELECT `id`,
               `name`,
               `sort`,
               `is_menu`       AS isMenu,
               `icon`,
               `is_showintopo` AS isShowInTopo
        FROM `cmdb_citype`
        WHERE id = #{value}
    </select>

    <update id="updateCiType" parameterType="codedriver.framework.cmdb.dto.ci.CiTypeVo">
        UPDATE
            `cmdb_citype`
        SET `name`          = #{name},
            `sort`          = #{sort},
            `is_menu`       = #{isMenu},
            `icon`          = #{icon},
            `is_showintopo` = #{isShowInTopo}
        WHERE `id` = #{id}
    </update>

    <insert id="insertCiType" parameterType="codedriver.framework.cmdb.dto.ci.CiTypeVo">
        INSERT INTO `cmdb_citype` (`id`,
                                   `name`,
                                   `sort`,
                                   `is_menu`,
                                   `icon`,
                                   `is_showintopo`)
        VALUES (#{id},
                #{name},
                #{sort},
                #{isMenu},
                #{icon},
                #{isShowInTopo})
    </insert>

    <delete id="deleteCiTypeById" parameterType="java.lang.Long">
        delete
        from cmdb_citype
        where id = #{value}
    </delete>
</mapper>
