<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.ci.CiTypeMapper">

	<select id="getMaxSort" resultType="java.lang.Integer">
		SELECT max(sort) FROM cmdb_citype
	</select>

	<select id="checkCiTypeNameIsExists" parameterType="codedriver.module.cmdb.dto.ci.CiTypeVo" resultType="int">
		SELECT count(1) FROM cmdb_citype
		WHERE
		name = #{name} AND id != #{id}
	</select>

	<select id="searchCiType" parameterType="codedriver.module.cmdb.dto.ci.CiTypeVo" resultType="codedriver.module.cmdb.dto.ci.CiTypeVo">
		SELECT
		`id`,
		`name`,
		`sort`,
		`is_menu` AS isMenu,
		`icon`
		FROM
		`cmdb_citype`
		<where>
			<if test="keyword != null and keyword != ''">
				AND name LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</where>
		ORDER BY sort
	</select>

	<select id="getCiTypeById" parameterType="java.lang.Long" resultType="codedriver.module.cmdb.dto.ci.CiTypeVo">
		SELECT
		`id`,
		`name`,
		`sort`,
		`is_menu` AS isMenu,
		`icon`
		FROM
		`cmdb_citype`
		WHERE
		id = #{value}
	</select>

	<update id="updateCiType" parameterType="codedriver.module.cmdb.dto.ci.CiTypeVo">
		UPDATE
		`cmdb_citype`
		SET
		`name` = #{name},
		`sort` = #{sort},
		`is_menu` = #{isMenu},
		`icon` = #{icon}
		WHERE `id` = #{id}
	</update>

	<insert id="insertCiType" parameterType="codedriver.module.cmdb.dto.ci.CiTypeVo">
		INSERT INTO `cmdb_citype` (
		`id`,
		`name`,
		`sort`,
		`is_menu`,
		`icon`
		)
		VALUES
		(
		#{id},
		#{name},
		#{sort},
		#{isMenu},
		#{icon}
		)
	</insert>
</mapper>
