<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.ci.RelMapper">
	<cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="30000" size="100"></cache>
	<select id="checkRelGroupNameIsExists" parameterType="codedriver.module.cmdb.dto.ci.RelGroupVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`cmdb_relgroup`
		WHERE ci_id = #{ciId} AND name = #{name}
	</select>

	<select id="getRelGroupByCiId" parameterType="java.lang.Long" resultType="codedriver.module.cmdb.dto.ci.RelGroupVo" useCache="false">
		SELECT
		`id`,
		`ci_id` AS ciId,
		`name`
		FROM
		`cmdb_relgroup`
		WHERE ci_id = #{value}
		ORDER BY id
	</select>

	<select id="getRelGroupById" parameterType="java.lang.Long" resultType="codedriver.module.cmdb.dto.ci.RelGroupVo" useCache="false">
		SELECT
		`id`,
		`ci_id` AS ciId,
		`name`
		FROM
		`cmdb_relgroup`
		WHERE id = #{value}
	</select>

	<select id="checkRelByFromToName" parameterType="codedriver.module.cmdb.dto.ci.RelVo" resultType="int">
		SELECT COUNT(1) FROM cmdb_rel WHERE from_name = #{fromName} AND to_name = #{toName} AND id != #{id}
	</select>

	<select id="getRelById" parameterType="java.lang.Long" resultType="codedriver.module.cmdb.dto.ci.RelVo" useCache="false">
		SELECT
		a.`id`,
		a.`name`,
		a.`input_type` AS inputType,
		a.`from_ci_id` AS fromCiId,
		f.icon AS fromCiIcon,
		f.name AS fromCiName,
		f.label AS fromCiLabel,
		a.`from_name` AS fromName,
		a.`from_label` AS fromLabel,
		a.`from_type_id` AS fromTypeId,
		a.`from_rule` AS fromRule,
		a.`from_group_id` AS fromGroupId,
		(SELECT name FROM cmdb_relgroup g WHERE g.id = a.`from_group_id`) AS fromGroupName,
		a.`to_ci_id` AS toCiId,
		t.icon AS toCiIcon,
		t.name AS toCiName,
		t.label AS toCiLabel,
		a.`to_name` AS toName,
		a.`to_label` AS toLabel,
		a.`to_type_id` AS toTypeId,
		a.`to_rule` AS toRule,
		a.`to_group_id` AS toGroupId,
		(SELECT name FROM cmdb_relgroup g WHERE g.id = a.`to_group_id`) AS toGroupName
		FROM
		`cmdb_rel` a
		JOIN cmdb_ci f ON a.from_ci_id = f.id
		JOIN cmdb_ci t ON a.to_ci_id = t.id
		WHERE
		a.id = #{value}
	</select>

	<select id="getRelByCiId" parameterType="java.lang.Long" resultType="codedriver.module.cmdb.dto.ci.RelVo" useCache="false">
		SELECT
		a.`id`,
		a.`name`,
		a.`input_type` AS inputType,
		a.`from_ci_id` AS fromCiId,
		f.icon AS fromCiIcon,
		f.name AS fromCiName,
		f.label AS fromCiLabel,
		a.`from_name` AS fromName,
		a.`from_label` AS fromLabel,
		a.`from_type_id` AS fromTypeId,
		a.`from_rule` AS fromRule,
		a.`from_group_id` AS fromGroupId,
		(SELECT name FROM cmdb_relgroup g WHERE g.id = a.`from_group_id`) AS fromGroupName,
		a.`to_ci_id` AS toCiId,
		t.icon AS toCiIcon,
		t.name AS toCiName,
		t.label AS toCiLabel,
		a.`to_name` AS toName,
		a.`to_label` AS toLabel,
		a.`to_type_id` AS toTypeId,
		a.`to_rule` AS toRule,
		a.`to_group_id` AS toGroupId,
		(SELECT name FROM cmdb_relgroup g WHERE g.id = a.`to_group_id`) AS toGroupName,
		'from' AS direction
		FROM
		`cmdb_rel` a
		JOIN cmdb_ci f ON a.from_ci_id = f.id
		JOIN cmdb_ci t ON a.to_ci_id = t.id
		WHERE
		a.from_ci_id = #{value}
		UNION
		SELECT
		a.`id`,
		a.`name`,
		a.`input_type` AS inputType,
		a.`from_ci_id` AS fromCiId,
		f.icon AS fromCiIcon,
		f.name AS fromCiName,
		f.label AS fromCiLabel,
		a.`from_name` AS fromName,
		a.`from_label` AS fromLabel,
		a.`from_type_id` AS fromTypeId,
		a.`from_rule` AS fromRule,
		a.`from_group_id` AS fromGroupId,
		(SELECT name FROM cmdb_relgroup g WHERE g.id = a.`from_group_id`) AS fromGroupName,
		a.`to_ci_id` AS toCiId,
		t.icon AS toCiIcon,
		t.name AS toCiName,
		t.label AS toCiLabel,
		a.`to_name` AS toName,
		a.`to_label` AS toLabel,
		a.`to_type_id` AS toTypeId,
		a.`to_rule` AS toRule,
		a.`to_group_id` AS toGroupId,
		(SELECT name FROM cmdb_relgroup g WHERE g.id = a.`to_group_id`) AS toGroupName,
		'to' AS direction
		FROM
		`cmdb_rel` a
		JOIN cmdb_ci f ON a.from_ci_id = f.id
		JOIN cmdb_ci t ON a.to_ci_id = t.id
		WHERE
		a.to_ci_id = #{value}
		ORDER BY id
	</select>


	<update id="updateRel" parameterType="codedriver.module.cmdb.dto.ci.RelVo">
		UPDATE
		`cmdb_rel`
		SET
		`name` = #{name},
		`input_type` = #{inputType},
		`from_label` = #{fromLabel},
		`from_type_id` = #{fromTypeId},
		`from_rule` = #{fromRule},
		`from_group_id` = #{fromGroupId},
		`to_label` = #{toLabel},
		`to_type_id` = #{toTypeId},
		`to_rule` = #{toRule},
		`to_group_id` = #{toGroupId}
		WHERE `id` = #{id}
	</update>

	<update id="updateRelGroup" parameterType="codedriver.module.cmdb.dto.ci.RelGroupVo">
		UPDATE
		`cmdb_relgroup`
		SET
		`name` = #{name}
		WHERE `id` = #{id}
	</update>

	<insert id="insertRelGroup" parameterType="codedriver.module.cmdb.dto.ci.RelGroupVo">
		INSERT INTO `cmdb_relgroup` (`id`, `ci_id`, `name`)
		VALUES
		(#{id}, #{ciId}, #{name})
	</insert>

	<insert id="insertRel" parameterType="codedriver.module.cmdb.dto.ci.RelVo">
		INSERT INTO `cmdb_rel` (
		`id`,
		`name`,
		`input_type`,
		`from_ci_id`,
		`from_name`,
		`from_label`,
		`from_type_id`,
		`from_rule`,
		`from_group_id`,
		`to_ci_id`,
		`to_name`,
		`to_label`,
		`to_type_id`,
		`to_rule`,
		`to_group_id`
		)
		VALUES
		(
		#{id},
		#{name},
		#{inputType},
		#{fromCiId},
		#{fromName},
		#{fromLabel},
		#{fromTypeId},
		#{fromRule},
		#{fromGroupId},
		#{toCiId},
		#{toName},
		#{toLabel},
		#{toTypeId},
		#{toRule},
		#{toGroupId}
		)
	</insert>

	<delete id="deleteRelById" parameterType="java.lang.Long">
		DELETE
		FROM
		`cmdb_rel`
		WHERE `id` = #{value}
	</delete>

</mapper>
