<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.ci.RelTypeMapper">
    <select id="checkRelTypeIsInUsed" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(1)
        FROM cmdb_rel
        WHERE type_id = #{value}
    </select>

    <select id="checkRelTypeNameIsExists" parameterType="codedriver.framework.cmdb.dto.ci.RelTypeVo" resultType="int">
        SELECT COUNT(1)
        FROM cmdb_reltype
        WHERE name = #{name}
          AND id != #{id}
    </select>

    <select id="getRelTypeById" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.ci.RelTypeVo">
        SELECT `id`,
               `name`,
               `from_cnname` as fromCnName,
               `to_cnname`   as toCnName,
               `from_enname` as fromEnName,
               `to_enname`   as toEnName,
               `description`
        FROM `cmdb_reltype`
        WHERE id = #{value}
    </select>

    <select id="getAllRelType" resultType="codedriver.framework.cmdb.dto.ci.RelTypeVo">
        SELECT `id`,
               `name`,
               `from_cnname`                                                as fromCnName,
               `to_cnname`                                                  as toCnName,
               `from_enname`                                                as fromEnName,
               `to_enname`                                                  as toEnName,
               `description`,
               (SELECT COUNT(1) FROM cmdb_rel rel WHERE rel.type_id = a.id) AS invokeCount
        FROM `cmdb_reltype` a
        ORDER BY id DESC
    </select>

    <insert id="insertRelType" parameterType="codedriver.framework.cmdb.dto.ci.RelTypeVo">
        INSERT INTO cmdb_reltype
            (id, name, from_cnname, to_cnname, from_enname, to_enname, description)
        VALUES (#{id}, #{name}, #{fromCnName}, #{toCnName}, #{fromEnName}, #{toEnName}, #{description})
    </insert>

    <update id="updateRelType" parameterType="codedriver.framework.cmdb.dto.ci.RelTypeVo">
        UPDATE cmdb_reltype
        SET name=#{name},
            from_cnname = #{fromCnName},
            to_cnname = #{toCnName},
            from_enname = #{fromEnName},
            to_enname = #{toEnName},
            description = #{description}
        WHERE id = #{id}
    </update>

    <delete id="deleteRelTypeById" parameterType="java.lang.Long">
        DELETE
        FROM cmdb_reltype
        WHERE id = #{value}
    </delete>

</mapper>
