<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.resourcecenter.AppSystemMapper">

    <select id="getAppSystemByAbbrName" parameterType="java.lang.String" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppSystemVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appsystem`
        where `abbr_name` = #{value}
    </select>

    <select id="getAppSystemById" parameterType="java.lang.Long" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppSystemVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appsystem`
        where `id` = #{value}
    </select>

    <select id="getAppSystemListByIdList" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppSystemVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appsystem`
        where `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getAppModuleByAbbrName" parameterType="java.lang.String" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppModuleVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appmodule`
        where `abbr_name` = #{value}
    </select>

    <select id="getAppModuleById" parameterType="java.lang.Long" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppModuleVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appmodule`
        where `id` = #{value}
    </select>

    <select id="getAppModuleListByIdList" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppModuleVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appmodule`
        where `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getAppEnvListByAppSystemIdAndModuleIdList"
            resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppEnvironmentVo">
        SELECT DISTINCT
        a.env_id AS envId,
        a.env_name AS envName
        FROM @{DATA_SCHEMA}.`scence_ipobject_env_appmodule_appsystem` a
        <where>
            <choose>
                <when test="appResourceId != null">
                    and a.`app_system_id` = #{appResourceId}
                </when>
                <otherwise>
                    and a.`app_system_id` is not null
                </otherwise>
            </choose>
            <choose>
                <when test="moduleResourceIdList != null and moduleResourceIdList.size() > 0">
                    and a.`app_module_id` in
                    <foreach collection="moduleResourceIdList" item="moduleResourceId" separator="," open="(" close=")">
                        #{moduleResourceId}
                    </foreach>
                </when>
                <otherwise>
                    and a.`app_module_id` is not null
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>
