<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.resourcecenter.AppSystemMapper">

    <select id="getAppSystemByAbbrName" parameterType="java.lang.String" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppSystemVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appsystem`
        where `abbr_name` = #{value}
    </select>

    <select id="getAppSystemById" parameterType="java.lang.Long" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppSystemVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appsystem`
        where `id` = #{value}
    </select>

    <select id="getAppSystemListByIdList" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppSystemVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appsystem`
        where `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getAppModuleByAbbrName" parameterType="java.lang.String" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppModuleVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appmodule`
        where `abbr_name` = #{value}
    </select>

    <select id="getAppModuleById" parameterType="java.lang.Long" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppModuleVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appmodule`
        where `id` = #{value}
    </select>

    <select id="getAppModuleListByIdList" resultType="neatlogic.framework.cmdb.dto.resourcecenter.entity.AppModuleVo">
        select `name`, `id`, `abbr_name` as abbrName
        from @{DATA_SCHEMA}.`scence_appmodule`
        where `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
