<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.resourcecenter.ResourceCenterConfigMapper">
    <cache type="neatlogic.framework.dao.cache.CodeDriverCache" flushInterval="30000" size="100"></cache>

    <select id="checkResourceCenterConfigIsExists" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(1) FROM `cmdb_resourcecenter_config` WHERE `id` = #{value}
    </select>

    <select id="getResourceCenterConfig"
            resultType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceCenterConfigVo">
        SELECT config
        FROM cmdb_resourcecenter_config
        WHERE id = 1
    </select>

    <select id="getResourceCenterConfigLimitOne" resultType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceCenterConfigVo">
        SELECT `id`, `config`, `fcu`, `fcd`, `lcu`, `lcd`
        FROM `cmdb_resourcecenter_config`
        LIMIT 1
    </select>

    <insert id="insertResourceCenterConfig" parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceCenterConfigVo">
        INSERT INTO `cmdb_resourcecenter_config`(`id`, `config`, `fcu`, `fcd`, `lcu`, `lcd`)
        VALUES (#{id}, #{config}, #{fcu}, NOW(3), #{fcu}, NOW(3))
    </insert>

    <update id="updateResourceCenterConfig" parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceCenterConfigVo">
        UPDATE `cmdb_resourcecenter_config`
        SET `config` = #{config},
            `lcu` = #{lcu},
            `lcd` = NOW(3)
        WHERE `id` = #{id}
    </update>
</mapper>
