<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.resourcecenter.ResourceEntityMapper">
    <select id="getResourceEntityByName" parameterType="java.lang.String"
            resultType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        SELECT `name`, `label`, `status`, `error`, `init_time` AS initTime, `ci_id` AS ciId, `config` AS configStr, `description`
        FROM `cmdb_resourcecenter_entity`
        WHERE `name` = #{value}
    </select>

    <select id="getResourceEntityListByNameList" resultType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        SELECT `name`, `label`, `status`, `error`, `init_time` AS initTime, `ci_id` AS ciId, `description`
        FROM `cmdb_resourcecenter_entity`
        where `name` IN
        <foreach collection="list" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

    <select id="getResourceEntityConfigByName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `config`
        FROM `cmdb_resourcecenter_entity`
        WHERE `name` = #{value}
    </select>

    <select id="getAllResourceTypeCiIdList" resultType="java.lang.Long">
        SELECT `ci_id` FROM `cmdb_resourcecenter_type_ci`
    </select>

    <select id="getResourceEntityViewDataCount" parameterType="java.lang.String" resultType="int">
        SELECT count(1) FROM @{DATA_SCHEMA}.`${name}`
    </select>

    <select id="getResourceEntityViewDataList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM @{DATA_SCHEMA}.`${name}`
        LIMIT #{startNum}, #{pageSize}
    </select>

    <insert id="insertResourceEntity"
            parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        INSERT INTO cmdb_resourcecenter_entity (`name`, `label`, `status`, `error`, `init_time`, `ci_id`, `config`, `description`)
        VALUES (#{name}, #{label}, #{status}, #{error}, NOW(3), #{ciId}, #{xml}, #{configStr} #{description})
        ON DUPLICATE KEY UPDATE
        <if test="label != null">
            `label` = #{label},
        </if>
        <if test="error != null">
            `error` = #{error},
        </if>
        <if test="status != null">
            `status` = #{status},
        </if>
        <if test="configStr != null">
            `config` = #{configStr},
        </if>
        <if test="description != null">
            `description`= #{description},
        </if>
        <if test="ciId != null">
            `ci_id` = #{ciId},
        </if>
        `init_time` = NOW(3)
    </insert>

    <insert id="insertResourceTypeCi" parameterType="java.lang.Long">
        INSERT INTO `cmdb_resourcecenter_type_ci` (`ci_id`)
        VALUES (#{value})
    </insert>

    <update id="updateResourceEntity"
            parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        UPDATE cmdb_resourcecenter_entity
        SET `status`    = #{status},
            `label`     = #{label},
            `error`     = #{error},
            `config`       = #{configStr},
            `description`= #{description},
            `init_time` = NOW(3)
        WHERE `name` = #{name}
    </update>

    <update id="updateResourceEntityStatusAndError"
            parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        UPDATE cmdb_resourcecenter_entity
        SET `status`    = #{status},
            `error`     = #{error},
            `init_time` = NOW(3)
        WHERE `name` = #{name}
    </update>

    <update id="updateResourceEntityLabelAndDescription"
            parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        UPDATE cmdb_resourcecenter_entity
        SET
            `label`= #{label},
            `description`= #{description},
            `config`= #{configStr},
            `ci_id`= #{ciId},
            `init_time` = NOW(3)
        WHERE `name` = #{name}
    </update>

    <delete id="deleteResourceEntityByName" parameterType="java.lang.String">
        DELETE
        FROM cmdb_resourcecenter_entity
        WHERE name = #{value}
    </delete>

    <delete id="deleteResourceTypeCi">
        DELETE FROM `cmdb_resourcecenter_type_ci`
    </delete>
</mapper>
