<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.resourcecenter.ResourceEntityMapper">
    <!-- 缓存5分钟 -->
    <!-- flushInterval、size、readOnly、blocking属性对ehcache不起作用 -->
    <cache type="neatlogic.framework.dao.cache.NeatLogicConcurrentSafeCache">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <!-- 缓存项在未被访问时的最长存活时间, 基于访问时间的过期 -->
        <!-- <property name="timeToIdleSeconds" value="300"/> -->
        <!-- 缓存项从创建到过期的总时间, 基于创建时间的过期 -->
        <property name="timeToLiveSeconds" value="300"/>
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="100"/>
    </cache>

    <select id="getResourceEntityByName" parameterType="java.lang.String"
            resultType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        SELECT `name`, `label`, `status`, `error`, `init_time` AS initTime, `ci_id` AS ciId, `config` AS configStr, `description`
        FROM `cmdb_resourcecenter_entity`
        WHERE `name` = #{value}
    </select>

    <select id="getResourceEntityListByNameList" resultType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        SELECT `name`, `label`, `status`, `error`, `init_time` AS initTime, `ci_id` AS ciId, `description`
        FROM `cmdb_resourcecenter_entity`
        where `name` IN
        <foreach collection="list" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>

    <select id="getResourceEntityList" resultType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        SELECT `name`, `label`, `status`, `error`, `init_time` AS initTime, `ci_id` AS ciId, `description`
        FROM `cmdb_resourcecenter_entity`
        WHERE `config` IS NOT NULL
    </select>

    <select id="getResourceEntityConfigByName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `config`
        FROM `cmdb_resourcecenter_entity`
        WHERE `name` = #{value}
    </select>

    <select id="getResourceEntityViewDataCount" parameterType="java.lang.String" resultType="int">
        SELECT count(1) FROM @{DATA_SCHEMA}.`${name}`
    </select>

    <select id="getResourceEntityViewDataList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM @{DATA_SCHEMA}.`${name}`
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getApplicationListDisplay" resultType="neatlogic.framework.cmdb.dto.resourcecenter.ApplicationListDisplayVo">
        SELECT
            `id`,
            `app_system_id` AS appSystemId,
            `app_module_id` AS appModuleId,
            `env_id` AS envId,
            `config` AS configStr
        FROM `cmdb_resourcecenter_applicationlist_display`
        WHERE `app_system_id` IS NULL
          AND `app_module_id` IS NULL
          AND `env_id` IS NULL
        LIMIT 1
    </select>

    <select id="getAssetListDisplay" resultType="neatlogic.framework.cmdb.dto.resourcecenter.AssetListDisplayVo">
        SELECT
            `id`,
            `root_ci_name` AS rootCiName,
            `config` AS configStr
        FROM `cmdb_resourcecenter_assetlist_display`
        LIMIT 1
    </select>

    <insert id="insertResourceEntity"
            parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        INSERT INTO cmdb_resourcecenter_entity (`name`, `label`, `status`, `error`, `init_time`, `ci_id`, `config`, `description`)
        VALUES (#{name}, #{label}, #{status}, #{error, typeHandler=CompressHandler}, NOW(3), #{ciId}, #{configStr, typeHandler=CompressHandler}, #{description, typeHandler=CompressHandler})
        ON DUPLICATE KEY UPDATE
        <if test="label != null">
            `label` = #{label},
        </if>
        <if test="error != null">
            `error` = #{error, typeHandler=CompressHandler},
        </if>
        <if test="status != null">
            `status` = #{status},
        </if>
        <if test="configStr != null">
            `config` = #{configStr, typeHandler=CompressHandler},
        </if>
        <if test="description != null">
            `description`= #{description, typeHandler=CompressHandler},
        </if>
        <if test="ciId != null">
            `ci_id` = #{ciId},
        </if>
        `init_time` = NOW(3)
    </insert>

    <insert id="insertApplicationListDisplay" parameterType="neatlogic.framework.cmdb.dto.resourcecenter.ApplicationListDisplayVo">
        INSERT INTO `cmdb_resourcecenter_applicationlist_display` (
            `id`,
            `app_system_id`,
            `app_module_id`,
            `env_id`,
            `config`
        )
        VALUES
            (
                #{id},
                #{appSystemId},
                #{appModuleId},
                #{envId},
                #{configStr, typeHandler=CompressHandler}
            )
        ON DUPLICATE KEY UPDATE
        `config` = #{configStr, typeHandler=CompressHandler}
    </insert>

    <insert id="insertAssetListDisplay" parameterType="neatlogic.framework.cmdb.dto.resourcecenter.AssetListDisplayVo">
        INSERT INTO `cmdb_resourcecenter_assetlist_display` (
            `id`,
            `root_ci_name`,
            `config`
        )
        VALUES
            (
                #{id},
                #{rootCiName},
                #{configStr, typeHandler=CompressHandler}
            )
        ON DUPLICATE KEY UPDATE
        `root_ci_name` = #{rootCiName},
        `config` = #{configStr, typeHandler=CompressHandler}
    </insert>

    <update id="updateResourceEntity"
            parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        UPDATE cmdb_resourcecenter_entity
        SET `status`    = #{status},
            `label`     = #{label},
            `error`     = #{error, typeHandler=CompressHandler},
            `config`       = #{configStr, typeHandler=CompressHandler},
            `description`= #{description, typeHandler=CompressHandler},
            `init_time` = NOW(3)
        WHERE `name` = #{name}
    </update>

    <update id="updateResourceEntityStatusAndError"
            parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        UPDATE cmdb_resourcecenter_entity
        SET `status`    = #{status},
            `error`     = #{error, typeHandler=CompressHandler},
            `init_time` = NOW(3)
        WHERE `name` = #{name}
    </update>

    <update id="updateResourceEntityLabelAndDescription"
            parameterType="neatlogic.framework.cmdb.dto.resourcecenter.config.ResourceEntityVo">
        UPDATE cmdb_resourcecenter_entity
        SET
            `label`= #{label},
            `description`= #{description, typeHandler=CompressHandler},
            `config`= #{configStr, typeHandler=CompressHandler},
            `ci_id`= #{ciId},
            `init_time` = NOW(3)
        WHERE `name` = #{name}
    </update>

    <delete id="deleteResourceEntityByName" parameterType="java.lang.String">
        DELETE
        FROM cmdb_resourcecenter_entity
        WHERE name = #{value}
    </delete>
</mapper>
