<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.transaction.TransactionMapper">
    <select id="getCiEntityTransactionByTransactionIdList"
            resultType="codedriver.framework.cmdb.dto.transaction.CiEntityTransactionVo">
        SELECT
        `id`,
        `ci_id` AS ciId,
        `ci_entity_id` AS ciEntityId,
        `ci_entity_uuid` AS ciEntityUuid,
        `name` AS name,
        `action`,
        `transaction_id` AS transactionId,
        `snapshot` AS snapshot,
        `content` AS content,
        `edit_mode` AS editMode
        FROM
        `cmdb_cientity_transaction`
        WHERE ci_entity_id = #{ciEntityId} AND transaction_id IN
        <foreach collection="transactionIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateCiEntityTransactionContent"
            parameterType="codedriver.framework.cmdb.dto.transaction.CiEntityTransactionVo">
        UPDATE `cmdb_cientity_transaction`
        SET content = #{content,typeHandler=compressHandler}
        WHERE id = #{id}
    </update>

    <insert id="insertCiEntityTransaction"
            parameterType="codedriver.framework.cmdb.dto.transaction.CiEntityTransactionVo">
        INSERT INTO `cmdb_cientity_transaction` (`id`,
                                                 `ci_entity_uuid`,
                                                 `ci_id`,
                                                 `ci_entity_id`,
                                                 `name`,
                                                 `action`,
                                                 `transaction_id`,
                                                 `content`,
                                                 `snapshot`,
                                                 `edit_mode`)
        VALUES (#{id},
                #{ciEntityUuid},
                #{ciId},
                #{ciEntityId},
                #{name},
                #{action},
                #{transactionId},
                #{content,typeHandler=compressHandler},
                #{snapshot,typeHandler=compressHandler},
                #{editMode})
    </insert>


    <!--old-->
    <resultMap id="transactionDetailMap" type="codedriver.framework.cmdb.dto.transaction.TransactionVo">
        <id property="id" column="id"/>
        <result property="ciId" column="ciId"/>
        <result property="ciEntityId" column="ciEntityId"/>
        <result property="ciEntityName" column="ciEntityName"/>
        <result property="status" column="status"/>
        <result property="createUser" column="createUser"/>
        <result property="commitUser" column="commitUser"/>
        <result property="recoverUser" column="recoverUser"/>
        <result property="createUserName" column="createUserName"/>
        <result property="commitUserName" column="commitUserName"/>
        <result property="recoverUserName" column="recoverUserName"/>
        <result property="inputFrom" column="inputFrom"/>
        <result property="action" column="action"/>
        <result property="source" column="source"/>
        <result property="expireTime" column="expireTime"/>
        <result property="createTime" column="createTime"/>
        <result property="commitTime" column="commitTime"/>
        <result property="recoverTime" column="recoverTime"/>
        <result property="error" column="error" typeHandler="CompressHandler"/>
        <result property="transactionGroupId" column="transactionGroupId"/>
        <association property="ciEntityTransactionVo"
                     javaType="codedriver.framework.cmdb.dto.transaction.CiEntityTransactionVo">
            <id property="ciEntityId" column="ciEntityId"/>
            <result property="ciEntityUuid" column="ciEntityUuid"/>
            <result property="name" column="ciEntityName"/>
            <result property="transactionId" column="ciEntityTransactionId"/>
            <result property="ciId" column="ciId"/>
            <result property="action" column="action"/>
            <result property="editMode" column="editMode"/>
            <result property="snapshot" column="snapshot" typeHandler="compressHandler"/>
            <result property="content" column="content" typeHandler="compressHandler"/>
        </association>
    </resultMap>

    <select id="getTransactionByGroupId" parameterType="java.lang.Long" resultMap="transactionDetailMap">
        SELECT a.id,
               a.ci_id                                                    AS ciId,
               a.`status`,
               create_user                                                AS createUser,
               (SELECT user_name FROM user u WHERE u.uuid = create_user)  AS createUserName,
               commit_user                                                AS commitUser,
               (SELECT user_name FROM user u WHERE u.uuid = commit_user)  AS commitUserName,
               recover_user                                               AS recoverUser,
               (SELECT user_name FROM user u WHERE u.uuid = recover_user) AS recoverUserName,
               input_from                                                 AS inputFrom,
               source,
               expire_time                                                AS expireTime,
               create_time                                                AS createTime,
               commit_time                                                AS commitTime,
               recover_time                                               AS recoverTime,
               error,
               b.action                                                   AS action,
               b.transaction_id                                           AS ciEntityTransactionId,
               b.ci_entity_id                                             AS ciEntityId,
               b.ci_entity_uuid                                           AS ciEntityUuid,
               b.edit_mode                                                AS editMode,
               b.snapshot                                                 AS snapshot,
               b.content                                                  AS content,
               c.id                                                       AS transactionGroupId
        FROM cmdb_transaction a
                 JOIN cmdb_cientity_transaction b ON a.id = b.`transaction_id`
                 JOIN cmdb_transactiongroup c ON a.id = c.transaction_id
        WHERE c.id = #{value}
        ORDER BY a.id
    </select>

    <select id="getTransactionById" parameterType="java.lang.Long" resultMap="transactionDetailMap">
        SELECT a.id,
               a.ci_id                                                    AS ciId,
               a.`status`,
               create_user                                                AS createUser,
               (SELECT user_name FROM user u WHERE u.uuid = create_user)  AS createUserName,
               commit_user                                                AS commitUser,
               (SELECT user_name FROM user u WHERE u.uuid = commit_user)  AS commitUserName,
               recover_user                                               AS recoverUser,
               (SELECT user_name FROM user u WHERE u.uuid = recover_user) AS recoverUserName,
               input_from                                                 AS inputFrom,
               source,
               expire_time                                                AS expireTime,
               create_time                                                AS createTime,
               commit_time                                                AS commitTime,
               recover_time                                               AS recoverTime,
               error,
               b.action                                                   AS action,
               b.transaction_id                                           AS ciEntityTransactionId,
               b.ci_entity_id                                             AS ciEntityId,
               b.ci_entity_uuid                                           AS ciEntityUuid,
               b.edit_mode                                                AS editMode,
               b.snapshot                                                 AS snapshot,
               b.content                                                  AS content,
               ct.id                                                      AS transactionGroupId
        FROM cmdb_transaction a
                 JOIN cmdb_cientity_transaction b
                      ON a.id = b.`transaction_id`
                 LEFT JOIN cmdb_transactiongroup ct on b.transaction_id = ct.transaction_id
        WHERE a.id = #{value}
    </select>

    <sql id="searchTransactionCondition">
        <where>
            <if test="transactionId != null">
                AND a.id = #{transactionId}
            </if>
            <if test="ciEntityId != null">
                AND b.`ci_entity_id` = #{ciEntityId}
            </if>
            <if test="ciId != null">
                AND a.ci_id = #{ciId}
            </if>
            <if test="statusList != null and statusList.size() > 0">
                AND a.status IN
                <foreach collection="statusList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="status != null and status != ''">
                AND a.status = #{status}
            </if>
            <if test="inputFrom != null and inputFrom != ''">
                AND a.input_from = #{inputFrom}
            </if>
            <if test="action != null and action != ''">
                AND b.action = #{action}
            </if>
            <if test="hasError == 1">
                AND a.error is not null
            </if>
            <if test="hasError == 0">
                AND a.error is null
            </if>
            <if test="createTimeRange != null">
                <if test="createTimeRange.size() > 0">
                    AND a.create_time &gt;= STR_TO_DATE(#{createTimeRange[0]},'%Y-%m-%d')
                </if>
                <if test="createTimeRange.size() > 1">
                    AND a.create_time &lt;= STR_TO_DATE(#{createTimeRange[1]},'%Y-%m-%d')
                </if>
            </if>
            <if test="commitTimeRange != null">
                <if test="commitTimeRange.size() > 0">
                    AND a.commit_time &gt;= STR_TO_DATE(#{commitTimeRange[0]},'%Y-%m-%d')
                </if>
                <if test="commitTimeRange.size() > 1">
                    AND a.commit_time &lt;= STR_TO_DATE(#{commitTimeRange[1]},'%Y-%m-%d')
                </if>
            </if>
        </where>
    </sql>

    <select id="getBrotherTransactionCountByTransactionGroupId" resultType="int">
        SELECT count(1)
        FROM cmdb_transactiongroup
        where id = #{transactionGroupId}
          AND transaction_id != #{transactionId}
    </select>

    <select id="searchTransaction" parameterType="codedriver.framework.cmdb.dto.transaction.TransactionVo"
            resultMap="transactionDetailMap">
        SELECT
        a.id,
        a.ci_id AS ciId,
        a.`status`,
        create_user AS createUser,
        (SELECT user_name FROM user u WHERE u.uuid = create_user) AS createUserName,
        commit_user AS commitUser,
        (SELECT user_name FROM user u WHERE u.uuid = commit_user) AS commitUserName,
        recover_user AS recoverUser,
        (SELECT user_name FROM user u WHERE u.uuid = recover_user) AS recoverUserName,
        input_from AS inputFrom,
        source,
        expire_time AS expireTime,
        create_time AS createTime,
        commit_time AS commitTime,
        recover_time AS recoverTime,
        error,
        b.action AS action,
        b.ci_entity_id AS ciEntityId,
        b.ci_entity_uuid AS ciEntityUuid,
        b.transaction_id AS ciEntityTransactionId,
        b.snapshot,
        b.content,
        c.name AS ciEntityName,
        t.id AS transactionGroupId
        FROM
        cmdb_transaction a
        JOIN cmdb_cientity_transaction b
        ON a.id = b.`transaction_id`
        LEFT JOIN cmdb_cientity c ON b.ci_entity_id = c.id
        LEFT JOIN cmdb_transactiongroup t on a.id = t.transaction_id
        <include refid="searchTransactionCondition"></include>
        ORDER BY a.id DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="searchTransactionCount" parameterType="codedriver.framework.cmdb.dto.transaction.TransactionVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM
        cmdb_transaction a
        JOIN cmdb_cientity_transaction b
        ON a.id = b.`transaction_id`
        LEFT JOIN cmdb_cientity c ON b.ci_entity_id = c.id
        <include refid="searchTransactionCondition"></include>
    </select>

    <resultMap id="attrEntityTransactionMap" type="codedriver.framework.cmdb.dto.transaction.AttrEntityTransactionVo">
        <id property="attrId" column="attrId"/>
        <result property="ciEntityId" column="ciEntityId"/>
        <result property="attrLabel" column="attrLabel"/>
        <result property="attrName" column="attrName"/>
        <collection property="valueList" ofType="java.lang.String">
            <result column="valueHash"/>
        </collection>
    </resultMap>

    <select id="getTransactionGroupByTransactionId" parameterType="java.lang.Long"
            resultType="codedriver.framework.cmdb.dto.transaction.TransactionGroupVo">
        SELECT id
        FROM cmdb_transactiongroup
        WHERE transaction_id = #{vakue}
    </select>


    <select id="getCiEntityTransactionByTransactionGroupIdAndCiEntityId"
            resultType="codedriver.framework.cmdb.dto.transaction.CiEntityTransactionVo">
        SELECT a.`id`,
               a.`ci_id`          AS ciId,
               a.`ci_entity_id`   AS ciEntityId,
               a.`ci_entity_uuid` AS ciEntityUuid,
               a.`name`           AS `name`,
               a.`action`,
               a.`transaction_id` AS transactionId,
               a.`snapshot`       AS `snapshot`,
               a.`content`        AS content
        FROM `cmdb_cientity_transaction` a
                 JOIN `cmdb_transactiongroup` b ON a.transaction_id = b.transaction_id
        WHERE b.id = #{transactionGroupId}
          AND a.ci_entity_id = #{ciEntityId}
    </select>

    <select id="getCiEntityTransactionByTransactionIdAndCiEntityId"
            resultType="codedriver.framework.cmdb.dto.transaction.CiEntityTransactionVo">
        SELECT `id`,
               `ci_id`          AS ciId,
               `ci_entity_id`   AS ciEntityId,
               `ci_entity_uuid` AS ciEntityUuid,
               `name`           AS name,
               `action`,
               `transaction_id` AS transactionId,
               `snapshot`       AS snapshot,
               `content`        AS content
        FROM `cmdb_cientity_transaction`
        WHERE transaction_id = #{transactionId}
          AND ci_entity_id = #{ciEntityId}
    </select>

    <update id="updateTransactionStatus" parameterType="codedriver.framework.cmdb.dto.transaction.TransactionVo">
        UPDATE
        `cmdb_transaction`
        SET
        <choose>
            <when test="status != null and status == 'commited'">
                `commit_time` = NOW(3),
                `commit_user` = #{commitUser},
            </when>
            <when test="status != null and status == 'recover'">
                `recover_time` = NOW(3),
                `recover_user` = #{recoverUser},
            </when>
        </choose>
        `status` = #{status},
        `error` = #{error, typeHandler=CompressHandler}
        WHERE `id` = #{id}
    </update>

    <insert id="insertTransactionGroup">
        INSERT INTO cmdb_transactiongroup
            (id, transaction_id)
        VALUES (#{transactionGroupId},
                #{transactionId})
    </insert>

    <insert id="insertRelEntityTransaction"
            parameterType="codedriver.framework.cmdb.dto.transaction.RelEntityTransactionVo">
        INSERT INTO `cmdb_relentity_transaction` (`id`,
                                                  `rel_id`,
                                                  `from_cientity_id`,
                                                  `to_cientity_id`,
                                                  `from_cientity_name`,
                                                  `to_cientity_name`,
                                                  `transaction_id`,
                                                  `action`)
        VALUES (#{id},
                #{relId},
                #{fromCiEntityId},
                #{toCiEntityId},
                #{fromCiEntityName},
                #{toCiEntityName},
                #{transactionId},
                #{action})
    </insert>

    <insert id="insertTransaction" parameterType="codedriver.framework.cmdb.dto.transaction.TransactionVo">
        INSERT INTO `cmdb_transaction` (`ci_id`,
        `id`,
        `status`,
        `create_user`,
        `input_from`,
        `source`,
        `expire_time`,
        `create_time`
        <if test="status == 'commited'">
            ,`commit_time`
        </if>)
        VALUES (#{ciId},
        #{id},
        #{status},
        #{createUser},
        #{inputFrom},
        #{source},
        #{expireTime},
        NOW(3)
        <if test="status == 'commited'">
            , NOW(3)
        </if>)
    </insert>

    <delete id="deleteTransactionByCiId" parameterType="java.lang.Long">
        DELETE
            a,b,c
        FROM cmdb_transaction a
                 LEFT JOIN cmdb_cientity_transaction b ON a.`id` = b.`transaction_id`
                 LEFT JOIN cmdb_transactiongroup c ON a.`id` = c.`transaction_id`
        WHERE a.`ci_id` =
              #{value}
    </delete>

    <delete id="deleteTransactionById" parameterType="java.lang.Long">
        DELETE
            a,b,c
        FROM cmdb_transaction a
                 LEFT JOIN cmdb_cientity_transaction b ON a.`id` = b.`transaction_id`
                 LEFT JOIN cmdb_transactiongroup c ON a.`id` = c.`transaction_id`
        WHERE a.`id` =
              #{value}
    </delete>
</mapper>
