<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.batchimport.ImportMapper">

    <select id="getCmdbImportFileList" resultType="neatlogic.framework.file.dto.FileVo"
            parameterType="java.lang.String">
        SELECT
        b.`id`,
        b.`name`,
        b.`path`,
        b.`size`
        FROM
        `cmdb_import_file` a JOIN `file` b ON a.`file_id` = b.`id` AND b.type = 'cientityimport'
        <where>
            <if test="value != null and value != ''">
                AND b.`user_uuid` = #{VALUE}
            </if>
        </where>
    </select>

    <sql id="searchImportAuditCondition">
        <where>
            <if test="ciId != null">
                and `ci_id` = #{ciId}
            </if>
            <if test="importUser != null and importUser != ''">
                and `import_user` = #{importUser}
            </if>
            <if test="idList != null and idList.size() > 0">
                and id IN
                <foreach collection="idList" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="searchImportAuditCount" parameterType="neatlogic.framework.cmdb.dto.batchimport.ImportAuditVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM `cmdb_import_audit` a
        <include refid="searchImportAuditCondition"></include>
    </select>

    <select id="searchImportAudit" parameterType="neatlogic.framework.cmdb.dto.batchimport.ImportAuditVo"
            resultType="neatlogic.framework.cmdb.dto.batchimport.ImportAuditVo">
        SELECT `id`,
        `import_user` as importUser,
        (select `user_name` from `user` where `uuid` = a.`import_user`) as `importUserName`,
        `import_date` as `importDate`,
        `finish_date` as `finishDate`,
        (select `label` from `cmdb_ci` where `id` = a.`ci_id`) as `ciName`,
        `action`,
        `success_count` as `successCount`,
        `failed_count` as `failedCount`,
        `status`,
        `error`
        FROM `cmdb_import_audit` a
        <include refid="searchImportAuditCondition"></include>
        order by id desc
        <if test="needPage">
            limit #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getImportAuditById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.cmdb.dto.batchimport.ImportAuditVo">
        select `id`,
               (select `user_name` from `user` where `uuid` = a.`import_user`) as `importUserName`,
               `import_date`,
               `finish_date`,
               (select `label` from `cmdb_ci` where `id` = a.`ci_id`)          as `ciName`,
               `action`,
               `success_count`                                                 as `successCount`,
               `failed_count`                                                  as `failedCount`,
               `status`,
               `error`
        FROM `cmdb_import_audit` a
        WHERE `id` = #{value}
    </select>

    <update id="updateImportAudit" parameterType="neatlogic.framework.cmdb.dto.batchimport.ImportAuditVo">
        UPDATE `cmdb_import_audit`
        SET `finish_date`   = NOW(3),
            `success_count` = #{successCount},
            `failed_count`  = #{failedCount},
            `total_count`   = #{totalCount},
            `status`        = #{status},
            `error`         = #{error,typeHandler=CompressHandler}
        WHERE `id` = #{id}
    </update>

    <update id="updateImportAuditTemporary" parameterType="neatlogic.framework.cmdb.dto.batchimport.ImportAuditVo">
        UPDATE `cmdb_import_audit`
        SET `success_count` = #{successCount},
            `failed_count`  = #{failedCount},
            `total_count`   = #{totalCount},
            `error`         = #{error,typeHandler=CompressHandler}
        WHERE `id` = #{id}
    </update>

    <update id="updateImportAuditStatus" parameterType="neatlogic.framework.cmdb.dto.batchimport.ImportAuditVo">
        UPDATE cmdb_import_audit
        SET `finish_date` = NOW(3),
            `status`      = #{status},
            `error`       = #{error,typeHandler=CompressHandler}
        WHERE `id` = #{id}
    </update>

    <insert id="insertCmdbImportFile" parameterType="neatlogic.framework.file.dto.FileVo">
        INSERT INTO `cmdb_import_file` (`file_id`)
        VALUES (#{id})
    </insert>

    <insert id="insertImportAudit" parameterType="neatlogic.framework.cmdb.dto.batchimport.ImportAuditVo">
        INSERT INTO cmdb_import_audit
        (`id`,
         `import_user`,
         `import_date`,
         `action`,
         `file_id`,
         `ci_id`,
         `status`,
         `server_id`)
        VALUES (#{id},
                #{importUser},
                NOW(3),
                #{action},
                #{fileId},
                #{ciId},
                #{status},
                #{serverId})
    </insert>

    <delete id="deleteCmdbImportFile" parameterType="java.lang.Long">
        DELETE
        FROM `cmdb_import_file`
        WHERE `file_id` = #{value}
    </delete>

    <delete id="deleteAuditByDayBefore" parameterType="int">
        delete
        from cmdb_import_audit
        where `import_date` &lt; DATE_SUB(CURRENT_DATE, INTERVAL #{value} DAY)
    </delete>


</mapper>
