<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.resourcecenter.AppSystemMapper">

    <select id="getAppSystemByAbbrName" resultType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppSystemVo">
        select `name`, `id`
        from ${schemaName}.`scence_appsystem`
        where `abbr_name` = #{abbrName}
    </select>

    <select id="getAppModuleByAbbrName" resultType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppModuleVo">
        select `name`, `id`
        from ${schemaName}.`scence_appmodule`
        where `abbr_name` = #{abbrName}
    </select>

    <select id="getAppEnvListByAppSystemIdAndModuleIdList"
            resultType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppEnvironmentVo">
        SELECT DISTINCT
        a.env_id AS envId,
        a.env_name AS envName
        FROM ${schemaName}.`scence_ipobject_env_appmodule_appsystem` a
        <where>
            <choose>
                <when test="appResourceId != null">
                    and a.`app_system_id` = #{appResourceId}
                </when>
                <otherwise>
                    and a.`app_system_id` is not null
                </otherwise>
            </choose>
            <choose>
            <when test="moduleResourceIdList != null and moduleResourceIdList.size() > 0">
                and a.`app_module_id` in
                <foreach collection="moduleResourceIdList" item="moduleResourceId" separator="," open="(" close=")">
                    #{moduleResourceId}
                </foreach>
            </when>
            <otherwise>
                and a.`app_module_id` is not null
            </otherwise>
            </choose>
        </where>
    </select>

    <select id="getAppSystemIdListCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo"
            resultType="java.lang.Integer">
        SELECT count(distinct a.`id`)
        FROM ${schemaName}.`scence_appsystem_appmodule` a
        <where>
            <if test="keyword != null and keyword != ''">
                a.`name` LIKE concat('%', #{keyword}, '%') or a.`app_module_name` LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getAppSystemIdListByAppModuleName" resultType="java.lang.Long">
        SELECT a.`id` FROM
        ${schemaName}.`scence_appsystem_appmodule` a
        <where>
             a.`app_module_id` IS NOT NULL
            <if test="keyword != null and keyword != ''">
              and  a.`app_module_name` LIKE concat('%',#{keyword}, '%')
            </if>
        </where>
    </select>
</mapper>
