<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.resourcecenter.AppSystemMapper">
    <!--    <resultMap id="appSystemMap" type="codedriver.framework.cmdb.dto.resourcecenter.entity.AppSystemVo">-->
    <!--        <id property="id" column="id"/>-->
    <!--        <result property="name" column="name"/>-->
    <!--        <result property="description" column="description"/>-->
    <!--        <result property="maintenanceWindow" column="maintenanceWindow"/>-->
    <!--        <collection property="ownerList" ofType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppSystemOwnerVo">-->
    <!--            <id property="userId" column="userId"/>-->
    <!--            <result property="userName" column="userName"/>-->
    <!--        </collection>-->
    <!--        <collection property="bgList" ofType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppSystemBgVo">-->
    <!--            <id property="bgId" column="bgId"/>-->
    <!--            <result property="bgName" column="bgName"/>-->
    <!--        </collection>-->
    <!--    </resultMap>-->

    <!--    <select id="searchAppSystem" parameterType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppSystemVo"-->
    <!--            resultMap="appSystemMap">-->
    <!--        SELECT-->
    <!--        a.id,-->
    <!--        a.name,-->
    <!--        a.description,-->
    <!--        a.maintenance_window AS maintenanceWindow,-->
    <!--        b.user_id AS userId,-->
    <!--        b.user_name AS userName,-->
    <!--        c.bg_id AS bgName,-->
    <!--        c.bg_name as bgName-->
    <!--        FROM ${schemaName}.resource_appsystem a-->
    <!--        LEFT JOIN ${schemaName}.resource_appsystem_owner b-->
    <!--        ON a.id = b.app_system_id-->
    <!--        LEFT JOIN ${schemaName}.resource_appsystem_bg c ON a.id = c.app_system_id-->
    <!--        <where>-->
    <!--            <if test="name != null and name != ''">-->
    <!--                AND name LIKE CONCAT('%',#{name},'%')-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->

    <select id="getAppSystemByAbbrName" resultType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppSystemVo">
        select `name`, `id`
        from ${schemaName}.resource_appsystem
        where `abbr_name` = #{abbrName}
    </select>

    <select id="getAppModuleByAbbrName" resultType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppModuleVo">
        select `name`, `id`
        from ${schemaName}.resource_appmodule
        where `abbr_name` = #{abbrName}
    </select>

    <select id="getAppEnvListByAppSystemIdAndModuleIdList"
            resultType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppEnvironmentVo">
        SELECT DISTINCT
        rse.env_id AS envId,
        rse.env_name AS envName
        FROM
        ${schemaName}.resource_appsystem_appmodule raa
        JOIN ${schemaName}.resource_ipobject_appmodule ria ON raa.app_module_id = ria.app_module_id
        JOIN ${schemaName}.resource_softwareservice_env rse ON ria.resource_id = rse.resource_id
        <where>
            <if test="appResourceId != null">
                raa.resource_id = #{appResourceId}
            </if>
            <if test="moduleResourceIdList != null and moduleResourceIdList.size() > 0">
                and ria.app_module_id in
                <foreach collection="moduleResourceIdList" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getAppSystemIdListCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo"
            resultType="java.lang.Integer">
        SELECT count(distinct ra.`id`) FROM ${schemaName}.`resource_appsystem` ra
        left join ${schemaName}.`resource_appsystem_appmodule` raa on raa.resource_id = ra.id
        <where>
            <if test="keyword != null and keyword != ''">
                ra.`name` LIKE concat('%', #{keyword}, '%') or raa.app_module_name LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getAppSystemIdListByAppModuleName" resultType="java.lang.Long">
        SELECT raa.`resource_id` FROM
        ${schemaName}.`resource_appsystem_appmodule` raa
        <where>
            <if test="keyword != null and keyword != ''">
                raa.app_module_name LIKE concat('%',#{keyword}, '%')
            </if>
        </where>
    </select>
</mapper>
