<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSureCo.,Ltd.AllRightsReserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.resourcecenter.ResourceCenterMapper">
    <!--<sql id="resource_dbinstance_from_join">
        FROM ${schemaName}.`resource_dbinstance` a
        LEFT JOIN ${schemaName}.`resource_dbinstance_bg` b on b.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_ip` c on c.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_netarea` d on d.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_owner` e on e.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_status` f on f.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_datacenter` g on g.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_env` h on h.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_appmodule` i on i.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appsystem_appmodule` j on j.`app_module_id` = i.`app_module_id`
        LEFT JOIN ${schemaName}.`resource_appsystem` l on l.`id` = j.`resource_id`
    </sql>
    <sql id="resource_dbinstance_where">
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="typeIdList != null and typeIdList.size() > 0">
                AND a.`type_id` IN
                <foreach collection="typeIdList" item="typeId" open="(" separator="," close=")">
                    #{typeId}
                </foreach>
            </if>
        </where>
    </sql>
    <sql id="resource_dbinstance_where_idList">
        WHERE a.`id` IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </sql>
    <sql id="resource_dbinstance_from_where_ip_port">
        FROM ${schemaName}.`resource_dbinstance` a
        LEFT JOIN ${schemaName}.`resource_dbinstance_ip` b on b.`resource_id` = a.`id`
        where a.`port` = #{port}
        and b.`ip` = #{ip}
    </sql>
    <sql id="resource_dbinstance_from_where_id">
        FROM ${schemaName}.`resource_dbinstance` a
        LEFT JOIN ${schemaName}.`resource_dbinstance_ip` b on b.`resource_id` = a.`id`
        where a.`id` = #{id}
    </sql>
    <sql id="resource_dbinstance_select_list">
        SELECT a.`id`, a.`name`, a.`type_id`, a.`type_name`, a.`maintenance_window`, a.`description`, a.`port`,
        b.`bg_id`, b.`bg_name`, b.`bg_uuid`,
        c.`ip`,
        e.`user_id`, e.`user_name`, e.`user_uuid`,
        h.`env_id`, h.`env_name`,
        i.`app_module_id`, i.`app_module_name`,
        l.`id` AS `app_system_id`, l.`name` AS app_system_name
    </sql>
    <sql id="resource_appinstance_from_join">
        FROM ${schemaName}.`resource_appinstance` a
        LEFT JOIN ${schemaName}.`resource_appinstance_bg` b ON b.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_ip` c ON c.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_netarea` d ON d.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_owner` e ON e.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_status` f ON f.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_datacenter` g on g.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_env` h on h.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_appmodule` i on i.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appsystem_appmodule` j on j.`app_module_id` = i.`app_module_id`
        LEFT JOIN ${schemaName}.`resource_appsystem` l on l.`id` = j.`resource_id`
    </sql>
    <sql id="resource_appinstance_where">
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="typeIdList != null and typeIdList.size() > 0">
                AND a.`type_id` IN
                <foreach collection="typeIdList" item="typeId" open="(" separator="," close=")">
                    #{typeId}
                </foreach>
            </if>
        </where>
    </sql>
    <sql id="resource_appinstance_where_idList">
        WHERE a.`id` IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </sql>
    <sql id="resource_appinstance_from_where_ip_port">
        FROM ${schemaName}.`resource_appinstance` a
        LEFT JOIN ${schemaName}.`resource_appinstance_ip` b on b.`resource_id` = a.`id`
        where a.`port` = #{port}
        and b.`ip` = #{ip}
    </sql>
    <sql id="resource_appinstance_from_where_id">
        FROM ${schemaName}.`resource_appinstance` a
        LEFT JOIN ${schemaName}.`resource_appinstance_ip` b on b.`resource_id` = a.`id`
        where a.`id` = #{id}
    </sql>
    <sql id="resource_appinstance_select_list">
        SELECT a.`id`, a.`name`, a.`type_id`, a.`type_name`, a.`maintenance_window`, a.`description`, a.`port`,
        b.`bg_id`, b.`bg_name`, b.`bg_uuid`,
        c.`ip`,
        e.`user_id`, e.`user_name`, e.`user_uuid`,
        h.`env_id`, h.`env_name`,
        i.`app_module_id`, i.`app_module_name`,
        l.`id` AS `app_system_id`, l.`name` AS app_system_name
    </sql>

    <select id="getResourceCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="int">
        SELECT SUM(uniontemp.`count`) FROM (
        <if test="viewName == null or viewName == '' or viewName == 'resource_appinstance'">
        SELECT COUNT(DISTINCT a.`id`)  AS `count`
        <include refid="resource_appinstance_from_join"/>
        <include refid="resource_appinstance_where"/>
        </if>
        <if test="viewName == null or viewName == ''">
        UNION ALL
        </if>
        <if test="viewName == null or viewName == '' or viewName == 'resource_dbinstance'">
        SELECT COUNT(DISTINCT a.`id`) AS `count`
        <include refid="resource_dbinstance_from_join"/>
        <include refid="resource_dbinstance_where"/>
        </if>
        ) uniontemp
    </select>

    <select id="getResourceIdList" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="java.lang.Long">
        <if test="viewName == null or viewName == '' or viewName == 'resource_appinstance'">
        SELECT DISTINCT a.`id`
        <include refid="resource_appinstance_from_join"/>
        <include refid="resource_appinstance_where"/>
        </if>
        <if test="viewName == null or viewName == ''">
        UNION ALL
        </if>
        <if test="viewName == null or viewName == '' or viewName == 'resource_dbinstance'">
        SELECT DISTINCT a.`id`
        <include refid="resource_dbinstance_from_join"/>
        <include refid="resource_dbinstance_where"/>
        </if>
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getResourceListByIdList" resultMap="resourceCenterMap">
        <include refid="resource_appinstance_select_list"/>
        <include refid="resource_appinstance_from_join"/>
        <include refid="resource_appinstance_where_idList"/>
        UNION ALL
        <include refid="resource_dbinstance_select_list"/>
        <include refid="resource_dbinstance_from_join"/>
        <include refid="resource_dbinstance_where_idList"/>
    </select>

    <select id="getResourceIdByIpAndPort" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="java.lang.Long">
        SELECT a.`id`
        <include refid="resource_appinstance_from_where_ip_port"/>
        UNION ALL
        SELECT a.`id`
        <include refid="resource_dbinstance_from_where_ip_port"/>
        LIMIT 1
    </select>

    <select id="getResourceIpPortById" resultMap="resourceCenterMap">
        SELECT a.`id`, a.`port`, b.`ip`
        <include refid="resource_appinstance_from_where_id"/>
        UNION ALL
        SELECT a.`id`, a.`port`, b.`ip`
        <include refid="resource_dbinstance_from_where_id"/>
        LIMIT 1
    </select>-->
    <sql id="resource_ipobject_from_join">
        FROM ${schemaName}.`resource_ipobject` a
        LEFT JOIN ${schemaName}.`resource_ipobject_bg` b ON b.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_ip` c ON c.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_netarea` d ON d.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_owner` e ON e.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_status` f ON f.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_datacenter` g on g.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_env` h on h.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_appmodule` i on i.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appsystem_appmodule` j on j.`app_module_id` = i.`app_module_id`
        LEFT JOIN ${schemaName}.`resource_appsystem` l on l.`id` = j.`resource_id`
        LEFT JOIN ${schemaName}.`resource_softwareservice` m ON m.`id` = a.`id`
    </sql>
    <sql id="resource_ipobject_where">
        <where>
            <if test="keyword != null and keyword != ''">
                AND (a.`name` LIKE CONCAT('%', #{keyword}, '%') OR c.`ip` LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="typeIdList != null and typeIdList.size() > 0">
                AND a.`type_id` IN
                <foreach collection="typeIdList" item="typeId" open="(" separator="," close=")">
                    #{typeId}
                </foreach>
            </if>
            <if test="statusIdList != null and statusIdList.size() > 0">
                AND f.`status_id` IN
                <foreach collection="statusIdList" item="statusId" open="(" separator="," close=")">
                    #{statusId}
                </foreach>
            </if>
            <if test="envIdList != null and envIdList.size() > 0">
                AND h.`env_id` IN
                <foreach collection="envIdList" item="envId" open="(" separator="," close=")">
                    #{envId}
                </foreach>
            </if>
            <if test="appSystemIdList != null and appSystemIdList.size() > 0">
                AND l.`id` IN
                <foreach collection="appSystemIdList" item="appSystemId" open="(" separator="," close=")">
                    #{appSystemId}
                </foreach>
            </if>
            <if test="appModuleIdList != null and appModuleIdList.size() > 0">
                AND i.`app_module_id` IN
                <foreach collection="appModuleIdList" item="appModuleId" open="(" separator="," close=")">
                    #{appModuleId}
                </foreach>
            </if>
            <if test="idList != null and idList.size() > 0">
                AND a.`id` IN
                <foreach collection="idList" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </sql>
    <select id="getResourceCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="int">
        SELECT COUNT(DISTINCT a.`id`)
        <include refid="resource_ipobject_from_join"/>
        <include refid="resource_ipobject_where"/>
    </select>

    <select id="getResourceIdList" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="java.lang.Long">
        SELECT DISTINCT a.`id`
        <include refid="resource_ipobject_from_join"/>
        <include refid="resource_ipobject_where"/>
        LIMIT #{startNum}, #{pageSize}
    </select>

    <resultMap id="resourceCenterMap" type="codedriver.framework.cmdb.dto.resourcecenter.ResourceVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type_id" property="typeId"/>
        <result column="type_name" property="typeName"/>
        <result column="type_label" property="typeLabel"/>
        <result column="maintenance_window" property="maintenanceWindow"/>
        <result column="description" property="description"/>
        <result column="port" property="port"/>
        <result column="ip_id" property="ipId"/>
        <result column="ip" property="ip"/>
        <result column="netarea_id" property="netAreaId"/>
        <result column="netarea_name" property="netAreaName"/>
        <result column="status_id" property="statusId"/>
        <result column="status_name" property="statusName"/>
        <result column="datacenter_id" property="dataCenterId"/>
        <result column="datacenter_name" property="dataCenterName"/>
        <result column="env_id" property="envId"/>
        <result column="env_name" property="envName"/>
        <result column="app_module_id" property="appModuleId"/>
        <result column="app_module_name" property="appModuleName"/>
        <result column="app_system_id" property="appSystemId"/>
        <result column="app_system_name" property="appSystemName"/>
        <collection property="bgList" ofType="codedriver.framework.cmdb.dto.resourcecenter.BgVo">
            <id column="bg_id" property="bgId"/>
            <result column="bg_uuid" property="uuid"/>
            <result column="bg_name" property="bgName"/>
        </collection>
        <collection property="ownerList" ofType="codedriver.framework.cmdb.dto.resourcecenter.OwnerVo">
            <id column="user_id" property="userId"/>
            <result column="user_uuid" property="uuid"/>
            <result column="user_name" property="userName"/>
        </collection>
    </resultMap>

    <select id="getResourceListByIdList" resultMap="resourceCenterMap">
        SELECT a.`id`, a.`name`, a.`type_id`, a.`type_name`, a.`type_label`, a.`maintenance_window`, a.`description`,
        b.`bg_id`, b.`bg_name`, b.`bg_uuid`,
        c.`ip_id`, c.`ip`,
        d.`netarea_id`, d.`netarea_name`,
        e.`user_id`, e.`user_name`, e.`user_uuid`,
        f.`status_id`, f.`status_name`,
        g.`datacenter_id`, g.`datacenter_name`,
        h.`env_id`, h.`env_name`,
        i.`app_module_id`, i.`app_module_name`,
        l.`id` AS `app_system_id`, l.`name` AS app_system_name,
        m.`port`
        <include refid="resource_ipobject_from_join"/>
        WHERE a.`id` IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getResourceIdByIpAndPortAndName" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="java.lang.Long">
        SELECT a.`id`
        FROM ${schemaName}.`resource_ipobject` a
        LEFT JOIN ${schemaName}.`resource_softwareservice` b on b.`id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_ip` c on c.`resource_id` = a.`id`
        WHERE c.`ip` = #{ip}
          <if test="port != null and port != ''">
              AND b.`port` = #{port}
          </if>
          <if test="name != null and name != ''">
              and a.`name` = #{name}
          </if>
        LIMIT 1
    </select>
    <select id="getResourceIpPortById" resultMap="resourceCenterMap">
        SELECT a.`id`, b.`port`, c.`ip`
        FROM ${schemaName}.`resource_ipobject` a
        LEFT JOIN ${schemaName}.`resource_softwareservice` b on b.`id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_ip` c on c.`resource_id` = a.`id`
        where a.`id` = #{id}
        LIMIT 1
    </select>

    <select id="getTagNameListByResourceId" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT `name`
        FROM `cmdb_tag` a
        JOIN `cmdb_resourcecenter_resource_tag` b ON b.`tag_id` = a.`id` AND b.`resource_id` = #{value}
    </select>

    <select id="getAccountCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo" resultType="int">
        SELECT COUNT(1) FROM `cmdb_resourcecenter_account`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getAccountById" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo">
        select
        `id`,
        `name`,
        `account`,
        `password`,
        `protocol`,
        `port`,
        `fcu`,
        `fcd`,
        `lcu`,
        `lcd`
        from `cmdb_resourcecenter_account`
        where `id` = #{value}
    </select>

    <select id="checkAccountNameIsRepeats" parameterType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo" resultType="int">
        SELECT COUNT(1) FROM `cmdb_resourcecenter_account` WHERE `name` = #{name} and `id` != #{id}
    </select>

    <select id="checkAccountHasBeenReferredById" parameterType="java.lang.Long" resultType="int">
        select
        count(1)
        from `cmdb_resourcecenter_resource_account`
        where `account_id` = #{value}
    </select>

    <select id="searchAccountCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo" resultType="int">
        SELECT COUNT(1) FROM `cmdb_resourcecenter_account`
        <where>
            <if test="keyword != null and keyword != ''">
                and `name` like concat('%', #{keyword}, '%')
            </if>
            <if test="protocol != null and protocol != ''">
                and `protocol` = #{protocol}
            </if>
        </where>
    </select>

    <resultMap id="accountMap" type="codedriver.framework.cmdb.dto.resourcecenter.AccountVo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="account" property="account"/>
        <result column="protocol" property="protocol"/>
        <result column="port" property="port"/>
        <result column="assetsCount" property="assetsCount"/>
        <result column="lcu" property="lcu"/>
        <result column="lcd" property="lcd"/>
        <association property="lcuVo" javaType="codedriver.framework.dto.UserVo">
            <result property="uuid" column="lcu"/>
            <result property="userName" column="userName"/>
        </association>
    </resultMap>

    <select id="searchAccount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo" resultMap="accountMap">
        SELECT
        a.`id`,
        a.`name`,
        a.`account`,
        a.`protocol`,
        a.`port`,
        (select count(1) from `cmdb_resourcecenter_resource_account` where `account_id` = a.`id`) as assetsCount,
        a.`lcu`,
        (select `user_name` from `user` where `uuid` = a.`lcu`) as userName,
        a.`lcd`
        FROM `cmdb_resourcecenter_account` a
        <where>
            <if test="keyword != null and keyword != ''">
                and a.`name` like concat('%', #{keyword}, '%')
            </if>
            <if test="protocol != null and protocol != ''">
                and a.`protocol` = #{protocol}
            </if>
        </where>
        order by a.`lcd` desc
        <if test="needPage == true">
            limit #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getAccountListForSelect" parameterType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo" resultType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo">
        SELECT `id`, `name` FROM `cmdb_resourcecenter_account`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getTagCount" parameterType="codedriver.framework.cmdb.dto.tag.TagVo" resultType="int">
        SELECT COUNT(1) FROM `cmdb_tag`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getTagListForSelect" parameterType="codedriver.framework.cmdb.dto.tag.TagVo" resultType="codedriver.framework.cmdb.dto.tag.TagVo">
        SELECT `id`, `name` FROM `cmdb_tag`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="checkTagNameIsRepeats" parameterType="codedriver.framework.cmdb.dto.tag.TagVo" resultType="int">
        select count(1) from `cmdb_tag` where `name` = #{name} and `id` != #{id}
    </select>

    <select id="checkTagIsExistsById" parameterType="java.lang.Long" resultType="int">
        select count(1) from `cmdb_tag` where `id` = #{value}
    </select>

    <select id="searchTagCount" parameterType="codedriver.framework.cmdb.dto.tag.TagVo" resultType="int">
        select count(1)
        from `cmdb_tag`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="searchTag" parameterType="codedriver.framework.cmdb.dto.tag.TagVo" resultType="codedriver.framework.cmdb.dto.tag.TagVo">
        select
        `id`,
        `name`,
        `description`,
        (select count(1) from `cmdb_resourcecenter_resource_tag` where `tag_id` = `id`) as assetsCount
        from `cmdb_tag`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
        order by `id` desc
        <if test="needPage == true">
            limit #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getTagById" parameterType="java.lang.Long" resultType="codedriver.framework.cmdb.dto.tag.TagVo">
        select `id`,`name`,`description` from `cmdb_tag` where `id` = #{value}
    </select>

    <select id="checkTagHasBeenReferredById" parameterType="java.lang.Long" resultType="int">
        select count(1) from `cmdb_resourcecenter_resource_tag` where `tag_id` = #{value}
    </select>

    <select id="getAccountIdListByAccountAndProtocol" resultType="java.lang.Long">
        SELECT `id` FROM `cmdb_resourcecenter_account`
        where `account` = #{account} and `protocol` = #{protocol}
    </select>

    <select id="getNoCorrespondingAccountResourceIdListByTagListAndAccountIdAndProtocol" resultType="java.lang.Long">
        SELECT a.`resource_id` FROM `cmdb_resourcecenter_resource_tag` a
        WHERE a.`tag_id` IN 
        <foreach collection="tagList" item="tagId" open="(" separator="," close=")">
            #{tagId}
        </foreach>
          AND NOT EXISTS (
            SELECT b.`resource_id` FROM `cmdb_resourcecenter_resource_account` b
            JOIN `cmdb_resourcecenter_account` c on c.`id` = b.`account_id` and c.`account` = #{account} and c.`protocol` = #{protocol}
            WHERE b.`resource_id` = a.`resource_id`
        )
    </select>

    <select id="checkResourceIsExistsCorrespondingAccountByResourceIdAndAccountIdAndProtocol" resultType="java.lang.Long">
        SELECT b.`resource_id` FROM `cmdb_resourcecenter_resource_account` b
        JOIN `cmdb_resourcecenter_account` c on c.`id` = b.`account_id` and c.`account` = #{account} and c.`protocol` = #{protocol}
        WHERE b.`resource_id` = #{resourceId}
        LIMIT 1
    </select>

    <select id="getAppModuleCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="int">
        SELECT COUNT(DISTINCT a.`id`) FROM ${schemaName}.`resource_appmodule` a
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getAppModuleIdList" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="java.lang.Long">
        SELECT DISTINCT a.`id` FROM ${schemaName}.`resource_appmodule` a
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getAppModuleListByIdList" parameterType="java.util.List" resultMap="resourceCenterMap">
        SELECT
               a.`id`, a.`name`, a.`maintenance_window`, a.`description`,
               b.`user_id`, b.`user_name`, b.`user_uuid`,
               c.`bg_id`, c.`bg_name`, c.`bg_uuid`,
               e.`id` AS `app_system_id`, e.`name` AS app_system_name
        FROM ${schemaName}.`resource_appmodule` a
        LEFT JOIN ${schemaName}.`resource_ipobject_owner` b ON b.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_ipobject_bg` c ON c.`resource_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appsystem_appmodule` d on d.`app_module_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appsystem` e on e.`id` = d.`resource_id`
        WHERE a.`id` IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getAppSystemCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="int">
        SELECT COUNT(DISTINCT a.`id`) FROM ${schemaName}.`resource_appsystem` a
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getAppSystemIdList" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="java.lang.Long">
        SELECT DISTINCT a.`id` FROM ${schemaName}.`resource_appsystem` a
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getAppSystemListByIdList" parameterType="java.util.List" resultMap="resourceCenterMap">
        SELECT
               a.`id`, a.`name`, a.`maintenance_window`, a.`description`
        FROM ${schemaName}.`resource_appsystem` a
        WHERE a.`id` IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="checkAppModuleIsExists" resultType="int">
        SELECT COUNT(1) FROM ${schemaName}.`resource_appmodule` WHERE `id` = #{id}
    </select>

    <select id="getEnvironmentListByAppModuleId" resultType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppEnviromentVo">
        SELECT DISTINCT a.`env_id` AS envId, a.`env_name` AS envName
        FROM ${schemaName}.`resource_ipobject_env` a
        <if test="appModuleId != null">
        JOIN ${schemaName}.`resource_ipobject_appmodule` b ON b.`resource_id`=a.`resource_id` AND b.`app_module_id` = #{appModuleId}
        </if>
    </select>

    <select id="getResourceTypeListByAppModuleIdAndEnvId" resultType="codedriver.framework.cmdb.dto.resourcecenter.ResourceTypeVo">
        SELECT DISTINCT
            a.`type_id` AS id,
            a.`type_name` AS `name`,
            a.`type_label` AS label
        FROM ${schemaName}.`resource_ipobject` a
        JOIN ${schemaName}.`resource_ipobject_env` b ON b.`resource_id` = a.`id` AND b.`env_id` = #{envId}
        JOIN ${schemaName}.`resource_ipobject_appmodule` c ON c.`resource_id`=a.`id` AND c.`app_module_id` = #{appModuleId}
    </select>
    <select id="getResourceTypeList" parameterType="java.lang.String" resultType="codedriver.framework.cmdb.dto.resourcecenter.ResourceTypeVo">
        SELECT DISTINCT
            a.`type_id` AS id,
            a.`type_name` AS `name`,
            a.`type_label` AS label
        FROM ${schemaName}.`resource_ipobject` a
    </select>

    <select id="getStatusList" parameterType="java.lang.String" resultType="codedriver.framework.cmdb.dto.resourcecenter.entity.StatusVo">
        SELECT DISTINCT `status_id` AS statusId, `status_name` AS statusName FROM ${schemaName}.`resource_ipobject_status`
    </select>

    <select id="getResourceIdListByProtocolList" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="java.lang.Long">
        SELECT DISTINCT b.`resource_id`
        FROM `cmdb_resourcecenter_account` a
        JOIN `cmdb_resourcecenter_resource_account` b ON b.`account_id` = a.`id`
        WHERE a.`protocol` IN
        <foreach collection="protocolList" item="protocol" open="(" separator="," close=")">
            #{protocol}
        </foreach>
    </select>

    <select id="getResourceIdListByTagIdList" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo" resultType="java.lang.Long">
        SELECT DISTINCT a.`resource_id`
        FROM `cmdb_resourcecenter_resource_tag` a
        WHERE a.`tag_id` IN
        <foreach collection="tagIdList" item="tagId" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </select>

    <update id="updateAccount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo">
        update `cmdb_resourcecenter_account` set
        `name` = #{name},
        `account` = #{account},
        `password` = #{password},
        `protocol` = #{protocol},
        <if test="port != null">
            `port` = #{port},
        </if>
        `lcu` = #{lcu},
        `lcd` = now(3)
        where `id` = #{id}
    </update>

    <update id="updateTag" parameterType="codedriver.framework.cmdb.dto.tag.TagVo">
        update `cmdb_tag` set
        `name` = #{name},
        `description` = #{description}
        where `id` = #{id}
    </update>

    <insert id="insertAccount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo">
        insert into `cmdb_resourcecenter_account` (
        `id`,
        `name`,
        `account`,
        `password`,
        `protocol`,
        <if test="port != null">
            `port`,
        </if>
        `lcu`,
        `lcd`,
        `fcu`,
        `fcd`
        )
        values (
        #{id},
        #{name},
        #{account},
        #{password},
        #{protocol},
        <if test="port != null">
            #{port},
        </if>
        #{lcu},
        now(3),
        #{fcu},
        now(3)
        )
    </insert>

    <insert id="insertTag" parameterType="codedriver.framework.cmdb.dto.tag.TagVo">
        insert into `cmdb_tag` (
        `id`,
        `name`,
        `description`
        ) values (
        #{id},
        #{name},
        #{description}
        )
    </insert>

    <delete id="deleteAccountById" parameterType="java.lang.Long">
        delete
        from `cmdb_resourcecenter_account`
        where `id` = #{value}
    </delete>

    <delete id="deleteTagById" parameterType="java.lang.Long">
        delete
        from `cmdb_tag`
        where `id` = #{value}
    </delete>
</mapper>
