<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSureCo.,Ltd.AllRightsReserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.resourcecenter.ResourceCenterMapper">
    <sql id="resource_dbinstance_from_where">
        FROM ${schemaName}.`resource_dbinstance` a
        LEFT JOIN ${schemaName}.`resource_dbinstance_bg` b on b.`db_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_ip` c on c.`db_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_netarea` d on d.`db_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_owner` e on e.`db_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_status` f on f.`db_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_datacenter` g on g.`db_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_env` h on h.`db_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_dbinstance_appmodule` i on i.`db_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appsystem_appmodule` j on j.`app_module_id` = i.`app_module_id`
        LEFT JOIN ${schemaName}.`resource_appsystem` l on l.`id` = j.`app_system_id`
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </sql>
    <sql id="resource_dbinstance_from_where_ip_port">
        FROM ${schemaName}.`resource_dbinstance` a
        LEFT JOIN ${schemaName}.`resource_dbinstance_ip` b on b.`db_instance_id` = a.`id`
        where a.`port` = #{port}
        and b.`ip` = #{ip}
    </sql>
    <sql id="resource_dbinstance_from_where_id">
        FROM ${schemaName}.`resource_dbinstance` a
        LEFT JOIN ${schemaName}.`resource_dbinstance_ip` b on b.`db_instance_id` = a.`id`
        where a.`id` = #{id}
    </sql>
    <sql id="resource_dbinstance_select_count">
        SELECT COUNT(1) AS `count`
        <include refid="resource_dbinstance_from_where"/>
    </sql>
    <sql id="resource_dbinstance_select_list">
        SELECT a.`id`, a.`name`, a.`type_id`, a.`type_name`, a.`maintenance_window`, a.`description`, a.`port`,
        b.`bg_id`, b.`bg_name`,
        c.`ip`,
        e.`user_id`, e.`user_name`,
        h.`env_id`, h.`env_name`,
        i.`app_module_id`, i.`app_module_name`,
        l.`id` AS `app_system_id`, l.`name` AS app_system_name
        <include refid="resource_dbinstance_from_where"/>
    </sql>
    <sql id="resource_dbinstance_select_id">
        SELECT a.`id`
        <include refid="resource_dbinstance_from_where_ip_port"/>
    </sql>
    <sql id="resource_dbinstance_select_ip_port">
        SELECT a.`id`, a.`port`, b.`ip`
        <include refid="resource_dbinstance_from_where_id"/>
    </sql>
    <sql id="resource_appinstance_from_where">
        FROM ${schemaName}.`resource_appinstance` a
        LEFT JOIN ${schemaName}.`resource_appinstance_bg` b ON b.`app_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_ip` c ON c.`app_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_netarea` d ON d.`app_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_owner` e ON e.`app_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_status` f ON f.`app_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_datacenter` g on g.`app_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_env` h on h.`app_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appinstance_appmodule` i on i.`app_instance_id` = a.`id`
        LEFT JOIN ${schemaName}.`resource_appsystem_appmodule` j on j.`app_module_id` = i.`app_module_id`
        LEFT JOIN ${schemaName}.`resource_appsystem` l on l.`id` = j.`app_system_id`
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </sql>
    <sql id="resource_appinstance_from_where_ip_port">
        FROM ${schemaName}.`resource_appinstance` a
        LEFT JOIN ${schemaName}.`resource_appinstance_ip` b on b.`app_instance_id` = a.`id`
        where a.`port` = #{port}
        and b.`ip` = #{ip}
    </sql>
    <sql id="resource_appinstance_from_where_id">
        FROM ${schemaName}.`resource_appinstance` a
        LEFT JOIN ${schemaName}.`resource_appinstance_ip` b on b.`app_instance_id` = a.`id`
        where a.`id` = #{id}
    </sql>
    <sql id="resource_appinstance_select_count">
        SELECT COUNT(1)  AS `count`
        <include refid="resource_appinstance_from_where"/>
    </sql>
    <sql id="resource_appinstance_select_list">
        SELECT a.`id`, a.`name`, a.`type_id`, a.`type_name`, a.`maintenance_window`, a.`description`, a.`port`,
        b.`bg_id`, b.`bg_name`,
        c.`ip`,
        e.`user_id`, e.`user_name`,
        h.`env_id`, h.`env_name`,
        i.`app_module_id`, i.`app_module_name`,
        l.`id` AS `app_system_id`, l.`name` AS app_system_name
        <include refid="resource_appinstance_from_where"/>
    </sql>
    <sql id="resource_appinstance_select_id">
        SELECT a.`id`
        <include refid="resource_appinstance_from_where_ip_port"/>
    </sql>
    <sql id="resource_appinstance_select_ip_port">
        SELECT a.`id`, a.`port`, b.`ip`
        <include refid="resource_appinstance_from_where_id"/>
    </sql>
    <select id="getResourceCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceVo" resultType="int">
        SELECT SUM(uniontemp.`count`) FROM (
        <include refid="resource_appinstance_select_count"/>
        UNION ALL
        <include refid="resource_dbinstance_select_count"/>
        ) uniontemp
    </select>

    <resultMap id="resourceCenterMap" type="codedriver.framework.cmdb.dto.resourcecenter.ResourceVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type_id" property="typeId"/>
        <result column="type_name" property="typeName"/>
        <result column="maintenance_window" property="maintenanceWindow"/>
        <result column="description" property="description"/>
        <result column="port" property="port"/>
        <result column="ip_id" property="ipId"/>
        <result column="ip" property="ip"/>
        <result column="env_id" property="envId"/>
        <result column="env_name" property="envName"/>
        <result column="app_module_id" property="appModuleId"/>
        <result column="app_module_name" property="appModuleName"/>
        <result column="app_system_id" property="appSystemId"/>
        <result column="app_system_name" property="appSystemName"/>
        <collection property="bgList" ofType="codedriver.framework.cmdb.dto.resourcecenter.BgVo">
            <id column="bg_id" property="bgId"/>
            <result column="bg_name" property="bgName"/>
        </collection>
        <collection property="ownerList" ofType="codedriver.framework.cmdb.dto.resourcecenter.OwnerVo">
            <id column="user_id" property="userId"/>
            <result column="user_name" property="userName"/>
        </collection>
    </resultMap>

    <select id="getResourceList" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceVo" resultMap="resourceCenterMap">
        <include refid="resource_appinstance_select_list"/>
        UNION ALL
        <include refid="resource_dbinstance_select_list"/>
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getResourceIdByIpAndPort" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceVo" resultType="java.lang.Long">
        <include refid="resource_appinstance_select_id"/>
        UNION ALL
        <include refid="resource_dbinstance_select_id"/>
        LIMIT 1
    </select>

    <select id="getResourceIpPortById" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceVo" resultMap="resourceCenterMap">
        <include refid="resource_appinstance_select_ip_port"/>
        UNION ALL
        <include refid="resource_dbinstance_select_ip_port"/>
        LIMIT 1
    </select>

    <select id="getTagNameListByResourceId" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT `name`
        FROM `cmdb_resourcecenter_tag` a
        JOIN `cmdb_resourcecenter_resource_tag` b ON b.`tag_id` = a.`id` AND b.`resource_id` = #{value}
    </select>

    <select id="getAccountCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo" resultType="int">
        SELECT COUNT(1) FROM `cmdb_resourcecenter_account`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getAccountListForSelect" parameterType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo" resultType="codedriver.framework.cmdb.dto.resourcecenter.AccountVo">
        SELECT `id`, `name` FROM `cmdb_resourcecenter_account`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getTagCount" parameterType="codedriver.framework.cmdb.dto.resourcecenter.TagVo" resultType="int">
        SELECT COUNT(1) FROM `cmdb_resourcecenter_tag`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getTagListForSelect" parameterType="codedriver.framework.cmdb.dto.resourcecenter.TagVo" resultType="codedriver.framework.cmdb.dto.resourcecenter.TagVo">
        SELECT `id`, `name` FROM `cmdb_resourcecenter_tag`
        <where>
            <if test="keyword != null and keyword != ''">
                `name` like concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="getAccountIdListByAccountAndProtocol" resultType="java.lang.Long">
        SELECT `id` FROM `cmdb_resourcecenter_account`
        where `account` = #{account} and `protocol` = #{protocol}
    </select>

    <select id="getNoCorrespondingAccountResourceIdListByTagListAndAccountIdAndProtocol" resultType="java.lang.Long">
        SELECT a.`resource_id` FROM `cmdb_resourcecenter_resource_tag` a
        WHERE a.`tag_id` IN 
        <foreach collection="tagList" item="tagId" open="(" separator="," close=")">
            #{tagId}
        </foreach>
          AND NOT EXISTS (
            SELECT b.`resource_id` FROM `cmdb_resourcecenter_resource_account` b
            JOIN `cmdb_resourcecenter_account` c on c.`id` = b.`account_id` and c.`account` = #{account} and c.`protocol` = #{protocol}
            WHERE b.`resource_id` = a.`resource_id`
        )
    </select>

    <select id="checkResourceIsExistsCorrespondingAccountByResourceIdAndAccountIdAndProtocol" resultType="java.lang.Long">
        SELECT b.`resource_id` FROM `cmdb_resourcecenter_resource_account` b
        JOIN `cmdb_resourcecenter_account` c on c.`id` = b.`account_id` and c.`account` = #{account} and c.`protocol` = #{protocol}
        WHERE b.`resource_id` = #{resourceId}
        LIMIT 1
    </select>
</mapper>