<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.globalsearch.GlobalSearchMapper">
    <select id="searchCiEntityCountByWord" resultType="codedriver.framework.cmdb.dto.ci.CiVo">
        select count(distinct cientity.id) as ciEntityCount,
        ci.id as id,
        ci.name as name,
        ci.label as label,
        ci.icon as icon
        from cmdb_ci ci
        join cmdb_cientity cientity on ci.id = cientity.ci_id
        join fulltextindex_target_cmdb b on cientity.id = b.target_id and b.target_type = 'cientity'
        join fulltextindex_field_cmdb c on b.target_id = c.target_id
        join fulltextindex_word d on c.word_id = d.id
        where d.word in
        <foreach collection="wordList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        group by ci.id
    </select>
</mapper>
