<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.cmdb.dao.mapper.sync.SyncAuditMapper">
    <select id="getDoingSyncByCiId" parameterType="java.lang.Long"
            resultType="codedriver.framework.cmdb.dto.sync.SyncAuditVo">
        select a.id,
               a.sync_config_id       AS syncConfigId,
               a.start_time           AS startTime,
               a.end_time             AS endTime,
               a.input_from           AS inputFrom,
               a.status,
               a.transaction_group_id AS transactionGroupId,
               a.server_id            AS serverID
        from cmdb_ci_sync_audit a
                 join cmdb_ci_sync_config b on
            a.sync_config_id = b.id
        where b.ci_id = #{value}
          and a.status = 'doing'
    </select>

    <update id="updateSyncAuditStatus" parameterType="codedriver.framework.cmdb.dto.sync.SyncAuditVo">
        UPDATE
            cmdb_ci_sync_audit
        SET end_time = NOW(3),
            status   = #{status}
        WHERE id = #{id}
    </update>

    <insert id="insertSyncAudit" parameterType="codedriver.framework.cmdb.dto.sync.SyncAuditVo">
        INSERT INTO cmdb_ci_sync_audit (id,
                                        sync_config_id,
                                        start_time,
                                        input_from,
                                        status,
                                        transaction_group_id,
                                        server_id)
        VALUES (#{id},
                #{syncConfigId},
                NOW(3),
                #{inputFrom},
                #{status},
                #{transactionGroupId},
                #{serverId})
    </insert>
</mapper>
