<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.cmdb.dao.mapper.globalsearch.GlobalSearchMapper">
    <select id="searchCiEntityCountByWord" resultType="neatlogic.framework.cmdb.dto.ci.CiVo">
        select count(distinct cientity.id) as ciEntityCount,
        ci.id as id,
        ci.name as name,
        ci.label as label,
        ci.icon as icon
        from cmdb_ci ci
        join cmdb_cientity cientity on ci.id = cientity.ci_id
        join fulltextindex_target_cmdb b on cientity.id = b.target_id and b.target_type = 'cientity'
        join fulltextindex_field_cmdb c on b.target_id = c.target_id
        join fulltextindex_word d on c.word_id = d.id
        where d.word in
        <foreach collection="wordList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        group by ci.id
    </select>
</mapper>
